<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理用户账号</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
    <h1 class="wp ma-header ">管理用户账号</h1>
    <div class="wp ma-head-box clearfix">
        <div class="fl">
            <div class="ma-title-select-container fl">
                <p>姓名</p>
                <ul>
                    <li>登录名</li>
                    <li>姓名</li>
                    <li>职务</li>
                    <li>备注</li>
                    <li>创建时间</li>
                </ul>
                <span></span>
            </div>
            <div class="ma-search fl">
                <input type="hidden" />
                <input type="hidden" />
                <input type="text" placeholder="请输入姓名进行模糊搜索" class="ma-search-input">
                <input type="button" value="搜索" class="ma-search-btn">
            </div>

        </div>
        <div class="fr ma-handle-btn">
            <a href="#" class="ma-user-apply-list-btn" id="ma-user-apply-list-btn">用户申请列表</a>
            <a href="#" class="ma-new-user-btn" id="ma-new-user-btn">新建用户</a>
            <a href="#" class="ma-refresh-btn" id="ma-refresh-btn">刷新</a>
        </div>
    </div>
    <div class="wp ma-userlist-container">
        <table>
            <tr class="ma-userlist-title">
                <th style="width:10%;">登录名</th>
                <th style="width:10%;">姓名</th>
                <th style="width:10%;">职务</th>
                <th style="width:20%;">备注</th>
                <th style="width:20%;">创建时间</th>
                <th>操作</th>
            </tr>
            <!--<tr>-->
               <!--<td class="login-name"></td>-->
               <!--<td></td>-->
               <!--<td></td>-->
               <!--<td></td>-->
               <!--<td></td>-->
               <!--<td class="ma-handle-use">-->
                   <!--<a href="/newCreate" onclick="$.cookie('editUser',encodeURIComponent($(this).parent().parent().find('.login-name').text()))" >修改</a>-->
                   <!--<span>|</span>-->
                   <!--<a href="#">删除</a>-->
                   <!--<span>|</span>-->
                   <!--<a href="#">查看浏览记录</a>-->
               <!--</td>-->
            <!--</tr>-->

        </table>
    </div>

    <div class="ma-pages wp clearfix">
        <div class="fl">
            <p>共 <span class="ma-list-num">0</span>条记录 第 <span class="ma-current-page">1</span>/ <span class="ma-allPages">1</span> 页</p>
        </div>
        <div class="fl ma-page-box"></div>

    </div>
    <script src="../javascripts/accountManage.js"></script>
    <script src="../javascripts/jquery.page.js"></script>

    <script>

            $('#ma-new-user-btn').on('click',function(){
                $.cookie('editUser','create');
                $('#account-manage-iframe',parent.document).attr('src','/newCreate');
            });
            $('#ma-user-apply-list-btn').on('click',function(){
                $('#account-manage-iframe',parent.document).attr('src','/applyList');
            });
            $('#ma-refresh-btn').on('click',function(){
                window.location.reload();
            });
            var newIp=newIpNum;//8080端口的
            var loginName=decodeURIComponent($.cookie('login_user'));
            var token=$.cookie('login_token');
            var dogId = $.cookie('dogId');
            var pageNum=1;
            var currentPage=1;
            var userList;
            var searchList=[];
            var delDogId;
//            $.ajax({
//                url:'http://'+newIp+'/jwcloud-interface/Jwcloud?interface=getApplyForList&loginName='+loginName+'&token='+token,
//                type:'POST',
//                success:function(dataStr){
//                    var data = eval('('+dataStr+')');
//                    if(data.status == 0){
//                        if(data.applyList.length !=0 ){
//                            $('.ma-user-apply-list-btn').addClass('ma-user-apply-news');
//                        }
//                    }else{
//
//                    }
//                },
//                error:function(err){
//                    console.log(err);
//                }
//            });
            $.ajax({
                url:'http://'+newIp+'/jwcloud/user/findUser',
                type:'POST',
                async: false,
                data:{
                    dogId:dogId
                },
                xhrFields:{
                    withCredentials:true
                },
                success:function(data){
                    if(data.status == 0){
                        userList=data.userList;
                        pageNum=Math.ceil(userList.length/20);
                        getCurrentData(1);
                    }else if(data.status==-1){
                        parent.layer(false,'您还没有登录，请点击“确定”返回登录页');
                    }
                },
                error:function(err){

                }
            });

            function loadCurrent(n){
                currentPage=$(n).text();
                getCurrentData(currentPage);
            }
            function getCurrentData(n){
                var list;
                if(searchList.length>0){
                    list=searchList;
                }else{
                    list=userList;
                }
                $('.ma-pages .ma-list-num').text(list.length);
                $('.ma-pages .ma-allPages').text(pageNum);
                $(document).scrollTop(0);
                $('.ma-current-page').text(n);
                $('.ma-userlist-container table').html('');
                var tableTitle='<tr class="ma-userlist-title">'+
                    '<th width="10%">登录名</th>'+
                    '<th width="10%">姓名</th>'+
                    '<th width="10%">职务</th>'+
                    '<th width="20%">备注</th>'+
                    '<th width="20%">创建时间</th>'+
                    '<th>操作</th></tr>';
                $('.ma-userlist-container table').append(tableTitle);
                for(var i=(20*(n-1));i<(20*(n-1)+20);i++){
                    var trBg='';
                    if(i%2 != 0){
                        trBg='ma-bg-green';
                    }else{
                        trBg='';
                    }
                    if(!!list[i]){
                        var username=list[i].username;
                        var fullname=list[i].fullName;
                        var dogID=list[i].id;
                        var team=list[i].team;
                        var time=list[i].date;
                        var remark=list[i].remark;
                        var checkIsSelf='';
                        if(loginName == username){
                            checkIsSelf='redMark'
                        }
                        var oTr='<tr class="'+checkIsSelf+' '+trBg+'"><td class="login-name" data="'+dogID+'">'+username+'</td>'+
                            '<td>'+fullname+'</td>'+
                            '<td>'+team+'</td>'+
                            '<td>'+remark+'</td>'+
                            '<td>'+time+'</td>'+
                            '<td class="ma-handle-use">'+
                            '<a href="/newCreate" onclick="clickSetReviseCookie(this)" >修改</a>'+
                            '<span>|</span>'+
                            '<a href="javascript:void(0);" onclick="deleteUser(this)">删除</a>'+
                            '<span>|</span>'+
                            '<a href="/historyList" onclick="clickSetSeeCookie(this)">查看浏览记录</a></td></tr>';
                        $('.ma-userlist-container table').append(oTr);
                    }
                }

                $('.ma-page-box').createPage(function(n){

                },{
                    pageCount:pageNum,
                    current:currentPage,
                    showPrev:true,//是否显示上一页按钮
                    showNext:true//是否显示下一页按钮
                },{
                    "color":"#4a7ec6",
                    "height":36,
                    "pagesMargin":4,
                    "borderColor":"#d2d2d2",
                    "currentColor":"#fff",
                    "disableColor":'#787878',
                    "prevNextWidth":60
                });
            }
            function clickSetReviseCookie(n){
                $.cookie("editUser",encodeURIComponent($(n).parent().parent().find(".login-name").attr('data')));
            }
            function clickSetSeeCookie(n){
                $.cookie("historyID",encodeURIComponent($(n).parent().parent().find(".login-name").attr('data')));
                $.cookie("historyName",encodeURIComponent($(n).parent().parent().find(".login-name").text()));
            }
            function nextPage(){
                currentPage++;
                getCurrentData(currentPage);
            }
            function prevPage(){
                currentPage--;
                getCurrentData(currentPage);
            }
            function skipPage(){
                currentPage=$('.ma-page-input').val();
                var reg=/\d/g;
                if(!reg.test(currentPage) || page>_this.args.pageCount || page<1){

                }else{
                    getCurrentData(currentPage);
                }
            }
            function deleteUser(n){
                delDogId=$(n).parent().parent().find('.login-name').attr('data');
                console.log(delDogId);
                $('.delHints',parent.document).show();
                $('.layer-bg',parent.document).show();
            }
            $('.delHints .del-hints-no',parent.document).on('click',function(){
                console.log(delDogId);
                delDogId='';
            });
            $('.delHints .del-hints-yes',parent.document).on('click',function(){
                console.log(delDogId);
                if(!!delDogId){
                    $.ajax({
                        url:'http://'+newIp+'/jwcloud/user/deleteUser',
                        type:'POST',
                        data:{
                            dogId:dogId,
                            delDogId:delDogId
                        },
                        xhrFields:{
                            withCredentials:true
                        },
                        success:function(data){
                            if(data.status == 0){
                                $('.delHints img',parent.document).attr({
                                    src : "../images/icon_upload_complete.png"
                                });
                                $('.delHints .hints-txt',parent.document).text('删除成功');
                                $('.delHints .hints-layer-btn',parent.document).hide();
                                setTimeout(function(){
                                    $('.delHints',parent.document).hide();
                                    $('.layer-bg',parent.document).hide();
                                    $('.delHints img',parent.document).attr({
                                        src : "../images/icon-del-hints.png"
                                    });
                                    $('.delHints .hints-txt',parent.document).text('确定删除该用户吗？');
                                    $('.delHints .hints-layer-btn',parent.document).show();
                                    window.location.reload();
                                },1000);
                            }else{
                                ;
                            }
                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                }

            });

            //下拉框
            $('.ma-title-select-container').on('click',function(){

                if($('.ma-title-select-container ul').css('display')=='none'){
                    $('.ma-title-select-container ul').show();
                    $('.ma-title-select-container p').addClass('border-b0');
                    $('.ma-title-select-container span').css({transform:'rotate(180deg)','margin-top':'-6px'})
                }else{
                    $('.ma-title-select-container p').removeClass('border-b0');
                    $('.ma-title-select-container ul').hide();
                    $('.ma-title-select-container span').css({transform:'rotate(0)','margin-top':'0'})

                }
                $(document).on('click',function(){
                    $('.ma-title-select-container ul').hide();
                    $('.ma-title-select-container span').css({transform:'rotate(0)','margin-top':'0'})
                });
                return false;
                e.stopPropagation();
            });

            $('.ma-title-select-container ul li').on('click',function(){
                $('.ma-title-select-container p').text($(this).text());
                $('.ma-search-input').attr('placeholder','请输入'+$(this).text()+'进行模糊搜索')
            });
            //搜索
            $('.ma-search-btn').on('click',function(){
                searchList=[];
                var searchType=$('.ma-title-select-container p').text();
                var searchContent=$('.ma-search-input').val();
                console.log(searchType,searchContent);
                switch (searchType){
                    case '姓名':
                        searchType='fullName';
                        break;
                    case '登录名':
                        searchType='username';
                        break;
                    case '职务':
                        searchType='team';
                        break;
                    case '备注':
                        searchType='remark';
                        break;
                    case '创建时间':
                        searchType='time';
                        break;
                }
                for(var i=0;i<userList.length;i++){
                    if(userList[i][searchType].indexOf(searchContent) != -1){
                        searchList.push(userList[i]);
                    }
                }
                currentPage=1;
                if(searchList.length==0){
                    pageNum=Math.ceil(userList.length/20);
                    layerBox(false,'没有搜索到结果请重新搜索');
                }else{
                    pageNum=Math.ceil(searchList.length/20);
                }
                getCurrentData(1);
            });


    </script>


</body>
</html>