<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/webuploader.css" />
	<script typet="text/javascript" src="../javascripts/jquery-1.8.3.min.js"></script>
	<script src="../javascripts/jquery.cookie.js"></script>
	<script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
	</script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
		codebase="DogAuth.CAB#version=2,3,1,58083"
		classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>

	<div class="header clearfix">
		<div class="logo fl">
			<img src="../images/pic_upload_logo.png" alt="police-cloud-logo" style="margin-top: -10px" />
			<span>甘井子蓝海云搜索平台</span>
			<i>|</i>
			<b>管理后台</b>
		</div>
		<div class="login-info fr">
			<span>欢迎您，<i></i></span>
			<a href="javascript:void(0);"><i></i>退出</a>
		</div>
	</div>
	<div class="admin-manage-section clearfix">
		<div class="menu fl">
			<ul class="manage-nav">
				<li class="account-btn"><a href="javascript:void(0);"><i></i>管理用户账号</a></li>
				<li class="on"><a href="javascript:void(0);"><i></i>上传数据</a></li>
				<li class="up-forms-btn"><a href="javascript:void(0);"><i></i>上传取证报表</a></li>
				<li class="manage-source-btn"><a href="javascript:void(0);"><i></i>数据源管理</a></li>
				<% if(isHighAdmin){ %>
				<li class="white-list"><a href="javascript:void(0);"><i></i>白名单管理</a></li>
				<% } %>
				<li class="server-btn"><a href="javascript:void(0);"><i></i>服务器概况</a></li>
			</ul>
		</div>
		<div class="connent">
			<div class="connent-box">
				<div class="manage-box">
					<iframe src="" frameborder="0" class="account-manage-iframe" id="account-manage-iframe"></iframe>
				</div>
			</div>
			<div class="connent-box uploader-box"   style="display: block;">
				<div class="uploader-box-header">
					上传数据
				</div>
				<div class="uploader-tag">
					<span></span>
					上传数据
				</div>
				<div class="uploader-container ">
					<div class="uploader-class-box clearfix">
						<div class="fl">
							<span class="fl">文件类别:</span>
							<div class="search-select search-select-title fl">
								<p class="search-class-value"><span id="source-class-value">选择上传的类别</span><i class="fr"></i></p>
								<div class="search-select-box">
									<div class="search-class-option" id="source-class-list">
										<div class="slipe-box">
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="fl search-second-change">
							<span class="fl">二级类目:</span>
							<div class="search-select search-select-title fl">
								<p class="search-second-class-value"><span id="source-second-class-value">选择上传的二级类目</span><i class="fr"></i></p>
								<div class="search-select-box">
									<div class="search-second-class-option" id="source-second-class-list">
										<div class="slipe-box">

										</div>
									</div>
								</div>

							</div>
							<div class="search-cover search-second-class-cover"></div>
						</div>
					</div>
					<div class="uploader-source clearfix">
						<span class="fl">上传至：</span>
						<div class="search-select search-select-title fl">
							<p class="search-select-value"><span id="source-value">选择上传的目标数据源</span><i class="fr"></i></p>
							<div class="search-select-box">
								<div class="search-source-input">
									<input type="text" />
									<img src="../images/icon_search_select_search.png" alt="search" />
								</div>
								<div class="search-select-option" id="search-select-allsource">
									<div class="slipe-box">

									</div>
								</div>

							</div>

						</div>
						<div class="search-cover search-source-cover"></div>
						<div class="fl uploader-create-source-btn">
							新建数据源
						</div>

					</div>
					<p class="uploader-source-hints">新数据请新建数据源，同一数据源需要保证数据格式完全一致。</p>

					<div class="uploader-btn">批量上传</div>

					<div class="uploader-data-view">
						<div class="uploader-data-view-title">
							<span>数据概览:</span>
							<a href="javascript:void(0);" class="view-change uploader-view-change-btn"><i></i>修改字段</a>
							<em>|</em>
							<a href="javascript:void(0);" class="view-add uploader-view-add-btn"><i></i>添加字段</a>
							<em>|</em>
							<a><b>*</b>1星字段需点击"查看详情"进行浏览、2星字段在搜索摘要中显示、三星字段为唯一字段，可精准匹配；选中筛选时间后，搜索的时间范围即为该字段标明时间</a>
							<div class="noEtidHints">
								<p>向已有数据源上传文件，需使用该数据源字段，不能编辑字段，如需编辑字段，请新建其他数据源</p>
								<span></span>
							</div>
						</div>

						<div class="uploader-data-table">

							<div class="uploader-source-title">

								<h2 class="fl">该数据源字段</h2>
								<table>
									<tbody class="uploader-source-table">
										<tr>
											<!--<th>-->
												<!--<div class="table-title fl">230121199211080612</div>-->
												<!--<div class="fl">-->
													<!--<div class="clearfix add-mark-btn">-->
														<!--<p class="fl">-->
															<!--<span></span>-->
															<!--<span></span>-->
															<!--<span></span>-->
														<!--</p>-->
														<!--<p class="fl">添加标识</p>-->
													<!--</div>-->
													<!--<div class="search-grade search-only-field fl">-->
														<!--<span class=search-grade-title""></span>-->
														<!--<i></i>-->
														<!--<div class="search-grade-list">-->
															<!--<span>姓名</span>-->
															<!--<span>性别</span>-->
															<!--<span>其他</span>-->
														<!--</div>-->

													<!--</div>-->
													<!--<div class="add-mark-box">-->
														<!--<dl>-->
															<!--<dt>星级</dt>-->
															<!--<dd>-->
																<!--<input type="radio" id="start1">-->
																<!--<label for="start1">一星</label>-->
															<!--</dd>-->
															<!--<dd>-->
																<!--<input type="radio" id="start2">-->
																<!--<label for="start2">二星</label>-->
															<!--</dd>-->
															<!--<dd>-->
																<!--<input type="radio" id="start3">-->
																<!--<label for="start3">三星</label>-->
															<!--</dd>-->
														<!--</dl>-->
														<!--<span></span>-->
														<!--<dl>-->
															<!--<dt>经纬</dt>-->
															<!--<dd>-->
																<!--<input type="radio" id="longitude" />-->
																<!--<label for="longitude">经度</label>-->
															<!--</dd>-->
															<!--<dd>-->
																<!--<input type="radio" id="latitude" />-->
																<!--<label for="latitude">经度</label>-->
															<!--</dd>-->
														<!--</dl>-->
														<!--<span></span>-->
														<!--<dl>-->
															<!--<dt>时间</dt>-->
															<!--<dd>-->
																<!--<input type="radio" id="screen-time" />-->
																<!--<label for="screen-time">筛选时间</label>-->
															<!--</dd>-->
														<!--</dl>-->
													<!--</div>-->

												<!--</div>-->
											<!--</th>-->
										</tr>
									</tbody>
								</table>
							</div>
							<div class="read-file-box">从第 <input type="text" class="read-file-line" id="read-file-line" /> 行读取文件</div>
							<table>
								<tbody class="load-view-table">

								</tbody>

							</table>
						</div>
						<div class="upload-qrcode-box">
							<div id="fileList" class="uploader-list"></div>
							<div id="upload-qrcode" class="fl upload-qrcode"></div>
							<div class="upload-edit"></div>
						</div>
						<div class="uploader-rights-view">
							<h2>查看权限：</h2>
							<div class="uploader-view-container clearfix">
								<div class="fl mr50 pos-r">
									<input name="rights" type="radio" id="all-user" checked="true" /><label for="all-user" class="special-all-sel">所有用户可见</label>

								</div>
								<div class="fl mr50 pos-r">
									<input name="rights" type="radio" id="special-team" /><label for="special-team" class="special-team-sel">指定用户组可见</label>
									<div class="special-box special-team-box">
										<div class="special-title clearfix" >
											<h2 class="fl">选择用户组</h2>
											<p class="fr"><input type="button" value="确定" class="special-team-confirm" /><input type="button" value="取消" class="special-team-off"/> </p>
										</div>
										<div class="special-list">
											<ul class="clearfix special-team-ul">

											</ul>
										</div>
									</div>
								</div>
								<div class="fl mr50 pos-r">
									<input name="rights" type="radio" id="special-user" /><label for="special-user" class="special-user-sel">指定用户可见</label>
									<div class="special-box special-user-box">
										<div class="special-title clearfix" >
											<h2 class="fl">选择用户</h2>
											<p class="fr"><input type="button" value="确定" class="special-user-confirm" /><input type="button" value="取消" class="special-user-off"/> </p>
										</div>
										<div class="special-list">
											<ul class="clearfix special-user-ul">
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
						<p class="uploader-view-btn">
							<input type="button" value="确定" class="uploader-view-confirm" />
							<button class="uploader-view-continue" id="uploader-view-continue" >继续上传</button>
							<input type="button" value="取消上传" class="uploader-view-cancel">
						</p>
					</div>
					<div id="picker" class="picker"></div>
				</div>
			</div>
			<!--报表上传-->
			<div class="connent-box">
				<div class="manage-box">
					<iframe src="" frameborder="0" class="account-manage-iframe" id="upload-forms-iframe"></iframe>
				</div>
			</div>

			<!--报表上传end-->

			<!-- vinnie start 数据源管理 -->
			<div class="connent-box">
				<div class="manage-box">
					<iframe src="" frameborder="0" class="w-account-manage-iframe" id="w-account-manage-iframe"></iframe>
				</div>
			</div>
			<!-- vinnie end 数据源-->
			<% if(isHighAdmin){ %>
			<!--白名单-->
			<div class="connent-box white-list-container" >
				<div class="manage-box">
					<iframe src="" frameborder="0" class="manage-white-list" id="manage-white-list"></iframe>
				</div>
			</div>
			<!---->
			<% } %>
			<div class="connent-box server-box" >
				<div class="uploader-box-header">
					服务器概况
				</div>
				<div class="server-b">
					<div class="uploader-press-container">
						<div class="uploader-tag">
							<span></span>
							上传文件进程（<i class="press-complete-num">0</i>/<i class="press-all-num">0</i>）
						</div>
						<div class="press-container">
							<ul class="clearfix">
								<!--<li class="clearfix fl">-->
									<!--<h2 class="fl">进程1</h2>-->
									<!--<div class="fl press-bar-container">-->
										<!--<div class="press-box">-->
											<!--<span class="press-bar"></span>-->
										<!--</div>-->
										<!--<p class="clearfix">-->
											<!--<span class="fl press-source-name">通讯录</span>-->
											<!--<span class="fr press-rate">上传完成</span>-->
										<!--</p>-->

									<!--</div>-->
									<!--<a href="javascript:void(0);" class="fr press-del">删除</a>-->
								<!--</li>-->
								<!--<span class="press-line fl"></span>-->
							</ul>

						</div>
					</div>
					<div class="uploader-tag">
						<span></span>
						服务器信息量
					</div>
					<div class="serverDataCount">
						<h2>
							服务器现有数据量条数: <span>0</span> 条
						</h2>
					</div>

					<div class="uploader-tag">
						<span></span>
						服务器概况
					</div>
					<div class="server-container">
						<ul class="clearfix">
							<li class="fl server-content">
								<h2>服务器1</h2>
								<div class="clearfix server-list-box">
									<ul class="fl">
										<li class="clearfix">
											<p class="fl server-content-title">1、 服务器名称：</p>
											<p class="fl server-content-txt">Dell PowerEdge</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">2、 型号：</p>
											<p class="fl server-content-txt">R730</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">3、 处理器：</p>
											<p class="fl server-content-txt">Xeon E5-2603 v4</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">4、 操作系统：</p>
											<p class="fl server-content-txt">Linux</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">5、 Raid卡缓存：</p>
											<p class="fl server-content-txt">1G缓存</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">7、 内存类型：</p>
											<p class="fl server-content-txt">ECC</p>
										</li>

									</ul>
									<ul class="fl">
										<li class="clearfix">
											<p class="fl server-content-title">8、 内存容量：</p>
											<p class="fl server-content-txt">16G</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">9、 硬盘类型：</p>
											<p class="fl server-content-txt">SAS</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">10、 硬盘容量：</p>
											<div class="fl server-content-txt hard-pan-size">
												<canvas id="hard-pan1" width="80" height="80"></canvas>
											</div>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">11、 服务器状态：</p>
											<p class="fl server-content-txt server-status">正常</p>
										</li>
									</ul>
								</div>
							</li>
							<li class="fl server-content" style="margin-right: 0;">
								<h2>服务器2</h2>
								<div class="clearfix server-list-box">
									<ul class="fl">
										<li class="clearfix">
											<p class="fl server-content-title">1、 服务器名称：</p>
											<p class="fl server-content-txt">Dell PowerEdge</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">2、 型号：</p>
											<p class="fl server-content-txt">R730</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">3、 处理器：</p>
											<p class="fl server-content-txt">Xeon E5-2603 v4</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">4、 操作系统：</p>
											<p class="fl server-content-txt">Linux</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">6、 Raid卡缓存：</p>
											<p class="fl server-content-txt">1G缓存</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">7、 内存类型：</p>
											<p class="fl server-content-txt">ECC</p>
										</li>

									</ul>
									<ul class="fl">
										<li class="clearfix">
											<p class="fl server-content-title">8、 内存容量：</p>
											<p class="fl server-content-txt">16G</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">9、 硬盘类型：</p>
											<p class="fl server-content-txt">SAS</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">10、 硬盘容量：</p>
											<div class="fl server-content-txt hard-pan-size">
												<canvas id="hard-pan2" width="80" height="80"></canvas>
											</div>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">11、 服务器状态：</p>
											<p class="fl server-content-txt server-status">正常</p>
										</li>
									</ul>
								</div>
							</li>
							<li class="fl server-content">
								<h2>服务器3</h2>
								<div class="clearfix server-list-box">
									<ul class="fl">
										<li class="clearfix">
											<p class="fl server-content-title">1、 服务器名称：</p>
											<p class="fl server-content-txt">Dell PowerEdge</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">2、 型号：</p>
											<p class="fl server-content-txt">R730</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">3、 处理器：</p>
											<p class="fl server-content-txt">Xeon E5-2603 v4</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">4、 操作系统：</p>
											<p class="fl server-content-txt">Linux</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">6、 Raid卡缓存：</p>
											<p class="fl server-content-txt">1G缓存</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">7、 内存类型：</p>
											<p class="fl server-content-txt">ECC</p>
										</li>

									</ul>
									<ul class="fl">
										<li class="clearfix">
											<p class="fl server-content-title">8、 内存容量：</p>
											<p class="fl server-content-txt">16G</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">9、 硬盘类型：</p>
											<p class="fl server-content-txt">SAS</p>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">10、 硬盘容量：</p>
											<div class="fl server-content-txt hard-pan-size">
												<canvas id="hard-pan3" width="80" height="80"></canvas>
											</div>
										</li>
										<li class="clearfix">
											<p class="fl server-content-title">11、 服务器状态：</p>
											<p class="fl server-content-txt server-status">正常</p>
										</li>
									</ul>
								</div>
							</li>

						</ul>
					</div>
				</div>

			</div>

			<div class="new-creatsource-box layer-layout" >
				<span class="box-off" ></span>
				<h2>新建数据源</h2>
				<input type="text" placeholder="请输入数据源名称" class="new-source-txt" id="new-source-txt" >
				<p><input type="button" value="确定" class="new-creat-confirm fl"><input type="button" value="取消" class="new-creat-concel fr"></p>
			</div>
			<div class="creat-link layer-layout">
				<div class="creat-link-waiting"></div>
				<div class="creat-link-hints">
					<span class="box-off"></span>
					<img src="../images/icon_upload_complete.png" alt="hints-icon" class="hints-icon"/>
					<p class="hints-txt"></p>
					<p class="hints-layer-btn clearfix"><input type="button" value="知道了" class="creat-link-know"></p>
				</div>
			</div>
			<div class="hints-layer layer-layout">
				<span class="box-off" id=""></span>
				<img src="../images/icon_upload_complete.png" alt="hints-icon" class="hints-icon"/>
				<p class="hints-txt">数据源创建完成</p>
				<p class="hints-layer-btn clearfix"><input type="button" value="重新创建" class="recreat-confirm fl"><input type="button" value="取消" class="new-creat-concel fr"></p>
			</div>
			<div class="layer-bg"></div>
		</div>
	</div>
	<div class="hints-box">
		<img src="" alt="">
		<p class="hints-text"></p>
	</div>
	<div class="append"></div>
	<div class="delHints layer-layout">
		<div class="del-Hints-box">
			<span class="box-off"></span>
			<img src="../images/icon-del-hints.png" alt="hints-icon" class="hints-icon"/>
			<p class="hints-txt">确定删除该用户吗？</p>
			<p class="hints-layer-btn"><input type="button" value="确定" class="del-hints-yes"><input type="button" value="取消" class="del-hints-no"/></p>
		</div>
	</div>
<div class="delSource layer-layout">
	<div class="del-Hints-box">
		<span class="box-off"></span>
		<img src="/images/icon_upload_error.png" alt="hints-icon" class="hints-icon"/>
		<p class="hints-txt">确定删除该数据源吗？</p>
		<p class="hints-layer-btn"><input type="button" value="确定" class="w-del-source"><input type="button" value="取消" class="del-hints-no"/></p>
	</div>
</div>

<script>

</script>
	<script src="../javascripts/func.js"></script>
	<script src="../javascripts/cdg.js"></script>
	<script src="../javascripts/webuploader.js"></script>
	<script src="../javascripts/managebg.js"></script>

</body>
</html>