<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
    <h1 class="wp ma-header "><a href="/accountManage" style="color:#5780C6">返回上一级 </a> | <span> 管理用户账号</span> > 用户申请列表</h1>
    <div class="wp ma-headtitle clearfix">
        <span></span>
        <b>用户申请列表</b>
        <div class="fr ma-handle-box">
            <a href="javascript:void(0);" class="ma-pass-btn">通过</a>
            <a href="javascript:void(0);" class="ma-nopass-btn">驳回</a>
        </div>
    </div>
    <div class="wp ma-applylist-container">
        <table>
            <!--<tr>-->
                <!--<th style="width: 5%;"><input type="checkbox" class="ma-checkAll" /></th>-->
                <!--<th style="width: 10%;">登录名</th>-->
                <!--<th style="width: 20%;">申请数据源权限</th>-->
                <!--<th style="width: 30%;">申请事由</th>-->
                <!--<th style="width: 20%;">时间</th>-->
                <!--<th>操作</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><input type="checkbox" /></td>-->
                <!--<td>用户名2</td>-->
                <!--<td>通讯记录</td>-->
                <!--<td onmouseenter="showReason(this)" onmouseleave="hideReason(this)" >我想看</td>-->
                <!--<td>2017-06-21 12：20：20</td>-->
                <!--<td class="ma-apply-handle">-->
                    <!--<a href="javascript:void(0);" onclick="apply(0,this)">通过</a>-->
                    <!--<span>|</span>-->
                    <!--<a href="#" onclick="reasonPop(this)">驳回</a>-->
                <!--</td>-->
            <!--</tr>-->

        </table>
    </div>
    <div class="ma-pages wp clearfix">
        <div class="fl">
            <p>共 <span class="ma-list-num">0</span>条记录 第 <span class="ma-current-page">1</span>/ <span class="ma-allPages">0</span> 页</p>
        </div>
        <div class="fl ma-page-box"></div>

    </div>

    <div class="ma-small-hints">未选中任何申请</div>
    <script src="../javascripts/jquery.page.js"></script>
    <script>

        var newIp=newIpNum;//8080端口的
        var loginName=decodeURIComponent($.cookie('login_user'));
        var token=$.cookie('login_token');
        var pageNum=1;
        var currentPage=1;
        var apllyList;

        $.ajax({
            url:'http://'+newIp+'/jwcloud-interface/Jwcloud?interface=getApplyForList&loginName='+loginName+'&token='+token,
            type:'POST',
            async: false,
            success:function(dataStr){
                var data=eval('('+dataStr+')');
                if(data.status==0){
                    apllyList=data.applyList;
                    if(apllyList.length==0){
                        $('.ma-applylist-container table').append('<h2 style="font-size:20px">没有申请信息</h2>');
                        pageNum=0;
                        $('.ma-handle-box').hide();
                        $('.ma-pages').hide();
                    }else{
                        pageNum=Math.ceil(apllyList.length/20);
                        $('.ma-pages .ma-list-num').text(apllyList.length);
                        $('.ma-pages .ma-allPages').text(pageNum);
                        getCurrentData(1);
                    }

                }else{
                    layer(false,'您还没有登录，请点击“确定”返回登录页');
                }
            }
        });
        $('.ma-page-box').createPage(function(n){

        },{
            pageCount:pageNum,
            current:currentPage,
            showPrev:true,//是否显示上一页按钮
            showNext:true//是否显示下一页按钮
        },{
            "color":"#4a7ec6",
            "height":36,
            "pagesMargin":4,
            "borderColor":"#d2d2d2",
            "currentColor":"#fff",
            "disableColor":'#787878'
        });

        function loadCurrent(n){
            var current=$(n).text();
            currentPage=current;
            getCurrentData(current);
        }
        function getCurrentData(n){
            $(document).scrollTop(0);
            $('.ma-current-page').text(n);
            $('.ma-applylist-container table').html('');
            var tableTitle='<tr><th style="width: 5%;"><input type="checkbox" class="ma-checkAll"/></th>'+
                '<th style="width: 10%;">登录名</th>'+
                '<th style="width: 20%;">申请数据源权限</th>'+
                '<th style="width: 30%;">申请事由</th>'+
                '<th style="width: 20%;">时间</th>'+
                '<th>操作</th></tr>';
            $('.ma-applylist-container table').append(tableTitle);
            for(var i=(20*(n-1));i<(20*(n-1)+20);i++){
                var trBg;
                if(i%2 != 0){
                    trBg='"ma-bg-green"';
                }else{
                    trBg='';
                }
                if(!!apllyList[i]){
                    var username=apllyList[i].username;
                    var sourceName=apllyList[i].sourceName;
                    var applyReason=apllyList[i].applyReason;
                    var time=apllyList[i].time;
                    var messageId=apllyList[i].messageId;
                    var oTr='<tr class='+trBg+'><td><input type="checkbox" class="ma-msg-check" data="'+messageId+'" /></td>'+
                        '<td width="">'+username+'</td><td>'+sourceName+'</td><td class="length-hide" onmouseover="showReason(this)" onmouseout="hideReason(this)">'+applyReason+'</td>'+
                        '<td>'+time+'</td><td class="ma-apply-handle">'+
                        '<a href="javascript:void(0);" onclick="apply(0,this)">通过</a><span>|</span><a href="javascript:void(0);" onclick="reasonPop(this)">驳回</a></td></tr>';
                    $('.ma-applylist-container table').append(oTr);
                }
            }
        }
        $('.ma-checkAll').click(function(){
            checkFirst()
        });
        function checkFirst(){
            if(!$('.ma-checkAll').attr('checked')){
                $('table input[type=checkbox]').attr('checked',false);
            }else{
                $('table input[type=checkbox]').attr('checked',true);
            }
        }
        function nextPage(){
            currentPage++;
            getCurrentData(currentPage);
        }
        function prevPage(){
            currentPage--;
            getCurrentData(currentPage);
        }
        function skipPage(){
            currentPage=$('.ma-page-input').val();
            var reg=/\d/g;
            if(!reg.test(currentPage) || page>_this.args.pageCount || page<1){

            }else{
                getCurrentData(currentPage);
            }
        }
        function showReason(n){
            var showBox='<div class="show-box"><h2>申请事由</h2><p>'+$(n).text()+'</p><span></span></div>';
            $('body').append(showBox);
            $('.show-box').css({
                top:$(n).position().top+43,
                left:$(n).position().left-56
            });
        }
        function hideReason(n){
            $('.show-box').remove();
        }
        function applyPass(n){
            var msgId=$(n).parent().parent().find('.ma-msg-check').attr('data');
            var msgIdArr=[msgId].toString();

        }
        function apply(a,n,msg){
            var msgId=$(n).parent().parent().find('.ma-msg-check').attr('data');
            var msgIdArr=[msgId].toString();
            var state=0;
            var backMessage='';
            if(!a){
                state=0;
                backMessage='';
            }else{
                state=-1;
                backMessage=msg;
            }
            $.ajax({
                url:'http://'+newIp+'/jwcloud-interface/Jwcloud?interface=manageApplyFor&loginName='+loginName+'&token='+token,
                type:'POST',
                data:{
                    state:state,
                    operateList: msgIdArr,
                    backMessage: backMessage
                },
                success:function(dataStr){
//                    $(n).parent().parent().remove();
                    var data=eval('('+dataStr+')');
                    if(data.status==0){
                        window.location.reload();
                    }else{
                        layer(false,'您还没有登录，请点击“确定”返回登录页');
                    }
                },
                error:function(err){

                }
            })
        }
        function reasonPop(n){
            if($('.popBox').length==0){
                var pop=' <div class="popBox">'+
                    '<h2>驳回用户申请</h2>'+
                    '<textarea class="noPassReason"  maxlength="100" onchange="this.value=this.value.substring(0,100)" placeholder="请在此处写明驳回原因" cols="30" rows="10"></textarea>'+
                    '<p><input type="button" value="提交" class="noPassBtn"/><input type="button" value="取消" class="popOff" /></p></div><span class="spanTri"></span>';
                $(n).parent().css('position','relative').append(pop);
                $('.noPassBtn').on('click',function(){
                    var msg=$('.noPassReason').val();
                    apply(-1,n,msg);
                });
                $('.popOff').on('click',function(){
                    $('.popBox').remove();
                    $('.spanTri').remove();
                })
            }else{
                $(n).parent().css('position','static');
                $('.popBox').remove();
                $('.spanTri').remove();
            }
        }
        $('.ma-pass-btn').on('click',function(){
            var msgIdArr=[];
            $('.ma-msg-check').each(function(){
                if(!!$(this).attr('checked')){
                    msgIdArr.push($(this).attr('data'));
                }
            });
            if(msgIdArr.length === 0){
                $('.ma-small-hints').show();
                setTimeout(function(){
                    $('.ma-small-hints').fadeOut();
                },1000)
            }else{
                msgIdArr=msgIdArr.toString();
                $.ajax({
                    url:'http://'+newIp+'/jwcloud-interface/Jwcloud?interface=manageApplyFor&loginName='+loginName+'&token='+token,
                    type:'POST',
                    data:{
                        state:0,
                        operateList:msgIdArr
                    },
                    success:function(dataStr){
//                    $('.ma-msg-check').each(function(){
//                       var msgId=$(this).attr('data');
//                       if(findArr(msgIdArr,msgId)){
//                           $(this).parent().parent().remove();
//                       }
//                    });
                        var data = eval('('+dataStr+')');
                        if(data.status == 0){
                            window.location.reload();
                        }else{
                            layer(false,'您还没有登录，请点击“确定”返回登录页');
                        }
                    },
                    error:function(err){

                    }
                })
            }

        });
        $('.ma-nopass-btn').on('click',function(){
            if($('.popBox').length==0){
                var pop=' <div class="popBox">'+
                    '<h2>驳回用户申请</h2>'+
                    '<textarea class="noPassReason" placeholder="请在此处写明驳回原因" cols="30" rows="10"></textarea>'+
                    '<p><input type="button" value="提交" class="noPassBtn"/><input type="button" value="取消" class="popOff" /></p></div>';
                $('body').append(pop);
                $('.popBox').css({
                    left:'50%',
                    marginLeft:'-170px',
                    top:'200px'
                });
                $('.popBox p').css({
                    marginTop:'14px'
                });
                $('.noPassBtn').on('click',function(){
                    var msg=$('.noPassReason').val();
                    var msgIdArr=[];
                    $('.ma-msg-check').each(function(){
                        if(!!$(this).attr('checked')){
                            msgIdArr.push($(this).attr('data'));
                        }
                    });
                    if(msgIdArr.length === 0){
                        $('.ma-small-hints').show();
                        setTimeout(function(){
                            $('.ma-small-hints').fadeOut();
                        },1000)
                    }else {
                        msgIdArr = msgIdArr.toString();
                        $.ajax({
                            url: 'http://' + newIp + '/jwcloud-interface/Jwcloud?interface=manageApplyFor&loginName=' + loginName + '&token=' + token,
                            type: 'POST',
                            data: {
                                state: -1,
                                operateList: msgIdArr,
                                backMessage: msg
                            },
                            success: function (dataStr) {
//                            $('.ma-msg-check').each(function(){
//                                var msgId=$(this).attr('data');
//                                if(findArr(msgIdArr,msgId)){
//                                    $(this).parent().parent().remove();
//                                }
//                            });
//                            $('.ma-apply-handle').css('position','static');
//                            $('.popBox').remove();
//                            $('.spanTri').remove();
                                var data = eval('('+dataStr+')');
                                if(data.status==0){
                                    window.location.reload();
                                }else{
                                    layer(false,'您还没有登录，请点击“确定”返回登录页');
                                }

                            },
                            error: function (err) {

                            }
                        });
                    }
                });
                $('.popOff').on('click',function(){
                    $('.popBox').remove();
                })
            }else{
                $('.ma-apply-handle').css('position','static');
                $('.popBox').remove();
                $('.spanTri').remove();
            }
        });
        function findArr(a,n){
            for(var i=0;i<a.length;i++){
                if(a[i]==n){
                    return true;
                }
            }
            return false;
        }
    </script>

    <!--<script>-->
        <!--$('.ma-manage-link').on('click',function(){-->
            <!--$('#account-manage-iframe',parent.document).attr('src','/accountManage');-->
        <!--});-->
    <!--</script>-->
</body>
</html>