<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
    <h1 class="wp ma-header "><a href="/accountManage" style="color:#5780C6">返回上一级 </a> | <span> 管理用户账号</span> > 查看历史纪录</h1>
    <div class="wp ma-headtitle">
        <span></span>
        <b><i>用户名2</i>的浏览记录</b>
        <div class="fr">
            <a href="javascript:void(0);" class="ma-history-refresh-btn">刷新</a>
        </div>
    </div>
    <div class="wp ma-historylist-container">
        <table>
            <!--<tr>-->
                <!--<th style="width:10%;">登录名</th>-->
                <!--<th style="width: 20%;">时间</th>-->
                <!--<th>操作</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>王连新</td>-->
                <!--<td>2017-06-21 12.30.16</td>-->
                <!--<td>搜索关键词“20133423”</td>-->
            <!--</tr>-->

        </table>
    </div>



    <div class="ma-pages wp clearfix">
        <div class="fl">
            <p>共 <span class="ma-list-num"></span>条记录 第 <span class="ma-current-page"></span>/ <span class="ma-allPages"></span> 页</p>
        </div>
        <div class="fl ma-page-box"></div>

    </div>
    <script src="../javascripts/jquery.page.js"></script>
    <script>
        var newIp=newIpNum;//8080端口的
        var loginName=decodeURIComponent($.cookie('login_user'));
        var token=$.cookie('login_token');
        var dogId=$.cookie('dogId');
        var pageNum=0;
        var currentPage=0;
        var historyList;
        var userHistory=$.cookie('historyName');
        var userHistoryID=$.cookie('historyID');
        function evil(fn) {
            var Fn = Function;  //一个变量指向Function，防止有些前端编译工具报错
            return new Fn('return ' + fn)();
        }

        $('.ma-headtitle b i').text(userHistory);
        $.ajax({
            url:'http://'+newIp+'/jwcloud/user/getRecord',
            type:'POST',
            async: false,
            data:{
                dogId : dogId,
                getDogId:userHistoryID,
                action:''
            },
            xhrFields:{
                withCredentials:true
            },
            success:function(data){
                if(data.status == 0){
                    historyList=data.recordList;
                    if(historyList.length == 0){
                        $('.ma-historylist-container').append('<h2 style="font-size:20px;">没有浏览记录<h2>')
                    }else{
                        pageNum=Math.ceil(historyList.length/20);
                        currentPage=1;
                        $('.ma-pages .ma-list-num').text(historyList.length);
                        $('.ma-pages .ma-allPages').text(pageNum);
                        getCurrentData(1);
                    }
                }else{
                    layer(false,'您还没有登录，请点击“确定”返回登录页');
                }
            }
        });

        $('.ma-page-box').createPage(function(n){

        },{
            pageCount:pageNum,
            current:currentPage,
            showPrev:true,//是否显示上一页按钮
            showNext:true//是否显示下一页按钮
        },{
            "color":"#4a7ec6",
            "height":36,
            "pagesMargin":4,
            "borderColor":"#d2d2d2",
            "currentColor":"#fff",
            "disableColor":'#787878',
            "prevNextWidth":60
        });
        function loadCurrent(n){
            var current=$(n).text();
            currentPage=current;
            getCurrentData(current);
        }
        function getCurrentData(n){
            $(document).scrollTop(0);
            $('.ma-current-page').text(n);
            $('.ma-historylist-container table').html('');
            var tableTitle=' <tr><th style="width:10%;">登录名</th>'+
                '<th style="width: 20%;">时间</th><th>操作</th></tr>';
            $('.ma-historylist-container table').append(tableTitle);
            for(var i=(20*(n-1));i<(20*(n-1)+20);i++){
                var trBg;
                if(i%2 != 0){
                    trBg='ma-bg-green';
                }else{
                    trBg='';
                }
                if(!!historyList[i]){
                    var time=historyList[i].date;
                    var operate=historyList[i].operateInfo;
                    var oTr='<tr class="'+trBg+'"><td>'+userHistory+'</td><td>'+time+'</td><td>'+operate+'</td></tr>';
                    $('.ma-historylist-container table').append(oTr);
                }
            }
        }
        function nextPage(){
            currentPage++;
            getCurrentData(currentPage);
        }
        function prevPage(){
            currentPage--;
            getCurrentData(currentPage);
        }
        function skipPage(){
            currentPage=$('.ma-page-input').val();
            if(currentPage>pageNum || currentPage<1){

            }else{
                console.log(currentPage);
                getCurrentData(currentPage);
            }
        }


        $('.ma-history-refresh-btn').on('click',function(){
            window.location.reload();
        })
    </script>

</body>
</html>