<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
    <h1 class="wp ma-header "><a href="/accountManage" style="color:#5780C6">返回上一级 </a> | <span class="ma-manage-link"> 管理用户账号</span> > 新建账号</h1>
    <div class="wp ma-headtitle">
        <span></span>
        <b>新建账户</b>
    </div>
    <div class="wp ma-new-container">
        <p class="ma-new-title">
            标有 <span>*</span> 的为必填项
        </p>
        <div class="ma-new-form">
            <div class="ma-h clearfix">
                <div class="fl ">
                    <p class="fl ma-new-form-text"><span>*</span>ukey-Id：</p>
                    <p class="fl ma-new-form-input" ><input type="text" id="new-ukey-id" /></p>
                </div>
                <div class="fl">
                    <p class="fl ma-new-form-text"><span>*</span>用户名：</p>
                    <p class="fl ma-new-form-input" ><input type="text" id="new-username" /></p>
                </div>
            </div>
            <div class="ma-h clearfix">
                <div class="fl ">
                    <p class="fl ma-new-form-text"><span>*</span>密码：</p>
                    <p class="fl ma-new-form-input"><input type="text" id="new-password"  /></p>
                </div>
                <div class="fl">
                    <p class="fl ma-new-form-text"><span>*</span>姓名：</p>
                    <p class="fl ma-new-form-input"><input type="text" id="new-fullname" /></p>
                </div>
            </div>
            <div class="ma-h clearfix">
                <div class="fl ">
                    <p class="fl ma-new-form-text"><span>*</span>职务：</p>
                    <p class="fl ma-new-form-input"><input type="text" id="new-team" /></p>
                </div>
                <p class="fl ma-new-point">（职务即用户所在的用户组）</p>
                <p class="fl ml10 ma-del-box"></p>
            </div>
            <div class="ma-remark-box clearfix">
                <p class="fl ma-new-form-text">备注：</p>
                <div class="fl">
                    <textarea name="" id="new-remark" cols="30" rows="10"></textarea>
                </div>

            </div>
        </div>
        <div class="ma-new-btn-box">
            <input type="button" value="确定" id="ma-newcreate-btn" class="ma-newcreate-btn"/>
        </div>

    </div>
    <script src="../javascripts/accountManage.js"></script>
    <script>
        var isHighAdmin = '<%= isHighAdmin %>';
        $('.ma-manage-link').on('click',function(){
            $('#account-manage-iframe',parent.document).attr('src','/accountManage');
        });
        var newIp=newIpNum;
        var token=$.cookie('login_token');
        var username=decodeURIComponent($.cookie('login_user'));
        var dogId=$.cookie('dogId');
        var setUserId=decodeURIComponent($.cookie('editUser'));
        var checkReNewCreate=true;
        function checkEmpty(n){
            if(n.val().length===0){
                wornBorder(n);
                return false;
            }else{
                return true;
            }
        }

        $('.ma-new-form input[type="text"]').on('blur',function(){
            $(this).css('border-color','#c8c8c8');
        });
        function wornBorder(n){
            n.css('border-color','red');
        }
        if($.cookie('editUser')=='create'){
            if(isHighAdmin){
                $('.ma-del-box').html('<input type="checkbox" id="source-del-right"> <label for="source-del-right">删除数据源权限</label>');
           }
            $('#ma-newcreate-btn').on('click',function(){
                if(checkEmpty($('#new-ukey-id')) && checkEmpty($('#new-username')) && checkEmpty($('#new-password')) && checkEmpty($('#new-fullname')) && checkEmpty($('#new-team')) ){
                    if(!checkReNewCreate)return;
                    checkReNewCreate=false;
                     $.ajax({
                         url:'http://'+newIp+'/jwcloud/user/addUser',
                         type:'POST',
                         data:{
                             dogId:dogId,
                             ukeyId:encodeHTML($('#new-ukey-id').val()),
                             username:encodeHTML($('#new-username').val()),
                             password:encodeHTML($('#new-password').val()),
                             fullName:encodeHTML($('#new-fullname').val()),
                             team:encodeHTML($('#new-team').val()),
                             remark:encodeHTML($('#new-remark').val()),
                             delSourcePermission:$('#source-del-right:checked').length>0?1:0
                         },
                         xhrFields:{
                             withCredentials:true
                         },
                         success:function(data){
                             checkReNewCreate=true;
                             if(data.status==0){
                                 layerBox(true,'创建成功');
                                 clearInput();
                             }else{
                                 layerBox(false,data.message);
                             }
                         },
                         error:function(err){
                             console.log(err);
                         }

                     })
                }
            });
        }
        else if(!$.cookie('editUser')){
            layerBox(false,'请返回管理用户页面');
        }
        else{
             $.ajax({
                 url:'http://'+newIp+'/jwcloud/user/getUser',
                 type:'POST',
                 data:{
                     dogId:dogId,
                     getDogId:setUserId
                 },
                 xhrFields:{
                     withCredentials:true
                 },
                 success:function(data){
                     if(data.status == 0){
                         $('#new-ukey-id').val(decodeHTML(data.ukeyId));
                         $('#new-username').val(decodeHTML(data.username));
                         $('#new-password').val(decodeHTML(data.password));
                         $('#new-fullname').val(decodeHTML(data.fullName));
                         $('#new-team').val(decodeHTML(data.team));
                         $('#new-remark').val(decodeHTML(data.remark));
                         if(username==='admin_03'){
                             if(data.team==='admin'){
                                 $('.ma-del-box').html('<input type="checkbox" id="source-del-right"> <label for="source-del-right">删除数据源权限</label>');
                                 if(data.delSourcePermission == 1){
                                     $('#source-del-right').attr('checked','checked');
                                 }
                             }
                         }
                     }else{
                         layerBox(false,'您还没有登录，请点击“确定”返回登录页');
                     }
                 },
                 error:function(err){
                     console.log(err);
                 }
             });
            $('#ma-newcreate-btn').on('click',function(){
                if(checkEmpty($('#new-ukey-id')) && checkEmpty($('#new-username')) && checkEmpty($('#new-password')) && checkEmpty($('#new-fullname')) && checkEmpty($('#new-team')) ){
                    if(!checkReNewCreate)return;
                    checkReNewCreate=false;
                    var delRight=0;
                    if($('#source-del-right').length>0){
                        if($('#source-del-right:checked').length>0){
                            delRight=1
                        }else{
                            delRight=0;
                        }
                    }else{
                        delRight=0;
                    }
                     $.ajax({
                         url:'http://'+newIp+'/jwcloud/user/updateUser',
                         type:'POST',
                         data:{
                             dogId:dogId,
                             updateDogId:setUserId,
                             ukeyId:encodeHTML($('#new-ukey-id').val()),
                             username:encodeHTML($('#new-username').val()),
                             password:encodeHTML($('#new-password').val()),
                             fullName:encodeHTML($('#new-fullname').val()),
                             team:encodeHTML($('#new-team').val()),
                             remark:encodeHTML($('#new-remark').val()),
                             delSourcePermission:delRight
                         },
                         xhrFields:{
                             withCredentials:true
                         },
                         success:function(data){
                             checkReNewCreate=false;
                             if(data.status==0){
                                 layerBox(true,'修改成功');
                                 clearInput();
                                 setTimeout(function(){
                                     window.location.href="/accountManage";
                                 },1200);
                             }else{
                                 layerBox(false,data.message);
                             }
                         },
                         error:function(err){
                             console.log(err);
                         }

                     })
                }
            });
        }

        function clearInput(){
            $('#new-ukey-id').val('');
            $('#new-username').val('');
            $('#new-password').val('');
            $('#new-fullname').val('');
            $('#new-team').val('');
            $('#new-remark').val('');
        }
        //转义符
         function encodeHTML(source) {
             return String(source)
                 .replace(/&/g, '&amp;')
                 .replace(/</g, '&lt;')
                 .replace(/>/g, '&gt;')
                 .replace(/"/g, '&quot;')
                 .replace(/'/g, '&#39;');
         }
         function decodeHTML(source){
            return String(source)
                .replace(/&amp;/g, '&')
                .replace(/&lt;/g, '<')
                .replace(/&gt;/g, '>')
                .replace(/&quot;/g, '"')
                .replace(/&#39;/g, "'");
         }
    </script>



</body>
</html>