<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>数据源管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/w-style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>'; // es 后台接口
        var newIpNum='<%= newIp %>';  // es接口
        var lastIpNum='<%= lastIp %>'; // php接口
    </script>
</head>
<body>
<div style="display: block;" class="w-connent-box w-uploader-box" >
    <div class="uploader-box-header">
        数据源管理
    </div>
    <div class="uploader-tag">
        <span></span>
        数据源管理
    </div>
    <div class="w-uploader-container ">
        <div class="w-uploader-class-box clearfix">
            <div class="fl">
                <span class="fl">文件类别:</span>
                <div class="w-search-select search-select-title fl">
                    <p class="w-search-class-value"><span id="w-source-class-value">选择类别</span><i class="fr"></i></p>
                    <div class="w-search-select-box">
                        <div class="w-search-class-option" id="w-source-class-list">
                            <div class="w-slipe-box">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="fl w-search-second-change">
                <span class="fl">二级类目:</span>
                <div class="w-search-select w-search-select-title fl">
                    <p class="w-search-second-class-value"><span id="w-source-second-class-value">选择二级类目</span><i class="fr"></i></p>
                    <div class="w-search-select-box">
                        <div class="w-search-second-class-option" id="w-source-second-class-list">
                            <div class="w-slipe-box">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="w-search-cover w-search-second-class-cover"></div>
            </div>
        </div>
        <div class="w-uploader-source clearfix">
            <span class="fl">数据源名称：</span>
            <div class="w-search-select search-select-title fl">
                <p class="w-search-select-value"><span id="w-source-value">选择目标数据源</span><i class="fr"></i></p>
                <div class="w-search-select-box">
                    <div class="w-search-source-input">
                        <input type="text" />
                        <img src="../images/icon_search_select_search.png" alt="search" />
                    </div>
                    <div class="w-search-select-option" id="w-search-select-allsource">
                        <div class="w-slipe-box">

                        </div>
                    </div>

                </div>
            </div>
            <div class="w-search-cover w-search-source-cover"></div>
        </div>
        <div class="uploader-data-view w-uploader-data-view">
            <div class="uploader-data-view-title">
                <span>数据源字段概览:</span>
                <a href="javascript:void(0);" class="uploader-view-change-btn case-hide"><i></i>修改字段</a>
                <em class="case-hide">|</em>
                <!-- <a href="javascript:void(0);" class="uploader-view-add-btn"><i></i>添加字段</a>
                <em>|</em> -->
                <a href="javascript:void(0);" class="w-uploader-view-del-btn"><i></i>删除数据源</a>
                <em class="case-hide">|</em>
                <a class="case-hide"><b>*</b>1星字段需点击"查看详情"进行浏览、2星字段在搜索摘要中显示、三星字段为唯一字段，可精准匹配</a>
            </div>
            <div class="w-tab-change-edit" >
                <div class="w-uploader-data-table">
                    <table>
                        <tbody class="load-view-table w-load-view-table">

                        </tbody>

                    </table>
                    <div class="bg-cover"></div>
                </div>

                <p class="uploader-view-btn w-uploader-view-btn">
                    <input type="button" value="确定" class="w-uploader-view-confirm" />
                    <input type="button" value="取消" class="w-uploader-view-cancel">
                </p>
            </div>
            <div class="w-tab-change-delete" >
                <div class="w-uploader-data-table">
                    <table>
                        <tbody class="w-load-view-table-delete">

                        </tbody>

                    </table>
                </div>


                <p class="uploader-view-btn">
                    <input type="button" value="确定" class="w-uploader-view-confirm-delete" />
                    <input type="button" value="取消" class="w-uploader-view-cancel">
                </p>
            </div>
        </div>


        <div id="picker"></div>
</div>
</div>

<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script src="../javascripts/w-managebg.js"></script>



</body>
</html>