<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>上传报表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/w-style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/webuploader.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>'; // es 后台接口
        var newIpNum='<%= newIp %>';  // es接口
        var lastIpNum='<%= lastIp %>'; // php接口
    </script>
</head>
<body style="height:100%;">
<div class="uploader-box">
    <div class="uploader-box-header">
        上传取证报表
    </div>
    <div class="uploader-tag">
        <span></span>
        上传取证报表
    </div>
    <div class="uploader-container ">
        <div class="uploader-class-box clearfix">

            <div class="fl search-second-change">
                <span class="fl">二级类目:</span>
                <div class="search-select search-select-title fl">
                    <p class="search-second-class-value"><span id="m-source-second-class-value">选择上传的二级类目</span><i class="fr"></i></p>
                    <div class="search-select-box">
                        <div class="search-second-class-option m-search-second-class-option" id="source-second-class-list">
                            <div class="slipe-box">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="uploader-source clearfix">
            <span class="fl">上传至：</span>
            <div class="search-select search-select-title fl">
                <p class="search-select-value"><span id="m-source-value" class="source-value">选择上传的目标数据源</span><i class="fr"></i></p>
                <div class="search-select-box">
                    <div class="search-source-input">
                        <input type="text" />
                        <img src="../images/icon_search_select_search.png" alt="search" />
                    </div>
                    <div class="search-select-option" id="search-select-allsource">
                        <div class="slipe-box">

                        </div>
                    </div>
                </div>
            </div>
            <div class="search-cover search-source-cover"></div>
            <div class="fl uploader-create-source-btn m-uploader-create-source-btn">
                新建数据源
            </div>
        </div>
        <p class="uploader-source-hints">支持上传html、zip格式文件，新数据源请新建数据源</p>

        <div class="uploader-btn">批量上传</div>

        <div class="uploader-forms-body" style="display: none;">
            <p class="uploader-files-count">您已选择<span>0</span>个待上传文件，报表文件暂不支持数据预览</p>
            <div class="uploader-forms-container">
                <div class="uploader-form-item clearfix">
                    <p class="fl uploader-form-item-title">
                        案件名：
                    </p>
                    <input type="text" class="fl uploader-form-item-txt w804" id="case-name" />
                </div>
                <div class="uploader-form-item clearfix">
                    <div class="fl">
                        <p class="fl uploader-form-item-title">
                            案件号：
                        </p>
                        <input type="text" class="fl uploader-form-item-txt w318" id="case-num" />
                    </div>
                    <div class="fl">
                        <p class="fl uploader-form-item-title ml54">
                            嫌疑人手机号：
                        </p>
                        <input type="text" class="fl uploader-form-item-txt w318" id="suspect-phone" />
                    </div>

                </div>
                <div class="uploader-form-item clearfix">
                    <div class="fl">
                        <p class="fl uploader-form-item-title">
                            嫌疑人imei：
                        </p>
                        <input type="text" class="fl uploader-form-item-txt w318" id="suspect-imei" />
                    </div>
                    <div class="fl">
                        <p class="fl uploader-form-item-title ml54">
                            嫌疑人imsi：
                        </p>
                        <input type="text" class="fl uploader-form-item-txt w318" id="suspect-imsi" />
                    </div>

                </div>



            </div>


            <div class="uplader-forms-source">
                <p class="forms-source-title">报表来源：</p>
                <p>
                    <input type="radio" name="forms-source" id="forms-source-self" checked="checked" />
                    <label for="forms-source-self">睿海</label>
                    <input type="radio" name="forms-source" id="forms-source-else" />
                    <label for="forms-source-else">其他厂商</label>
                </p>


            </div>
            <p class="uploader-view-btn uploader-forms-btn">
                <input type="button" value="确定" class="uploader-view-confirm" />
                <input type="button" class="uploader-view-continue" value="继续上传" />
                <input type="button" value="取消上传" class="uploader-view-cancel">
            </p>

        </div>





        <div id="picker" class="picker"></div>
    </div>


</div>

<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script src="../javascripts/webuploader.js"></script>
<script src="../javascripts/upload-forms.js"></script>


</body>
</html>