<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>数据源管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/managebg.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/w-style.css" />
    <link rel="stylesheet" href="../stylesheets/webuploader.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script src="../javascripts/webuploader.js"></script>
    <script>
        var newIp='<%= newIp %>';  // es接口
    </script>
</head>
<body style="height: 100%">
<div style="display: block;" class="w-connent-box w-uploader-box" >
    <div class="uploader-box-header">
        白名单管理
    </div>
    <div class="uploader-tag">
        <span></span>
        白名单管理
    </div>
    <div class="uploader-container">
        <div style="padding: 30px 30px">
            <div class="upload-btn-box">
                <div class="uploadWhiteList"></div>
                <div id="uploadWhiteList" class=" uploadWhiteBtn">上传白名单</div>
                <p class="upload-white-warn">*姓名重复率比较高请谨慎添加</p>
            </div>
            <div class="white-list-type clearfix">
                <div class="fl type-list">

                </div>
                <!--<p><input type="radio" id="type1" name="white-type"><label for="type1">手机号</label></p>-->
                <p><input type="text" placeholder="如不存在请填写类别" class="white-add-txt" id="white-add-type" /></p>
            </div>
            <div class="upload-file-list">
                <!--<div  class="item clearfix">-->
                    <!--<h4 class="fl">文件名</h4>-->
                    <!--<div class="bar"><span></span></div>-->
                    <!--<span class="del-file"></span>-->
                <!--</div>-->
            </div>
        </div>

    </div>
<script>
    var loginName=decodeURIComponent($.cookie('login_user'));
    var token=$.cookie('login_token');
    var dogId=$.cookie('dogId');
    $.ajax({
        url:'http://'+newIp+'/jwcloud/user/getWhiteListType',
        type:'POST',
        data:{
            dogId:dogId
        },
        xhrFields:{
            withCredentials:true
        },
        success:function(data){
            if(data.status==0){
                var list = data.whiteListType;
                if(list.length>0){
                    for(var i=0;i<list.length;i++){
                        $('.white-list-type .type-list').append('<p><input type="radio" id="type'+i+'" name="white-type"><label for="type'+i+'">'+list[i]+'</label></p>');
                    }
                }
            }else{

            }
        }
    });
    var uploader=WebUploader.create({
        swf:'/javascripts/Uploader.swf',
        server:'/uploaderfile',
        method:'POST',
        pick:'#uploadWhiteList',
        auto:true,
        formData: {
            source: $('#m-source-value').text().replace(/[,.\s]/g,''),
            filesType:'whiteList'
        },
        resize:false,
        accept: {
            title: 'file',
            extensions: 'xlsx,xls',
            mimeTypes: '.xlsx,.xls'
        }
    });
    uploader.on('beforeFileQueued',function(file){

    });
    uploader.on('fileQueued',function(file){
        $('.upload-file-list').append( '<div id="' + file.id + '" class="item clearfix">' +
            '<h4 class="fl">' + file.name + '</h4>' +
                '<div class="fr">'+
            '<div>等待上传...</div>'+
            '<span class="white-list-complete">完成</span>'+
                '</div>'+
            '</div>' );
    });
    uploader.on('uploadProgress',function(file,percentage){
        var $li = $( '#'+file.id ),
            $percent = $li.find('div div');
        // 避免重复创建
        if ( !$percent.find('span').length) {
            $percent.addClass('bar').html('<span></span>');
        }
        $percent.find('span').css( 'width', percentage * 100 + '%' );
    });
    uploader.on('uploadComplete',function(file){
        var $li = $( '#'+file.id );
        $li.find('.bar').addClass('on');
        $li.find('.white-list-complete').css('visibility','visible');
        setTimeout(function(){
            $li.slideUp(1000);
        },2000)
    });
    uploader.on('uploadFinished', function (file) {
//        window.location.reload();
        var typeId;
        var lastName = this.options.formData.lastName;
        var whiteType = this.options.formData.whiteType;
        $.post('sendWhiteList',{whiteType:whiteType,lastName:lastName},function(data){console.log('成功')});
        uploader.reset();
        if($('#white-add-type').val().length>0){
            $('#white-add-type').val('');
            if($('.white-list-type .type-list p').length>0){
                typeId=Number($('.white-list-type .type-list>p:last-child').find('input').attr('id').replace('type',''))+1;
            }else{
                typeId=0;
            }
            $('.white-list-type .type-list').append('<p><input type="radio" id="type'+typeId+'" name="white-type"><label for="type'+typeId+'">'+whiteType+'</label></p>');
        }
        limitUp = true;
    });
    $('#white-add-type').on('focus',function(){
        $('.white-list-type input[type=radio]').removeAttr('checked');
    });
    var oWhite = document.getElementById('uploadWhiteList');
    var limitUp=true;
    oWhite.addEventListener('click', function (e) {
        if(!limitUp){
//            e.stopPropagation();
            return;
        }
        limitUp = false;
        var label=$('.white-list-type label');
        var typeId=$('.white-list-type input:radio:checked').attr('id');
        var whiteArr=new Array();
        for(var i=0;i<label.length;i++){
            whiteArr.push(label.eq(i).text());
        }

        if($('.white-list-type input:radio:checked').length===0 && $('#white-add-type').val().length === 0){
            e.stopPropagation();
            limitUp=true;
            parent.setLayer(false, '请选择白名单类别', false);
        }
        else if($('.white-list-type input:radio:checked').length===0 && $('#white-add-type').val().length !== 0){
            var reg =  new RegExp('^[a-zA-Z0-9\u4E00-\u9FA5]+$','g');
            if(reg.test($('#white-add-type').val())){
                addSuccess();
            }else{
                e.stopPropagation();
                limitUp=true;
                parent.setLayer(false, '类别格式：数字、字母、汉字', false);
            }
        }
        else if(!parent.findIsDiffer(whiteArr,$('#white-add-type').val().trim())){
            e.stopPropagation();
            limitUp=true;
            parent.setLayer(false, '您输入的类别已经存在请选择', false);
        }
        else{
            limitUp = true;
            addSuccess();
        }
        function addSuccess(){
            var date = new Date();
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            var h = date.getHours();
            var mi = date.getMinutes();
            var time = y + '-' + toDou(m) + '-' + toDou(d) + '-' + toDou(h) + '-' + toDou(mi);
            var randomNum=+parseInt(Math.random()*1000);
            var lastName='_'+time+'_'+randomNum;
            uploader.options.formData.lastName=lastName;
            if($('.white-list-type input:radio:checked').length===0){
                uploader.options.formData.whiteType=$('#white-add-type').val().trim();
            }else{
                uploader.options.formData.whiteType=$('.white-list-type label[for='+typeId+']').text().trim();
            }
        }
    }, true);

    function toDou(n){
        return n<10?'0'+n:''+n;
    }
</script>

</div>
</body>
</html>