<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
<div class="res-search-box clearfix">
    <div class="wrap">
        <div class="fl">
            <a href="../search" class="res-logo">
                <img src="../images/pic_search_logo.png" alt="logo" />
                <span>甘井子蓝海云搜索平台</span>
            </a>
        </div>
        <div class="fl res-search-container">
            <form>
                <input type="text" style="display: none;" />
                <input type="text" style="display: none;" />
                <input type="text" placeholder="请输入关键字" class="res-search-text" maxlength="45" id="res-search-text" name="keyword" autocomplete="off" />
                <input type="button" value="搜索" class="res-search-btn" id="res-search-btn" />
            </form>
        </div>
        <div class="login-info-container source-list-login" id="no_user" style="display: none;">
            <div class="login-info-content">
                <img src="../images/icon_search_avatar.png" alt="user-head" />
                <span>请登录</span>
            </div>
        </div>
        <div class="login-info-container source-list-login fr" id="yes_user" >
            <div class="login-info-content clearfix">
                <div class="fr">
                    <div class="fl login-info-pos">
                        <img src="../images/icon_search_avatar.png" alt="user-head" />
                        <span class="red-point no-read"></span>
                    </div>
                    <span class="login-username fl"></span>
                </div>
            </div>
            <div class="login-info-box">
                <a href="javascript:void(0);" class="login-set">设置</a>
                |
                <a href="/messageCenter" class="message">消息</a>

                <a href="javascript:void(0);" class="out-user">退出</a>
                |
                <span class="red-message-hint no-read"></span>
                <div class="login-info-square"></div>
            </div>
        </div>
    </div>

</div>
<div class="wrap res-content clearfix">
    <div class="res-list-container red-container fl">
        <div class="res-point">
            <a href="#" class="res-back">< &nbsp;&nbsp;返回搜索结果</a>

            <div class="fr res-option">
                当前数据源：<span></span>
            </div>
        </div>
        <div class="view-result-count">
            <p>数据详情</p>
            <i></i>
            <i></i>
        </div>

        <div class="detail-box">
            <ul class="clearfix" id="detail-list">

            </ul>
            <ol class="clearfix" id="detail-list-ol">

            </ol>
        </div>
    </div>
    <div class="fr res-history-list">
        <h2>历史搜索记录</h2>
        <ul>

        </ul>
    </div>
</div>
<div class="append"></div>
<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script>
    $(function(){
        var loginName=decodeURIComponent($.cookie('login_user'));
        var token=$.cookie('login_token');
        //用户登录信息
        $('#yes_user').hover(function(){
            $('.login-info-box').show();
        },function(){
            $('.login-info-box').hide();
        });
        function getKey() {
            if (!!location.href.split('?')[1]) {
                var urlArr = location.href.split('?')[1].split('&');
                var urlJson = {};
                for (var i = 0; i < urlArr.length; i++) {
                    var arr = urlArr[i].split('=');
                    urlJson[arr[0]] = decodeURIComponent(arr[1]);
                }
                return urlJson;
            } else {
                return;
            }
        }
        var key=getKey();
        var data=$.cookie(key.id);
        data=eval('('+data+')');
        var smallData={};
        var bigData={};
        $('#res-search-text').val(key.wd);
        function checkCodeNum(n){
            var count=0;
            for(var i=0;i<n.length;i++){
                if(/[\u4E00-\u9FA5A-Z]/g.test(n)){
                    count+=2;
                }else{
                    count+=1;
                }
            }
            return count;
        }

        for(var i in data){
            console.log(i);
            if(checkCodeNum(i)<=12){
                smallData[i]=data[i];
            }else{
                bigData[i]=data[i];
            }
        }
        $('#detail-list').html('');
        for(var i in smallData){
            var oLi='<li class="fl clearfix"><p>'+i+' ：</p><p><a href="/sourcelist?wd='+ smallData[i]+ '&source=' + key.source + '&word=' + key.word + '&mate=' + key.mate+'" target="_blank" title="点击该字段可进行搜索">'+smallData[i]+'</a></p></li>';
            $('#detail-list').append(oLi);
        }
        for(var j in bigData){
            var oLi='<li class="clearfix"><p>'+j+' ：</p><a href="/sourcelist?wd='+ bigData[j]+ '&source=' + key.source + '&word=' + key.word + '&mate=' + key.mate+'" target="_blank"  title="点击该字段可进行搜索">'+bigData[j]+'</a></p></li>';
            $('#detail-list-ol').append(oLi);
        }
        $('.res-option span').text(key.source);
        //顶部返回按钮
        $('.res-point .res-back').click(function(){
            window.location.href = '/result?wd='+key.wd+'&source='+key.source+'&word='+(key.word?key.word:"")+'&mate='+(key.mate?key.mate:"")+'&listCount='+key.listCount+'&currentPage='+key.currentPage;
        });

        $('.login.js-info-container').hover(function(){
            $('.login.js-info-box').show();
        },function(){
            $('.login.js-info-box').hide();
        });
        $(document).keyup(function(e){
            if(e.keyCode == 13){
                $('#res-search-btn').trigger('click');
            }
        });
        $('#res-search-btn').on('click',function(){
            if(!!$('#res-search-text').val()) {
                var skipUrl='/mixresult?wd='+ encodeURIComponent($('#res-search-text').val())+'&word='+(key.word?key.word:'')+'&unison='+(key.unison?key.unison:'')+'&mate'+(key.mate?key.mate:'')+'&listCount=20&currentPage=1';
                $.ajax({
                    url: 'http://' + newIp + '/jwcloud-interface/Jwcloud?interface=userOperate&loginName=' +loginName + '&token=' + token,
                    type: 'POST',
                    data: {
                        username: loginName,
                        operate: "搜索关键词  '"+ $('#res-search-text').val().trim().replace(/"/g,'\\"') + "'",
                        operateState: 0,
                        keyword:$('#res-search-text').val().trim().replace(/"/g,'\\"'),
                        url:skipUrl
                    },
                    success: function (dataStr) {
                        var data = eval('(' + dataStr + ')');
                        if (data.status == 0) {
                            window.location.href =skipUrl;
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        });
        $.ajax({
            url:'http://'+newIp+'/jwcloud-interface/Jwcloud?interface=getUserSearchRecord&loginName='+loginName+'&token='+token,
            type:'POST',
            data:{
                action:"getSearchRecord"
            },
            success:function(dataStr){
                var data=eval('('+dataStr+')');
                if(data.status==0){
                    var historyList=data.historyList;
                    for(var i=0;i<historyList.length;i++){
                        var oLi='<li><a href="'+historyList[i].url+'">搜索关键词"'+historyList[i].keyword+'"</a></li>';
                        $('.res-history-list ul').append(oLi);
                    }
                }else{
                    layer(false,'')
                }

            },
            error:function(err){
                console.log(err);
            }
        });

    })