<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script type="text/javascript" src="../javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body onload="loadFunc()">
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
<div class="bg-white">
    <div class="header wrap clearfix">
        <div class="fl">
            <a href="javascript:void(0);">
                <img src="../images/pic_search_logo.png" alt="logo" />
                <div class="fr">
                    <p class="platform-title-name">甘井子蓝海</p>
                    <p class="platform-title">云搜索平台登录</p>
                </div>
            </a>
        </div>
    </div>
<div class="login-container-bg">
    <div class="login-bg-wrap">
        <div class="login-container wrap">
            <div class="platform-login-container">
                <div class="user-change">
                    <a href="javascript:;" class="on" id="user-login">用户登录</a>
                    |
                    <a href="javascript:;" id="admin-login">管理员登录</a>
                </div>
                <form class="user-info" onsubmit="return ">
                    <div class="user-list">
                        <input type="text" placeholder="用户名（请插入ukey）" id="username" name="username" readonly/>
                        <!--<p id="username-error"><i></i>请输入用户名</p>-->
                    </div>
                    <div class="user-list">
                        <input type="password" placeholder="密码" id="password" name="password" autocomplete="false" />
                        <div class="error-box"><p id="error-hints" class="error-hints"><i></i></p></div>
                    </div>

                    <input type="button" value="登录" class="submit-btn" id="user-submit-btn" />
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript" src="../javascripts/func.js"></script>
<script type="text/javascript" src="../javascripts/login.js"></script>
<script type="text/javascript">
    $(window).on('load resize',function(){
        $('.bg-white').css({
            height:$(window).height()
        })
    });

    var newIp=newIpNum;//8080端口的
    try
    {
        var stat = 0;
        var objAuth = "";
        var scope = "<dogscope/>";
        var dogid=0;
        embedTag();

        // Get object
        objAuth = getAuthObject();

        // Get Auth Code
        if ("" == authCode) {
            authCode = getAuthCode();
        }
        if (navigator.userAgent.indexOf("Chrome") > 0) {  //Chrome
            objAuth.EnumDog(authCode);
        }
        else {
//             Open the dog
            stat = objAuth.Open(scope, authCode);
            if (stat != 0) {
                reportStatus(stat);
                $('#username').val('');
            }

            // Get username from the dog
            objAuth.GetDogID();
            dogId = objAuth.DogIdStr;
            console.log(dogId);
            if(stat===0){
                if(!!dogId){
                    $.ajax({
                        url:'http://'+newIp+'/jwcloud/user/getUsername',
                        type:'POST',
                        data:{
                            dogId:dogId
                        },
                        xhrFields:{
                            withCredentials:true
                        },
                        success:function(data){
                            if(data.status==0){
                                if(data.admin==0){
                                    $('#admin-login').trigger('click');
                                }else{
                                    $('#admin-login').off('click');
                                    $('#user-login').trigger('click');
                                }

                                $.cookie('admin',data.admin);
                                errShow($('#error-hints'),false,'');
                                $('#username').val(data.username);
                            }else if(data.status === -1){
                                $('#password').val('');
                                errShow($('#error-hints'),true,'用户不存在');
                            }else{
                                $('#password').val('');
                                errShow($('#error-hints'),true,data.message);
                            }
                            $.cookie('admin',data.admin);
                        }
                    });
                }

            }

            objAuth.Close();
        }
    }
    catch(e)
    {
    }
</script>
</body>
</html>