<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>消息中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/message.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
	<div class="res-search-box clearfix">
    <div class="wrap clearfix pr">
        <div class="fl">
            <a href="../search" class="res-logo">
                <img src="../images/pic_search_logo.png" alt="logo" />
                <span>甘井子蓝海云搜索平台</span>
            </a>
        </div>
        <div class="fl res-search-container pr">
            <form>
                <input type="text" style="display: none;" />
                <input type="text" style="display: none;" />
                <input type="text" placeholder="请输入关键字" class="res-search-text" id="res-search-text" maxlength="45" name="keyword" autocomplete="off" />
                <input type="button" value="搜索" class="res-search-btn" id="res-search-btn" />
            </form>
            <div class="unisonSearchBox">
                <input type="checkbox" id="unisonSearch"/>
                <label for="unisonSearch">同音查询</label>
            </div>
        </div>
        <div class="fl search-only-btn pr">
            <p>
                <span>全文搜索</span><i></i>
            </p>
            <div>
                <ul>
                    <li>
                        <input type="radio" name="only" id="search-all" checked="checked" /><label for="search-all">全文搜索</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="login-info-container source-list-login" id="no_user" style="display: none;">
            <div class="login-info-content">
                <img src="../images/icon_search_avatar.png" alt="user-head" />
                <span>请登录</span>
            </div>
        </div>
        <div class="login-info-container source-list-login fr" id="yes_user" >
            <div class="login-info-content clearfix">
                <div class="fr">
                    <div class="fl login-info-pos">
                        <img src="../images/icon_search_avatar.png" alt="user-head" />
                        <span class="red-point no-read"></span>
                    </div>
                    <span class="login-username fl"></span>
                </div>


            </div>
            <div class="login-info-box">
                <a href="javascript:void(0);" class="login-set">设置</a>
                |
                <a href="/messageCenter" class="message">消息</a>

                <a href="javascript:void(0);" class="out-user" id="exit">退出</a>
                |
                <span class="red-message-hint no-read"></span>
                <div class="login-info-square"></div>
            </div>
        </div>
    </div>
</div>
    <div class="wrap res-content clearfix">
        <div class="res-list-container msg-list-container fl">
            <div class="res-point">
                <a href="#" class="res-back"  id="res-back">< &nbsp;&nbsp;返回</a>
            </div>
            <div class="view-result-count msg-blue">
                <p>消息中心（您有 <span>0</span> 条未读消息）</p>
                <i></i>
                <i></i>
            </div>
            <ul class="res-info-list msg-list clearfix" id="res-info-list">
               <!--<li>-->
               		<!--<div class="fl msg-list-icon"></div>-->
               		<!--<div class="fl">-->
               			<!--<p class="msg-link">-->
               				<!--<a href="javascript:;">-->
           						<!--管理员通过“通讯录信息”的权限申请-->
           					<!--</a>-->
               			<!--</p>-->
           				<!--<p class="msg-time">-->
           					<!--2017-07-10-->
           				<!--</p>-->
           			<!--</div>-->
               <!--</li>-->


            </ul>
            <div class="res-pages clearfix" id="res-pages">

            </div>
            <div>
                <div class="fl ma-page-box"></div>
            </div>
        </div>
        <div class="fr res-history-list">
            <h2>历史搜索记录</h2>
            <ul>

            </ul>
        </div>
    </div>

    <div class="append"></div>
    <script src="../javascripts/func.js"></script>
    <script src="../javascripts/cdg.js"></script>
    <script src="../javascripts/jquery.page.js"></script>
    <script>
        var newIp=newIpNum;//8080端口的
        var lastIp=lastIpNum; //
        var loginName=decodeURIComponent($.cookie('login_user'));
        var token=$.cookie('login_token');
        var pageNum=0;
        var currentPage=0;
        var readList;
        $('#yes_user').hover(function(){
            $('.login-info-box').show();
        },function(){
            $('.login-info-box').hide();
        });

        $('#res-back').on('click',function(){
            window.history.back();
        });
        $.ajax({
            url: 'http://' + lastIp + '/index.php',    //获取指定字段列表
            type: 'POST',
            async:false,
            data: JSON.stringify({
                interface: 'getField',
                act: 'getUnique',
                Token: token,
                username: loginName,
                level: 3
            }),
            success: function (dataStr) {
                var data = JSON.parse(dataStr);
                if (data.status == 0) {
                    var onlyWordList = data.Item;
                    var oContent='';
                    for (var i = 0; i < onlyWordList.length; i++) {
                        oContent += '<li><input type="radio" id="only' + i + '" name="only"><label for="only' + i + '">' + onlyWordList[i].uniquefieldname + '</label></li>';

                    }
                    $('.search-only-btn ul').append(oContent);

                } else {
                    ;
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
        $.ajax({
            url:'http://'+newIp+'/jwcloud/user/messageList',
            type:'POST',
            async:false,
            data:{
                username:loginName
            },
            xhrFields:{
                withCredentials:true
            },
            success:function(data){
                if(data.status == 0){
                    $('.view-result-count p span').text(data.noReadNum);
                    readList=data.readList;
                    if(readList.length == 0){
                        $('.msg-list').append('<h2 style="font-size:20px">没有信息</h2>')
                    }else{
                        pageNum=Math.ceil(readList.length/20);
                        currentPage=1;
                        getCurrentData(1);
                    }
                }else{
                    layer(false,'您还没有登录，请点击“确定”返回登录页');
                }
            },
            error:function(err){
                console.log(err);
            }
        });
        console.log(pageNum);
        $('.ma-page-box').createPage(function(n){

        },{
            pageCount:pageNum,
            current:currentPage,
            showPrev:true,//是否显示上一页按钮
            showNext:true//是否显示下一页按钮
        },{
            "color":"#4a7ec6",
            "height":36,
            "pagesMargin":4,
            "borderColor":"#d2d2d2",
            "currentColor":"#fff",
            "disableColor":'#787878'
        });
        function loadCurrent(n){
            var current=$(n).text();
            currentPage=current;
            getCurrentData(current);
        }
        function getCurrentData(n){
            $(document).scrollTop(0);
            $('.msg-list').html('');
            for(var i=(20*(n-1));i<(20*(n-1)+20);i++){
                if(!!readList[i]){
                    var sourceName=readList[i].sourceName;
                    var backMessage=readList[i].backMessage;
                    readList[i].messageid=readList[i].messageid.substring(0,3);
                    var messageId=readList[i].messageid;
                    var time=readList[i].time;
                    var checkIsRead;
                    var checkIsPass;
                    var sendRead;
                    var href;
                    if(readList[i].isRead == 0 ){
                        href='';
                        checkIsRead='isread';
                        sendRead='';
                    }else{
                        href="href='javascript:void(0);'";
                        checkIsRead='';
                        sendRead='onclick="sendReadMsg(this)"';
                    }
                    if(readList[i].state == 0 ){
                        checkIsPass='管理员通过"'+sourceName+'"的权限申请';
                    }else{
                        checkIsPass='管理员驳回"'+sourceName+'"的权限申请。驳回原因：'+backMessage;
                    }
                    var time=readList[i].time;
                    var operate=readList[i].operate;
                    var oLi=' <li class="clearfix '+checkIsRead+'"><div class="fl msg-list-icon"></div><div class="fl">'+
                        '<p class="msg-link"><a '+href+' data="msg'+messageId+'" '+sendRead+' >'+checkIsPass+'</a></p><p class="msg-time">'+time+'</p></div></li>';
                    $('.msg-list').append(oLi);
                }
            }
        }
        function nextPage(){
            currentPage++;
            getCurrentData(currentPage);
        }
        function prevPage(){
            currentPage--;
            getCurrentData(currentPage);
        }
        function skipPage(){
            currentPage=$('.ma-page-input').val();
            if(currentPage>pageNum || currentPage<1){

            }else{
                console.log(currentPage);
                getCurrentData(currentPage);
            }
        }
        $.ajax({
            url:'http://'+newIp+'/jwcloud/user/getSearchRecord',
            type:'POST',
            data:{
                action:"getSearchRecord",
                dogId:dogId
            },
            xhrFields:{
                withCredentials:true
            },
            success:function(dataStr){
                var data=eval('('+dataStr+')');
                if(data.status==0){
                    var historyList=data.historyList;
                    for(var i=0;i<historyList.length;i++){
                        var oLi='<li><a href="'+historyList[i].url+'">搜索关键词"'+historyList[i].keyword+'"</a></li>';
                        $('.res-history-list ul').append(oLi);
                    }
                }else{
                    layer(false,'')
                }

            },
            error:function(err){
                console.log(err);
            }
        });

        function sendReadMsg(n){
            var msgId=$(n).attr('data').substring(3,$(n).attr('data').length);
            $.ajax({
                url:'http://'+newIp+'/jwcloud-interface/Jwcloud?interface=isRead',
                type:'POST',
                data:{
                    messageId:msgId
                },
                success:function(dataStr){
                    var data=eval('('+dataStr+')');
                    if(data.status ==0 ){
                        $(n).removeAttr('href').removeAttr('onclick');
                        $(n).parent().parent().parent().addClass('isread');
                    }else{
                        layer(false,'您还没有登录，请点击“确定”返回登录页');
                    }
                }
            })
        }
        $(document).keyup(function(e){
            if(e.keyCode == 13){
                $('#res-search-btn').trigger('click');
            }
        });
        $('#res-search-btn').on('click',function(){
            if(!!$('#res-search-text').val()) {
                var skipUrl='/mixresult?wd='+ encodeURIComponent($('#res-search-text').val())+'&word='+(key.word?key.word:'')+'&unison='+(key.unison?key.unison:'')+'&mate'+(key.mate?key.mate:'')+'&listCount=20&currentPage=1';
                $.ajax({
                    url: 'http://' + newIp + '/jwcloud-interface/Jwcloud?interface=userOperate',
                    type: 'POST',
                    data: {
                        username: username,
                        operate: "搜索关键词  '" + $('#res-search-text').val().trim().replace(/"/g,'\\"') + "'",
                        operateState: 0,
                        keyword:$('#res-search-text').val().trim().replace(/"/g,'\\"'),
                        url:skipUrl
                    },
                    success: function (dataStr) {
                        var data = eval('(' + dataStr + ')');
                        if (data.status == 0) {
                            console.log(data);
                            window.location.href = skipUrl;
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        });
        $('.msg-link a').on('click',function(){
            var parentAttr=$(this).parent().attr('class');
            if(parentAttr.indexOf('open')==-1){
                $(this).parent().addClass('msg-link-open');
            }else{
                $(this).parent().removeClass('msg-link-open');

            }
        })
        //指定字段下拉框
        $('.search-only-btn p').on('click',function(e){
            e.stopPropagation();
            var dropDown = $(this).parent().find('div').eq(0);
            var oIcon=$(this).find('i');
            if(dropDown.css('display')=='none'){
                dropDown.show();
                oIcon.addClass('down');
            }else{
                dropDown.hide();
                oIcon.removeClass('down');
            }
        });
        $('.search-only-btn div').on('click',function(e){
            e.stopPropagation();
        })

        $('.search-only-btn ul').on('click','input[type=radio]',function(){
            var text=$(this).parent().find('label').text();
            $('.search-only-btn p span').text(text);
            if(text=='姓名'){
                $('.res-search-container .unisonSearchBox').show();
            }else{
                $('.res-search-container .unisonSearchBox').hide();
                $('.res-search-container .unisonSearchBox #unisonSearch').removeAttr('checked');
            }
        });
    </script>

</body>
</html>