<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
<div id="msgTxt"></div>
<div class="res-search-box clearfix">
    <div class="wrap pr clearfix">
        <div class="fl">
            <a href="../search" class="res-logo">
                <img src="../images/pic_search_logo.png" alt="logo" />
                <span>甘井子蓝海云搜索平台</span>
            </a>
        </div>
        <div class="fl res-search-container pr">
            <form>
                <input type="text" style="display: none;" />
                <input type="text" style="display: none;" />
                <input type="text" placeholder="请输入关键字" class="res-search-text" maxlength="45" id="res-search-text" name="keyword" autocomplete="off" />
                <input type="button" value="搜索" class="res-search-btn" id="res-search-btn" />
            </form>
            <div class="unisonSearchBox">
                <input type="checkbox" id="unisonSearch"/>
                <label for="unisonSearch">同音查询</label>
            </div>
        </div>
        <div class="fl search-only-btn pr">
            <p>
                <span>全文搜索</span><i></i>
            </p>
            <div>
                <ul>
                    <li>
                        <input type="radio" name="only" id="search-all" checked="checked" /><label for="search-all">全文搜索</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="login-info-container source-list-login" id="no_user" style="display: none;">
            <div class="login-info-content">
                <img src="../images/icon_search_avatar.png" alt="user-head" />
                <span>请登录</span>
            </div>
        </div>
        <div class="login-info-container source-list-login fr" id="yes_user" >
            <div class="login-info-content clearfix">
                <div class="fr">
                    <div class="fl login-info-pos">
                        <img src="../images/icon_search_avatar.png" alt="user-head" />
                        <span class="red-point no-read"></span>
                    </div>
                    <span class="login-username fl"></span>
                </div>
            </div>
            <div class="login-info-box">
                <a href="javascript:void(0);" class="login-set">设置</a>
                |
                <a href="/messageCenter" class="message">消息</a>

                <a href="javascript:void(0);" class="out-user">退出</a>
                |
                <span class="red-message-hint no-read"></span>
                <div class="login-info-square"></div>
            </div>
        </div>
    </div>

</div>
<div class="wrap res-content clearfix">
    <div class="res-list-container fl">
        <div class="res-point">
            <a href="/search" class="res-back">< &nbsp;&nbsp;返回搜索主页</a>

            <div class="fr res-option">
                <a href="javascript:void(0);">一个月内</a>
                <a href="javascript:void(0);">三个月内</a>
                <a href="javascript:void(0);">一年内</a>
            </div>
        </div>
        <div class="mixr-content clearfix">
            <div class="fl mixr-nav">
                <div class="mixr-nav-list mixr-person mixr-nohave" data="typeId0">
                    <div class="mixr-nav-title">
                        <p>人员</p>
                        <p>共 <span>0</span> 条数据</p>
                    </div>
                    <div class="mixr-less-list">
                        <h2>二级类目</h2>
                        <ul class="clearfix">

                        </ul>
                    </div>
                </div>
                <div class="mixr-nav-list mixr-property mixr-nohave" data="typeId1">
                    <div class="mixr-nav-title">
                        <p >资产</p>
                        <p>共 <span>0</span> 条数据</p>
                    </div>
                    <div class="mixr-less-list">
                        <h2>二级类目</h2>
                        <ul class="clearfix">

                        </ul>
                    </div>
                </div>
                <div class="mixr-nav-list mixr-message mixr-nohave" data="typeId2">
                    <div class="mixr-nav-title">
                        <p >通讯</p>
                        <p>共 <span>0</span> 条数据</p>
                    </div>
                    <div class="mixr-less-list">
                        <h2>二级类目</h2>
                        <ul class="clearfix">

                        </ul>
                    </div>
                </div>
                <div class="mixr-nav-list mixr-trail mixr-nohave" data="typeId3">
                    <div class="mixr-nav-title">
                        <p >轨迹</p>
                        <p>共 <span>0</span> 条数据</p>
                    </div>
                    <div class="mixr-less-list">
                        <h2>二级类目</h2>
                        <ul class="clearfix">

                        </ul>
                    </div>
                </div>

                <div class="mixr-nav-list mixr-evidence mixr-nohave" data="typeId4">
                    <div class="mixr-nav-title">
                        <p>取证</p>
                        <p>共 <span>0</span> 条数据</p>
                    </div>
                    <div class="mixr-less-list">
                        <h2>二级类目</h2>
                        <ul class="clearfix">

                        </ul>
                    </div>
                </div>
                <div class="mixr-nav-list mixr-address mixr-nohave" data="typeId5">
                    <div class="mixr-nav-title">
                        <p >地图</p>
                        <p>共 <span>0</span> 条数据</p>
                    </div>
                    <div class="mixr-less-list">
                        <h2>二级类目</h2>
                        <ul class="clearfix">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="fl mixr-list">
                <h2>
                    <span></span>
                    <input type="button" value="返回上一级"  class="mixr-back-btn fr" onclick="backindex()"/>
                </h2>
                <ul class="mixr-list-ul">
                    <!--<li class="clearfix">-->
                        <!--<p class="fl">1、</p>-->
                        <!--<ul class="fl mixr-content-list">-->
                            <!--<li>姓名：张三</li>-->
                            <!--<li>身份证号：230121199211080612</li>-->
                            <!--<li>电话号：18311081234</li>-->
                            <!--<li>备案号：20170005</li>-->
                            <!--<li>楼盘号：华润家园五期工程</li>-->
                            <!--<li class="mixr-list-last">面积1000</li>-->
                            <!--<li class="mixr-list-link"><a href="javascript:void(0);" class="mixr-link">点击查看 <span></span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>

            </div>
            <div class="fl load-box">
                <div class="load-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="fl mixr-source-list">

            </div>
            <div class="fl mixr-detail">
                <h2>数据详情<input type="button" value="返回上一级"  class="mixr-back-btn fr" onclick="backCheck()"/></h2>
                <div class="mixr-detail-table">
                    <ul class="mixr-detail-ul clearfix">
                        <!--<li>-->
                            <!--<p>姓名：</p>-->
                            <!--<p>王利耐心呢</p>-->
                        <!--</li>-->
                    </ul>
                    <ol class="mixr-detail-ol clearfix">

                    </ol>
                </div>
            </div>
        </div>
        <div class="mixr-white-num hight-light">由于隐私,"<b></b>"类隐藏了 <span>0</span> 条信息</div>
        <div class="res-pages clearfix" id="res-pages"></div>
        <div class="res-source-pages clearfix" id="res-source-pages">

        </div>
    </div>
    <div class="fr res-history-list">
        <h2>历史搜索记录</h2>
        <ul></ul>
    </div>
</div>
<div class="append"></div>
<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script src="../javascripts/mixresult.js"></script>

</body>
</html>