<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>

    <div class="res-search-box clearfix">
        <div class="wrap">
            <div class="fl">
                <a href="../search" class="res-logo">
                    <img src="../images/pic_search_logo.png" alt="logo" />
                    <span>甘井子蓝海云搜索平台</span>
                </a>
            </div>
            <div class="fl res-search-container">
                <form>
                    <input type="text" style="display: none;" />
                    <input type="text" style="display: none;" />
                    <input type="text" placeholder="请输入关键字" class="res-search-text" maxlength="45" id="res-search-text" name="keyword" autocomplete="off" />
                    <input type="button" value="搜索" class="res-search-btn" id="res-search-btn" />
                </form>
            </div>
            <div class="login-info-container source-list-login" id="no_user" style="display: none;">
                <div class="login-info-content">
                    <img src="../images/icon_search_avatar.png" alt="user-head" />
                    <span>请登录</span>
                </div>
            </div>
            <div class="login-info-container source-list-login fr" id="yes_user" >
                <div class="login-info-content clearfix">
                    <div class="fr">
                        <div class="fl login-info-pos">
                            <img src="../images/icon_search_avatar.png" alt="user-head" />
                            <span class="red-point no-read"></span>
                        </div>
                        <span class="login-username fl"></span>
                    </div>


                </div>
                <div class="login-info-box">
                    <a href="javascript:void(0);" class="login-set">设置</a>
                    |
                    <a href="/messageCenter" class="message">消息</a>

                    <a href="javascript:void(0);" class="out-user">退出</a>
                    |
                    <span class="red-message-hint no-read"></span>
                    <div class="login-info-square"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="wrap res-content clearfix">
        <div class="res-list-container fl">
            <div class="res-point">
                <a href="#" class="res-back">< &nbsp;&nbsp;返回数据源列表</a>

                <div class="fr res-option">
                    当前数据源：<span>身份证库</span>
                </div>
            </div>
            <div class="view-result-count">
                <p>匹配关键字 “<span></span>”共找到 <span></span>个结果</p>
                <i></i>
                <i></i>
            </div>
            <ul class="res-info-list" id="res-info-list">
                <!--<li class="clearfix">-->
                    <!--<div class="res-info-list-icon fl"></div>-->
                    <!--<a href="#" class="res-info-content">-->
                        <!--<p class="res-info-summary">赵某某，性别：男，身份证：210506<span class="res-high-light">19620101</span>xxx，民族：汉，出生：1962年01月01日，地址：北京市昌平区上地xxxxxxxxxx，签证机关：北京市海淀区公安局；有效期：2014.07.20-2024.07.20，户籍变更信</p>-->
                        <!--<p class="res-info-label">-->
                            <!--<span>数据源：身份证库</span>-->
                            <!--<span>时间：2017-01-01</span>-->
                            <!--<span>地点：北京海淀</span>-->
                        <!--</p>-->
                    <!--</a>-->

                <!--</li>-->



            </ul>
            <div class="res-pages clearfix" id="res-pages">

            </div>
        </div>
        <div class="fr res-history-list">
            <h2>历史搜索记录</h2>
            <ul>

            </ul>
        </div>
    </div>
    <div class="append"></div>
    <script src="../javascripts/func.js"></script>
    <script src="../javascripts/cdg.js"></script>
    <script src="../javascripts/result.js"></script>
</body>
</html>