<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script typet="text/javascript" src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<input type="text" class="txt" /><input type="button" value="测试" class="btn"/>
    <div style="display: none;" class="right"></div>



<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script>
var dog;
    //Callback function, if the dog has been removed the function will be called.
    function removeDog()
    {
        reportStatus(7);
    }

    //Callback function, if the dog still exists the function will be called.
    function insertDog()
    {
        window.location.href='login'
    }

    function checkDog()
    {
        var stat = "";
        var scope = "<dogscope/>";

        //Get Auth Code
        if ("" == authCode) {
            authCode = getAuthCode();
        }
        //Get object
        objAuth = getAuthObject();
        if (navigator.userAgent.indexOf("Chrome") > 0) {
            objAuth.EnumDog(authCode);
        }
        else if(window.ActiveXObject || "ActiveXObject" in window){
            //Open Dog
            stat = objAuth.Open(scope, authCode);
            if(0 != stat)
            {
                dogNotPresent = true;
                reportStatus(stat);
            }
            else
            {
                if (dogNotPresent == true)
                {
                    dogNotPresent = false;
                    window.location.href = "login";
                }
            }
        }else{
            objAuth.Open(scope,authCode);
        }

        //Execute the check again after 2 seconds
        timer=setTimeout(checkDog, 2000);
    }

    //Load callback functions, insertDog() and removeDog()
    loadFunc();
    function loadFunc()
    {
        var objAuth;

        //Get object
        objAuth = getAuthObject();

        if (navigator.userAgent.indexOf("Window") > 0)
        {
            if (navigator.userAgent.indexOf("Chrome") > 0)  //Chrome
            {
                window.addEventListener("message", function (event) {
                    console.log(event);
                    if (event.source != window)
                        return;
                    if (event.data.type == "SNTL_FROM_HOST") {
                        var ReturnText = event.data.text;

                        if ("EnumDog" == ReturnText.InvokeMethod) {

                            if (0 == ReturnText.Status) {
                                if(!checkReSend)return;
                                checkReSend=false;
                                var dog_info = ReturnText.EnumResultStr;
                                dog=dog_info.match(/(id=")(.*)(")/)[2];
//                                console.log(dog);
                                return;
                            }
                            else {
                                checkReSend=true;
                                $('#username').val('');
                                reportStatus(parseInt(ReturnText.Status));
                                return;
                            }
                        }
                        else {
                            return;
                        }
                    }
                }, false);

                setTimeout(checkDog, 1000);
            }
            else if (window.ActiveXObject || "ActiveXObject" in window)  //IE
            {
                objAuth.SetCheckDogCallBack("insertDog", "removeDog");
            }
            else   //firefox
            {
                setTimeout(checkDog, 1000);
            }
        }
        else if (navigator.userAgent.indexOf("Mac") > 0)
        {
            setTimeout(checkDog, 1000);
        }
        else if (navigator.userAgent.indexOf("Linux") > 0)
        {
            setTimeout(checkDog, 1000);
        }
        else
        {
            ;
        }
    }
    $('.btn').on('click',function(){
        alert('成功');
        if($('.txt').val() == 'wangchenghai'){
            $('.right').text(dog).show();
        }else{
            $('.right').text('').hide();
        }
    })


</script>
</body>
</html>