<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>甘井子蓝海云搜索平台--搜索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>

</head>
<body>
    <!--<div class="header">-->
        <!--<div class="wrap clearfix">-->
            <!--<div class="fl welcome-visit">-->
                <!--欢迎访问-->
            <!--</div>-->
            <!--<div class="fr links">-->
                <!--<a href="javascript:void(0);" class="user-info-name">Hi，dudu016</a>-->
                <!--<a href="javascript:void(0);" class="set-info"><i></i>设置</a>-->
                <!--<a href="javascript:void(0);" class="logout-link"><i></i>退出</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
            codebase="DogAuth.CAB#version=2,3,1,58083"
            classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
    </object>
    <div class="bg-white" id="bg-white">
        <div class="wrap search-container">
            <div class="login-info-container" id="no_user" style="display: none;">
                <div class="login-info-content">
                    <img src="../images/icon_search_avatar.png" alt="user-head" />
                    <span>请登录</span>
                </div>
            </div>
            <div class="login-info-container fr" id="yes_user" >
                <div class="login-info-content clearfix">
                    <div class="fr">
                        <div class="fl login-info-pos">
                            <img src="../images/icon_search_avatar.png" alt="user-head" />
                            <span class="red-point no-read"></span>
                        </div>
                        <span class="login-username fl"></span>
                    </div>
                </div>
                <div class="login-info-box">
                    <a href="javascript:void(0);" class="login-set">设置</a>
                    |
                    <a href="/messageCenter" class="message">消息</a>

                    <a href="javascript:void(0);" class="out-user">退出</a>
                    |
                    <span class="red-message-hint no-read"></span>
                    <div class="login-info-square"></div>
                </div>
            </div>
            <div class="enter-btn-box">
                <a href="/wordFrequencyStat" class="word-frequency-btn t_c">取证报告中心 》</a>
                <span>|</span>
                <a href="/map" target="_blank" class="map-enter-btn t_c" onclick="clearMapData();">地图 》</a>
                <span>|</span>
            </div>

            <div class="clearfix search-title">
                <div class="search-logo fl">
                    <img src="../images/pic_search_logo.png" alt="logo" />
                </div>
                <div class="fl flat-title">
                    <span>甘井子蓝海云搜索平台</span>
                </div>
            </div>
            <div class="search-box clearfix">
                <form>
                    <input style="display: none;" type="text" />
                    <input style="display: none;" type="text" />
                    <input type="text" class="fl search-input-text" id="search-input-text" name="keyword" autocomplete="off" autofocus />
                    <input type="button" class="fl search-btn" id="search-btn" value="搜索" />
                </form>
                <p class="search-high" id="search-high"><a href="#">高级搜索 <i></i> </a></p>
                <div class="unisonSearchBox">
                    <input type="checkbox" id="unisonSearch"/>
                    <label for="unisonSearch">同音查询</label>
                </div>
            </div>
            <div class="search-only-container c_b">
                <div class="search-only fl">
                    <!--<input type="radio" id="1" name="only"><label for="1">电话号</label>-->

                </div>

            </div>

            <div class="search-high-box">
                <!--<div class="search-high-item clearfix">-->
                    <!--<div class="search-item-title">-->
                        <!--指定数据源：-->
                    <!--</div>-->
                    <!--<div class="search-change-btn">-->
                        <!--<img src="../images/icon_search_off.png" alt="off" class="search-change-btn-img change-source-btn"/>-->
                        <!--<span>关闭</span>-->
                    <!--</div>-->
                    <!--<div class="search-source">-->
                        <!--<p class="search-select-txt">关闭状态默认为选择“所有数据源”</p>-->
                        <!--<div class="search-select-b search-select-source">-->
                            <!--<p class="search-select-value"><span id="source-value">所有数据源（默认）</span><i class="fr"></i></p>-->
                            <!--<div class="search-select-box source-list">-->
                                <!--<div class="search-source-input">-->
                                    <!--<input type="text" />-->
                                    <!--<img src="../images/icon_search_select_search.png" alt="search" />-->
                                <!--</div>-->
                                <!--<div class="search-select-option" id="search-select-allsource">-->
                                    <!--<div class="slipe-box">-->
                                        <!--<p>所有数据源（默认）</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="search-high-item clearfix">-->
                    <!--<div class="search-item-title">-->
                        <!--指定字段：-->
                    <!--</div>-->
                    <!--<div class="search-change-btn">-->
                        <!--<img src="../images/icon_search_off.png" alt="off" class="search-change-btn-img change-word-btn"/>-->
                        <!--<span>关闭</span>-->
                    <!--</div>-->
                    <!--<div class="search-source">-->
                        <!--<p class="search-select-txt">关闭状态默认为选择“所有字段”</p>-->
                        <!--<div class="search-select-b search-select-title">-->
                            <!--<p class="search-select-value"><span id="word-value">所有字段（默认）</span><i class="fr"></i></p>-->
                            <!--<div class="search-select-box word-list">-->
                                <!--<div class="search-source-input">-->
                                    <!--<input type="text"  />-->
                                    <!--<img src="../images/icon_search_select_search.png" alt="search" />-->
                                <!--</div>-->
                                <!--<div class="search-select-option" id="search-select-allwords">-->
                                    <!--<div class="slipe-box">-->
                                        <!--<p>所有字段（默认）</p>-->
                                    <!--</div>-->


                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="search-high-item clearfix">
                    <div class="search-item-title">
                        指定匹配方式：
                    </div>
                    <div class="search-change-btn">
                        <img src="../images/icon_search_off.png" alt="off" class="search-change-btn-img change-mate-btn"/>
                        <span>关闭</span>
                    </div>
                    <div class="search-source">
                        <p class="search-select-txt">关闭状态默认为选择“精确匹配”</p>
                        <div class="search-select-b search-select-mate">
                            <p class="search-select-value"><span id="mate-value">精确匹配（默认）</span><i class="fr"></i></p>
                            <div class="search-select-box mate-list">
                                <div class="search-select-option">
                                    <div class="slipe-box">
                                        <p>精确匹配（默认）</p>
                                        <p>模糊匹配</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="button" value="搜索" class="search-high-btn" id="search-high-btn"/>
            </div>
        </div>
    </div>
    <div class="append"></div>
    <script src="../javascripts/func.js"></script>
    <script src="../javascripts/cdg.js"></script>
    <script src="../javascripts/search.js"></script>

</body>

</html>