<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看报表页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
    <style>
        header{
            font-size:20px;
        }
        iframe{
            margin-top:6px;
            width: 100%;
            height:800px;
            border:1px solid #dcdcdc;
        }

        .wrap{
            margin:0 auto;
            width:1000px;
        }
        .highLight{
            color:red;
        }
        .itemChange{
            margin-top:50px;
            font-size: 20px;
        }
        .itemChange span{
            margin-right:10px;
            cursor: pointer;
            -moz-user-select:none;
        }
        .itemChange span:active{
            color:#268aee;
        }
        .search-key-count{
            font-size: 14px;
            line-height: 20px;
            height:20px;
        }
        .search-key-count span{
            font-weight: bold;
        }
        .case-detail-btn{
            color:#E64B4D;
        }
        .case-detail-btn:after{
            margin-top: 4px;
            display: inline-block;
            margin-left:10px;
            content: '';
            width:0;
            height: 0;
            border:4px solid transparent;
            border-top-color:#E64B4D;
            vertical-align: middle;
        }
        .case-detail-btn.down:after{
            margin-top:-4px;
            border-top-color:transparent;
            border-bottom-color:#E64B4D;
        }
        .case-detail{
            position: absolute;
            right:0;
            top:26px;
            background: #fff;
            -webkit-box-shadow: 0 0 10px #c0c0c0;
            -moz-box-shadow: 0 0 10px #c0c0c0;
            box-shadow: 0 0 10px #c0c0c0;
            padding:14px 16px;
            display: none;
        }
        .case-detail li{
            line-height: 24px;
            color:#303030;
            white-space:nowrap;
        }
        .case-detail li p{
            float: left;
        }
        .case-detail li div span{
            display: block;
        }
    </style>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>

<div class="res-search-box clearfix">

    <div class="wrap pr">
        <div class="fl">
            <a href="../search" class="res-logo">
                <img src="../images/pic_search_logo.png" alt="logo" />
                <span>甘井子蓝海云搜索平台</span>
            </a>
        </div>
        <div class="fl res-search-container pr">
            <form>
                <input type="text" style="display: none;" />
                <input type="text" style="display: none;" />
                <input type="text" placeholder="请输入关键字" class="res-search-text" maxlenght="45" id="res-search-text" name="keyword" autocomplete="off" />
                <input type="button" value="搜索" class="res-search-btn" id="res-search-btn" />
            </form>
            <div class="unisonSearchBox">
                <input type="checkbox" id="unisonSearch"/>
                <label for="unisonSearch">同音查询</label>
            </div>
        </div>
        <div class="fl search-only-btn pr">
            <p>
                <span>全文搜索</span><i></i>
            </p>
            <div>
                <ul>
                    <li>
                        <input type="radio" name="only" id="search-all" checked="checked" /><label for="search-all">全文搜索</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="login-info-container source-list-login" id="no_user" style="display: none;">
            <div class="login-info-content">
                <img src="../images/icon_search_avatar.png" alt="user-head" />
                <span>请登录</span>
            </div>
        </div>
        <div class="login-info-container source-list-login fr" id="yes_user" >
            <div class="login-info-content clearfix">
                <div class="fr">
                    <div class="fl login-info-pos">
                        <img src="../images/icon_search_avatar.png" alt="user-head" />
                        <span class="red-point no-read"></span>
                    </div>
                    <span class="login-username fl"></span>
                </div>


            </div>
            <div class="login-info-box">
                <a href="javascript:void(0);" class="login-set">设置</a>
                |
                <a href="/messageCenter" class="message">消息</a>

                <a href="javascript:void(0);" class="out-user">退出</a>
                |
                <span class="red-message-hint no-read"></span>
                <div class="login-info-square"></div>
            </div>
        </div>
    </div>

</div>

<div class="wrap">

    <div class="itemChange">
        <span class="prev-item" onselectstart="return false;"><上一条</span>
        <span class="next-item" onselectstart="return false;">下一条></span>
    </div>
    <div class="clearfix">
        <div class="search-key-count fl">匹配到关键字 <span>0</span> 个</div>
        <div class="fr pr">
            <a href="javascript:;" class="case-detail-btn">案件详情</a>
            <div class="case-detail">
                <ul class="clearfix">

                </ul>
            </div>
        </div>
    </div>

    <iframe src="" frameborder="0" name="frameBox" id="frameBox"></iframe>
</div>

<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script>
    function getKey(){
        if(!!location.href.split('?')[1]){
            var urlHrefStr=location.href;
            var urlStr=urlHrefStr.substring(Number(urlHrefStr.indexOf('?'))+1,urlHrefStr.length);
            var urlArr=urlStr.split('&');
            var urlJson={};
            for(var i=0;i<urlArr.length;i++){
                var arr=urlArr[i].split('=');
                urlJson[arr[0]]=decodeURIComponent(arr[1]);
            }
            return urlJson;
        }else{
            return;
        }
    }
    var key = getKey();
    var keyWord=key.wd.trim();
    $('#res-search-text').val(keyWord);
    var formLink=$.cookie('formLink');    //其他厂商的单独html链接
    var linkStr=$.cookie('linkArr');    //睿海的报表名字
    var loginName=decodeURIComponent($.cookie('login_user'));
    var dogId=$.cookie('dogId');
    var uuid=$.cookie('uuid');
    var sourceName=$.cookie('sourceName');
    var linkNum=0;
    var highLight='';
    var oFrame=document.getElementById('frameBox');
    var lastIp=lastIpNum;
    $(document).on('click',function(){
        $('.search-only-btn div').hide();
    });
    var objToString = Object.prototype.toString;
    function isArray(value) {
        return objToString.call(value) === '[object Array]';
    }
    function isObj(value) {
        return objToString.call(value) === '[object Object]';
    }

    $.ajax({
        url: 'http://' + lastIp + '/index.php',    //获取指定字段列表
        type: 'POST',
        async:false,
        data: JSON.stringify({
            interface: 'getField',
            act: 'getUnique',
            username: loginName,
            level: 3
        }),
        success: function (dataStr) {
            var data = JSON.parse(dataStr);
            if (data.status == 0) {
                var onlyWordList = data.Item;
                var oContent='';
                for (var i = 0; i < onlyWordList.length; i++) {
                    oContent += '<li><input type="radio" id="only' + i + '" name="only"><label for="only' + i + '">' + onlyWordList[i].uniquefieldname + '</label></li>';

                }
                $('.search-only-btn ul').append(oContent);

            } else {
                ;
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    $.ajax({
        url:'http://'+newIpNum+'/jwcloud/html/getCaseInfo',
        type:'POST',
        data:{
            dogId:dogId,
            uuid:uuid,
            sourceName:sourceName
        },
        xhrFields:{
            withCredentials:true
        },
        success:function(data){
//            data={"status":0,"caseInfo":{"SIM串号(IMSI)":["34124"],"案件号":"4321423","手机串号(IMEI)":["432143432432143214324321"],"案件名称":"chadkfj我杀了几个人案件","本机号码":["45468746546"]}};
            if(data.status == 0){
                var list = data.caseInfo;
                console.log(list);
                $('.case-detail ul').html('');
                var oLi='';
                for(i in list){
                    var value='';
                    if(isArray(list[i])){
                        var arr=list[i];
                        for(var j=0;j<arr.length;j++){
                            value+='<span>'+arr[j]+'</span><br/>';
                        }
                    }else{
                        value='<span>'+list[i]+'</span>';
                    }
                    oLi+='<li class="clearfix"><span>'+i+' : </span><span style="display: inline-block;vertical-align: top">'+value+'</span></li>';
                }
                $('.case-detail ul').append(oLi);
            }else{

            }
        }
    });
    if(!!key.word) {
        var radioS = $('.search-only-btn ul li input[type=radio]');
        console.log(key.word);
        for (var i = 0; i < radioS.length; i++) {
            var word = radioS.eq(i).parent().find('label').eq(0).text();
            console.log(word);
            if (word == key.word) {
                radioS.removeAttr('checked');
                radioS.eq(i).attr({'checked': 'checked'});
                $('.search-only-btn p span').text(word);
            }
        }

    }

    if(!!key.unison){
        if(key.unison==1){
            $('.res-search-container .unisonSearchBox #unisonSearch').attr({'checked':'checked'});
            $('.res-search-container .unisonSearchBox').show();
        }else{
            if($('.search-only-btn p span').text()=='姓名'){
                $('.res-search-container .unisonSearchBox').show();
            }
            $('.res-search-container .unisonSearchBox #unisonSearch').removeAttr('checked');
        }

    }



    if(!!linkStr){
        var linkArr=linkStr.split(',');
        $('#frameBox').attr('src',linkArr[linkNum]);
        oFrame.onload=zou;
        var itemNum=1;
        function zou(){
//        http://21.26.96.109:3000/
            $('.itemChange .next-item').off('click');
            $('.itemChange .prev-item').off('click');
            var a=keyWord.replace(/\./g,'\\.').replace(/\+/g,'\\+').replace(/\$/g,'\\$').replace(/\^/g,'\\^').replace(/\[/g,'\\[').replace(/\]/g,'\\]').replace(/\(/g,'\\(').replace(/\)/g,'\\)').replace(/\{/g,'\\{').replace(/\}/g,'\\}').replace(/\|/g,'\\|').replace(/\*/g,'\\S*').replace(/\?/g,'\\S{1}');
//            var reg=new RegExp(a,'img');
//            var reg2=new RegExp('(\\S{0,5}'+a+'\\S{0,5})','g');
//            var keyWordArr=contents.match(reg2);
//            console.log(keyWordArr);
            $('#frameBox').contents().find('body a').removeAttr('href onclick');
            $('#frameBox').contents().find('html script').remove();
            var contents=$('#frameBox').contents().find('body').html();
            function keyLight( key){
                var sText = contents,
                    num = -1,
                    rStr = new RegExp('('+key+')', "ig"),
                    rHtml = new RegExp("\<.*?\>","ig"), //匹配html元素
                    aHtml = sText.match(rHtml); //存放html元素的数组
                sText = sText.replace(rHtml, '{~}');  //替换html标签
                sText = sText.replace(rStr,'<span class="highLight">$1</span>'); //替换key
                sText = sText.replace(/{~}/g,function(){  //恢复html标签
                    num++;
                    return aHtml[num];
                });
                $('#frameBox').contents().find('body').html(sText);
            }

            keyLight(a);

            highLight = $('#frameBox').contents().find('.highLight');
            console.log(highLight.length);
            $('.search-key-count span').text(highLight.length);
            itemNum=1;
            highLight.eq(itemNum-1).css({color:'red'});
            $('#frameBox').contents().find('html,body').scrollTop(highLight.eq(itemNum-1).offset().top-10);

            $('.itemChange .prev-item').on('click',function(){
                itemNum--;
                if(itemNum<1){
                    linkNum--;
                    if(linkNum<0){
//                        linkNum=linkArr.length-1;
//                        $('#frameBox').attr('src',linkArr[linkNum]);
//                        oFrame.onload=zou;
                        linkNum=0;
                        $('#frameBox').attr('src',linkArr[linkNum]);
                        oFrame.onload=zou;
                        alert('已经是第一个了');
                    }else{
                        $('#frameBox').attr('src',linkArr[linkNum]);
                        oFrame.onload=zou;
                    }
                }else{

                    highLight.css({color:'inherit'});
                    highLight.eq(itemNum-1).css({color:'red'});
                    $('#frameBox').contents().find('html,body').scrollTop(highLight.eq(itemNum-1).offset().top-10);
                }

            });
            $('.itemChange .next-item').on('click',function(){
                itemNum++;
                if(itemNum>highLight.length){
                    linkNum++;
                    if(linkNum>linkArr.length-1){
//                        linkNum=0;
//                        $('#frameBox').attr('src',linkArr[linkNum]);
//                        oFrame.onload=zou;
                        linkNum=linkArr.length-1;
                        $('#frameBox').attr('src',linkArr[linkNum]);
                        oFrame.onload=zou;
                        alert('已经是最后一个了');
                    }else{

                        $('#frameBox').attr('src',linkArr[linkNum]);
                        oFrame.onload=zou;
                    }
                }else{
                    highLight.css({color:'inherit'});
                    highLight.eq(itemNum-1).css({color:'red'});
                    $('#frameBox').contents().find('html,body').scrollTop(highLight.eq(itemNum-1).offset().top-10);
                }
            })
        }

    }else{
        $('#frameBox').attr('src',formLink);
        oFrame.onload=zou;
        function zou(){
//        http://21.26.96.109:3000/
            if(keyWord.indexOf('*')!=-1){
                var regS = new RegExp('\\*$','g');
                keyWord = keyWord.replace(regS,'');
            }
            var a=keyWord.replace(/\./g,'\\.').replace(/\+/g,'\\+').replace(/\$/g,'\\$').replace(/\^/g,'\\^').replace(/\[/g,'\\[').replace(/\]/g,'\\]').replace(/\(/g,'\\(').replace(/\)/g,'\\)').replace(/\{/g,'\\{').replace(/\}/g,'\\}').replace(/\|/g,'\\|').replace(/\*/g,'\\S*').replace(/\?/g,'\\S{1}');
//            var reg=new RegExp('('+a+')','g');
//            var reg2=new RegExp('(\\S{0,5}'+a+'\\S{0,5})','g');
//            var keyWordArr=contents.match(reg2);
//            console.log(keyWordArr);
//            var keyWordS=keyWord.replace('*','').replace('?','');
//            if(/^\d+$/g.test(keyWordS)){
//                if(keyWordS.length <2){
//                    $('#frameBox').contents().find('body *').removeAttr('name data style href onclick width height src title colspan rowspan class id' );
//                }else if(keyWordS.length <4 && keyWordS.length>=2){
//                    $('#frameBox').contents().find('body *').removeAttr('name data style href onclick width height src title  class id' );
//                }
//
//            }else{
//                $('#frameBox').contents().find('body *').removeAttr('name data href onclick');
//
//            }
            $('#frameBox').contents().find('body *').removeAttr('href onclick');
            $('#frameBox').contents().find('html script').remove();
            var contents=$('#frameBox').contents().find('body').html();

            function keyLight( key){
                var sText = contents,
                    num = -1,
                    rStr = new RegExp('('+key+')', "ig"),
                    rHtml = new RegExp("\<.*?\>","ig"), //匹配html元素
                    aHtml = sText.match(rHtml); //存放html元素的数组
                sText = sText.replace(rHtml, '{~}');  //替换html标签
                sText = sText.replace(rStr,'<span class="highLight">$1</span>'); //替换key
                sText = sText.replace(/{~}/g,function(){  //恢复html标签
                    num++;
                    return aHtml[num];
                });

                $('#frameBox').contents().find('body').html(sText);
            }
           keyLight(a);

//            var newContents=contents.replace(reg,'<span class="highLight">$1</span>').replace('\n','').replace('\r','');
//            $('#frameBox').contents().find('body').html(newContents);
//
            highLight = $('#frameBox').contents().find('.highLight');
            $('.search-key-count span').text(highLight.length);
            var itemNum=1;
            highLight.eq(itemNum-1).css({color:'red'});
            $('#frameBox').contents().find('html,body').scrollTop(highLight.eq(itemNum-1).offset().top-10);
            $('.itemChange .prev-item').on('click',function(){
                itemNum--;
                if(itemNum<1){
                    itemNum=1;
                    alert('已经是第一个了');
//                    itemNum=highLight.length;
                }
                highLight.css({color:'inherit'});
                highLight.eq(itemNum-1).css({color:'red'});
                $('#frameBox').contents().find('html,body').scrollTop(highLight.eq(itemNum-1).offset().top-10);

            });
            $('.itemChange .next-item').on('click',function(){
                itemNum++;
                if(itemNum>highLight.length){
//                    itemNum=1;
                    itemNum=highLight.length;
                    alert('已经是最后一个了');
                }
                highLight.css({color:'inherit'});
                highLight.eq(itemNum-1).css({color:'red'});
                $('#frameBox').contents().find('html,body').scrollTop(highLight.eq(itemNum-1).offset().top-10);

            });
        }
    }


    //搜索
    $('#res-search-btn').on('click',function(){
        if(!!$('#res-search-text').val()) {
            var searchKeyword=$('#res-search-text').val();
            var word='';
            var unison='';
            if(searchKeyword.length>45){
                searchKeyword=searchKeyword.substring(0,45);
            }else{
                searchKeyword=searchKeyword.substring(0,searchKeyword.length);
            }
            var text=$('.search-only-btn ul input:radio:checked').next('label').text();
            if(text=='全文搜索'){

            }else{
                word=text;
            }
            if($('#unisonSearch:checkbox:checked').length>0){
                unison = 1;
            }else{
                unison = 0;
            }
            var skipUrl='/mixresult?wd='+ searchKeyword+'&word='+word+'&unison='+unison+'&listCount=20&currentPage=1';

            $.ajax({
                url: 'http://' + newIp + '/jwcloud/user/addRecord',
                type: 'POST',
                data: {
                    dogId:dogId,
                    username: loginName,
                    operate: "搜索关键词  '" + searchKeyword.trim().replace(/"/g,'\\"') + "'",
                    operateState: 0,
                    keyword:searchKeyword.trim().replace(/"/g,'\\"'),
                    url:'&word='+(key.word?key.word:'')+'&unison='+(key.unison?key.unison:'')+'&listCount=20&currentPage=1'
                },
                xhrFields:{
                    withCredentials:true
                },
                success: function (dataStr) {
                    var data = eval('(' + dataStr + ')');
                    if (data.status == 0) {
                        window.location.href=skipUrl;
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    });
    //指定字段下拉框
    $('.search-only-btn p').on('click',function(e){
        e.stopPropagation();
        var dropDown = $(this).parent().find('div').eq(0);
        var oIcon=$(this).find('i');
        if(dropDown.css('display')=='none'){
            dropDown.show();
            oIcon.addClass('down');
        }else{
            dropDown.hide();
            oIcon.removeClass('down');
        }
    });
    $('.search-only-btn div').on('click',function(e){
        e.stopPropagation();
    })

    $('.search-only-btn ul').on('click','input[type=radio]',function(){
        var text=$(this).parent().find('label').text();
        $('.search-only-btn p span').text(text);
        if(text=='姓名'){
            $('.res-search-container .unisonSearchBox').show();
        }else{
            $('.res-search-container .unisonSearchBox').hide();
            $('.res-search-container .unisonSearchBox #unisonSearch').removeAttr('checked');
        }
    });
    $('.case-detail-btn').on('click',function(e){
        e.stopPropagation();
        if($(this).hasClass('down')){
            $(this).removeClass('down');
            $('.case-detail').hide();
        }else{
            $(this).addClass('down');
            $('.case-detail').show();
        }
    });
    $('.case-detail').on('click',function(e){
        e.stopPropagation();
    });
    $(document).on('click',function(){
        $('.case-detail-btn').removeClass('down');
        $('.case-detail').hide();
    })
</script>
</body>
</html>