<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据源列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
<div class="res-search-box clearfix">
    <div class="wrap clearfix">
        <div class="fl">
            <a href="../search" class="res-logo">
                <img src="../images/pic_search_logo.png" alt="logo" />
                <span>甘井子蓝海云搜索平台</span>
            </a>
        </div>
        <div class="fl res-search-container">
            <form>
                <input type="text" style="display: none;" />
                <input type="text" style="display: none;" />
                <input type="text" placeholder="请输入关键字" class="res-search-text" maxlength="45" id="res-search-text" name="keyword" autocomplete="off" />
                <input type="button" value="搜索" class="res-search-btn" id="res-search-btn" />
            </form>
        </div>

        <div class="login-info-container source-list-login" id="no_user" style="display: none;">
            <div class="login-info-content">
                <img src="../images/icon_search_avatar.png" alt="user-head" />
                <span>请登录</span>
            </div>
        </div>
        <div class="login-info-container source-list-login fr" id="yes_user" >
            <div class="login-info-content clearfix">
                <div class="fr">
                    <div class="fl login-info-pos">
                        <img src="../images/icon_search_avatar.png" alt="user-head" />
                        <span class="red-point no-read"></span>
                    </div>
                    <span class="login-username fl"></span>
                </div>


            </div>
            <div class="login-info-box">
                <a href="javascript:void(0);" class="login-set">设置</a>
                |
                <a href="/messageCenter" class="message">消息</a>

                <a href="javascript:void(0);" class="out-user">退出</a>
                |
                <span class="red-message-hint no-read"></span>
                <div class="login-info-square"></div>
            </div>
        </div>
    </div>
</div>
<div class="wrap res-content clearfix">
    <div class="res-list-container res-list-height fl">
        <div class="res-point">
            <a href="#" class="res-back">< &nbsp;&nbsp;返回搜索主页</a>

        </div>
        <div class="res-info-list" id="res-info-list">
            <p class="so-search-process">当前共在<span>0</span>个数据源进行加载，已完成<span>0</span>条，正在进行<span>0</span>条，等待搜索<span>0</span>条 </p>
            <div class="source-list-title clearfix">
                <p class="source-list-order">序号</p>
                <p class="source-list-name">数据源</p>
                <p class="source-list-process">搜索进程</p>
            </div>
            <ul class="source-list-ul" id="source-list-ul">
                <!--<li class="source-list-content clearfix">-->
                    <!--<p class="source-list-order">1</p>-->
                    <!--<p class="source-list-name">基本信息</p>-->
                    <!--<p class="source-list-process">搜索完成，共<span>9999</span>条结果，<a href="#" class="click-skip">点击查看></a> </p>-->
                <!--</li>-->

            </ul>
            <p class="empty-data-hints">很遗憾，没有搜索到数据！</p>

        </div>
        <!--<div class="res-pages clearfix" id="res-pages">-->

        <!--</div>-->
    </div>
    <div class="fr res-history-list">
        <h2>历史搜索记录</h2>
        <ul>

        </ul>
    </div>
</div>

<div class="append"></div>
<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script src="../javascripts/source.js"></script>
<script>
    $('.login.js-info-container').hover(function(){
        $('.login.js-info-box').show();
    },function(){
        $('.login.js-info-box').hide();
    });
</script>
</body>
</html>