<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../javascripts/plugins/bootstrap.min.css?ver=3.3.4.mini.css">
<link rel="stylesheet" href="../javascripts/plugins/web-explorer.css?ver=1.0.css">
<script src="../javascripts/plugins/angular.min.js?ver=1.4.6.mini.js"></script>
<script src="../javascripts/jquery-1.8.3.min.js"></script>
</head>
<body>
 
 
<div class="container">
  <div ng-app="file-explorer" ng-controller="explorer-list" class="web-explorer panel panel-default">
    <div class="panel-heading">
      <ul class="path-list">
        <!--父级目录列表-->
        <li ng-repeat="path in data.pathList" ng-click="openFolder(path.path)">
          <!--选中的目录（实际是最后一个），按钮设置为蓝色-->
          <button class="btn btn-xs" ng-class="{true:'btn-primary', false:'btn-default'}[!!path.active]">{{ path.name }}</button>
          <i ng-if="!path.active">/</i>
        </li>
      </ul>
      <b>文件浏览器</b>
      <!--系统运行状态，反应给用户-->
      <span ng-if="waitData" class="loading">{{ taskMsg }}中..</span>
    </div>
    <div class="panel-body">
      <!--如果链接失败，提示用户输入API地址，API密码（后端提供）-->
      <form ng-if="!connected" class="form-inline ">
        <div class="form-group">
          <input class="form-control" ng-model="query.apiadr" placeholder="API地址，不能为空">
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="query.apipwd" placeholder="API密码，如果没有设置请留空">
        </div>
        <button type="button" class="btn btn-primary" ng-click="openFolder('data/backup/睿海报表/睿海报表_2017-11-21-17-09_778/HUAWEI-20170830/HUAWEI-20170830')">链接</button>
        <!--测试-->
        <button type="button" class="btn btn-danger" ng-click="demo()">测试</button>
      </form>
      <!--文件夹和文件视图-->
      <div class="explorer-view">
        <dl ng-repeat="folder in data.folder">
          <dt ng-click="openFolder(data.path + '/' + folder.name)" class="folder">
            <i ng-if="folder.size">{{ folder.size | fileSize }}</i>
            <i ng-if="!folder.size">wait...</i>
            <b>{{ folder.name }}</b>
          </dt>
        </dl>
        <dl ng-repeat="file in data.file">
          <dt ng-click="openFile(file)" ng-class="file.ext" class="file">
            <i>{{ file.size | fileSize }}</i>
            <b>{{ file.name }}</b>
          </dt>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--程序，为了方便注释，放到 app.js中-->
<script src="../javascripts/plugins/app.js"></script>
 
</body>
</html>