<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>词频统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="../javascripts/plugins/bootstrap.min.css?ver=3.3.4.mini.css">-->

    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../javascripts/plugins/web-explorer.css?ver=1.0.css">
    <script src="../javascripts/plugins/angular.min.js?ver=1.4.6.mini.js"></script>
    <script src="../javascripts/plugins/angular-ui-router.js?ver=1.4"></script>
    <script src="../javascripts/plugins/app.js"></script>
    <script>
        var ipNum='<%= ip %>';
        var newIpNum='<%= newIp %>';
        var lastIpNum='<%= lastIp %>';
    </script>
</head>
<body>
<object id="AuthIE" name="AuthIE" width="0px" height="0px" style="display:none;"
        codebase="DogAuth.CAB#version=2,3,1,58083"
        classid="CLSID:05C384B0-F45D-46DB-9055-C72DC76176E3">
</object>
<div ng-app="app" ng-controller="my-controller" ng-cloak>
    <div class="res-search-box clearfix">
        <div class="wrap pr">
            <div class="fl">
                <a href="../search" class="res-logo">
                    <img src="../images/pic_search_logo.png" alt="logo" />
                    <span>甘井子蓝海云搜索平台</span>
                </a>
            </div>
            <div class="fl res-search-container">
                <form>
                    <input type="text" style="display: none;" />
                    <input type="text" style="display: none;" />
                    <input type="text" placeholder="请输入报表名" class="res-search-text" maxlength="45" id="form-search-text" name="keyword" autocomplete="off" ng-model="data.currentSearchForm" ng-keyup="getSearchFormCurrentData($event);" />
                    <input type="button" value="查找报表" class="res-search-btn" id="res-search-btn" ng-click="getSearchFormCurrentData();data.currentSearchForm?setRecord(1):'';" />
                </form>
            </div>
            <div class="login-info-container source-list-login" id="no_user" style="display: none;">
                <div class="login-info-content">
                    <img src="../images/icon_search_avatar.png" alt="user-head" />
                    <span>请登录</span>
                </div>
            </div>
            <div class="login-info-container source-list-login fr" id="yes_user" >
                <div class="login-info-content clearfix">
                    <div class="fr">
                        <div class="fl login-info-pos">
                            <img src="../images/icon_search_avatar.png" alt="user-head" />
                            <span class="red-point no-read"></span>
                        </div>
                        <span class="login-username fl"></span>
                    </div>
                </div>
                <div class="login-info-box">
                    <a href="javascript:void(0);" class="login-set">设置</a>
                    |
                    <a href="/messageCenter" class="message">消息</a>

                    <a href="javascript:void(0);" class="out-user">退出</a>
                    |
                    <span class="red-message-hint no-read"></span>
                    <div class="login-info-square"></div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
    <div class="append"></div>
</div>
<script src="../javascripts/func.js"></script>
<script src="../javascripts/cdg.js"></script>
<script src="/javascripts/frequency.js"></script>


</body>
</html>