<div class="word-frequency-page"></div>

<script src="/javascripts/jquery.page.js"></script>
<script>
    $('.word-frequency-page').createPage(function(n){

    },{
        pageCount:$scope.data.formListTotalPageNum,
        current:$scope.data.formListCurrentPage,
        showPrev:true,//是否显示上一页按钮
        showNext:true,//是否显示下一页按钮
        showIconBtn:true,
        showFirst:true,
        showLast:true,
        align:'left',
        pageSwap:false,
        showNear:1,
        frame:"angular"
    },{
        "color":"#268aee",
        "height":32,
        // "pageWidth":36,
        "pagesMargin":4,
        "borderColor":"#dcdcdc",
        "currentColor":"#fff",
        "currentBorderColor":"#4098f0",
        "currentBgColor":"#4098f0",
        "disableColor":'#bfd5ea',
        "disableBackColor":"#fff",
        "disableborderColor":"#dcdcdc",
        "prevNextWidth":42,
        "btnPadding":14
    });
</script>