<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>词频统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="../javascripts/plugins/bootstrap.min.css?ver=3.3.4.mini.css">-->

    <link rel="stylesheet" href="../stylesheets/reset.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script src="../javascripts/plugins/echarts.js"></script>

</head>
<body>
<div ng-controller="relationCtrl">
    <div class="wrap pr">
        <a href="javascripr:void(0);" class="res-back" ng-click="back();">< 返回</a>
        <div class="legend-hits">注：点击色块可选中或取消该项分类</div>
    </div>

    <div id="main" class="relation-container" style="height:{{data.convasheight}};margin:0 auto;"></div>
    <div ng-if="!switch.isRelationShow" style="height:{{data.convasheight}}" class="relation-loading">
        <div ng-show="switch.isloadRelation">
            <span></span><span></span><span></span>
        </div>
        <div ng-show="!switch.isloadRelation">
            该报表无法生成关系图
        </div>
    </div>

</div>
<script>
    var appElement = document.querySelector('[ng-controller=relationCtrl]');
    var $scope;
    function getScope(){
        $scope = angular.element(appElement).scope();
    }

    function hidebtn(){
        $('.fixed-pop').remove();
    }
    $(document).on('click',function(){
        hidebtn();
    });
    $('#main').on('click','.fixed-pop',function(e){
        console.log(e);
        e.stopPropagation();
    })
</script>
</body>
</html>