<div class="wrap res-content clearfix" ng-controller="viewFile-ctrl">
    <div class="res-list-container word-frequency-tc fl word-frequency-s">
        <div style="height: 100%;" class="view-add">
            <div class="res-point">
                <a href="javascript:void(0);" class="res-back" ng-click="back();">< &nbsp;&nbsp;返回</a>
            </div>
            <!--<iframe src="{{path.currentFilePath}}" frameborder="0" id="word-frame-container"></iframe>-->
        </div>

    </div>

    <div class="fr">
        <div class="res-history-list word-history-list" >
            <div>
                <h2>历史搜索记录</h2>
                <ul>
                    <li ng-repeat="record in data.historyList track by $index">
                        <a href="javascript:void(0);" style="cursor: default">{{record.operateState|setRecordState}} '{{record.keyword}}'</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>