
<div ng-controller="wordFrequency-ctrl" class="wrap res-content clearfix" >
    <div class="res-list-container word-frequency-tc fl" ng-class="{'word-frequency-s':switch.isShowIframe}">
        <div ng-show="switch.isShowIframe" ng-init="switch.isShowIframe=false" style="height: 100%;" class="appendFrame">
            <div class="res-point">
                <a href="javascript:void(0);" class="res-back" ng-click="backFormList()">< &nbsp;&nbsp;返回报表列表</a>
            </div>
            <h2 style="font-size:20px;margin:20px 0 0 20px;" ng-show="data.noSearchData" ng-init="data.noSearchData=false">没有搜索结果</h2>
            <!--<iframe src="{{path.currentFormWordPath}}" frameborder="0" id="word-frame-container"></iframe>-->
        </div>

        <div ng-show="!switch.isShowIframe">
            <div>
                <div class="res-point">
                    <a href="javascript:void(0);" class="res-back" ng-click="backFormList()">< &nbsp;&nbsp;返回报表列表</a>
                </div>
                <div class="view-result-count msg-red clearfix">
                    <p class="fl" ng-if="switch.isWordFrequency">词频统计说明</p>
                    <p class="fl" ng-if="!switch.isWordFrequency">数据挖掘说明</p>
                    <i></i>
                    <i></i>
                </div>
                <div class="word-frequency-msg" ng-if="switch.isWordFrequency">
                    <p>1、本页面是针对《{{data.currentFormName}}》报表做的词频统计   </p>
                    <p>2、使用右侧第一个搜索框可快速搜索查看报表内容  </p>
                    <p>3、词频列表在右侧，排列顺序由高到低  </p>
                    <p>4、翻阅、点击右侧可疑关键词，可以快速定位到报表中的位置   </p>
                    <div>
                        <p>点击<i class="prev-icon"></i>翻阅至该词汇的上一处</p>
                        <p>点击<i class="next-icon"></i>翻阅至该词汇的下一处</p>
                        <p><b class="bg-red"></b><span>当前位置</span><b class="bg-yel"></b><span>命中位置</span></p>
                    </div>
                </div>
                <div class="word-frequency-msg" ng-if="!switch.isWordFrequency">
                    <p>1、本页面是针对《{{data.currentFormName}}》报表做的数据挖掘   </p>
                    <p>2、使用右侧第一个搜索框可快速搜索查看报表内容  </p>
                    <p>3、挖掘结果共分为：身份证号、手机号、地址、ip、网址、银行卡号六大类 </p>
                    <p>4、点击右侧可疑关键词，可以快速定位到报表中的位置</p>
                    <p style="margin-left:20px;">点击悬浮图标可切换信息分类，当选中分类为蓝色标</p>
                </div>
            </div>
        </div>


    </div>
    <div class="fr">
        <div class="res-history-list fast-search-word" ng-if="switch.isShowFastSearch">
            <div>
                <div class="fastSearchForm">
                    <input type="text" placeholder="快速搜索报表内容" ng-model="data.currentSearchFormWord" ng-keyup="searchFormWord($event);">
                    <p class=" change-btn" ng-click="$event.stopPropagation();" ng-show="switch.isShowFastSearchChangeBtn">
                        <i class="prev" ng-click="skipPrevWord(1);$event.stopPropagation();";></i>
                        <i class="next" ng-click="skipNextWord(1);$event.stopPropagation();";></i>
                    </p>
                </div>
            </div>
        </div>

        <div ng-if="switch.isWordFrequency">
            <div class="res-history-list word-frequency-box">
                <div class="search-word-box">
                    <p>
                        <input type="text" placeholder="请输入词汇" ng-model="data.currentSearchWord" ng-keyup="searchWord($event);">
                    </p>
                </div>
                <div class="word-frequency-list">
                    <ol ng-if="!isEmpty(data.viewWordList)">
                        <li class="clearfix"  ng-repeat=" form in data.viewWordList track by $index " title="'{{form.word}}'{{form.count}}条数据" ng-class="{'active':switch.showPress==$index}" ng-click="showFile(form.word);switch.showPress=$index;switch.isShowFastSearchChangeBtn=false;data.currentSearchFormWord=''" repeat-finished>
                            <p class="fl">{{form.word}}</p>
                            <p class="fr precess">
                                <span  style="width:{{form.count/data.firstWordCount| percentCount}}"></span>
                                <span  class="count">{{form.count}}条</span>
                            </p>
                            <p class="fr change-btn" ng-click="$event.stopPropagation();">
                                <i class="prev" ng-click="skipPrevWord();$event.stopPropagation()";></i>
                                <i class="next" ng-click="skipNextWord();$event.stopPropagation()";></i>
                            </p>
                        </li>
                    </ol>
                    <div style="text-align: center;"><img ng-if="switch.isLoading" src="/images/loading.gif" alt=""><h3 ng-if="!switch.isRuihai">该报表没有统计信息</h3></div>
                </div>
            </div>
        </div>
        <div ng-if="!switch.isWordFrequency">
            <div class="res-history-list word-frequency-box">
                <div class="search-word-title clearfix">
                    <p class="fl">
                        <img ng-src="{{path.itemImage}}" alt="{{data.dataMiningName}}" />
                    </p>
                    <p class="fl "><span>{{data.dataMiningName}}</span> 共 <b>{{data.dataMiningNum}}</b> 条信息</p>
                </div>
                <div class="word-frequency-list">
                    <ul ng-if="true" class="datamining-list">
                        <li class="clearfix" ng-repeat="item in data.viewWordList track by $index" title="'{{item.word}}'出现{{item.count}}次" repeat-finished ng-click="showFile(item.word);switch.showPress=$index;data.currentSearchFormWord=''"  ng-class="{'active':switch.showPress==$index}">
                        <!--<li class="clearfix" repeat-finished>1、身份证2101211<span>99324324</span>32fdafdsa32fdafdsa32fdafdsa32fdafdsa</li>-->
                        <!--<li class="clearfix" repeat-finished>1、身份证21012119932432432fddafda</li>-->
                            <p class="fl">{{item.word}}</p>
                            <p class="fr precess">
                                <span  style="width:{{item.count/data.firstWordCount| percentCount}}"></span>
                                <span  class="count">{{item.count}}次</span>
                            </p>
                            <p class="fr change-btn" ng-click="$event.stopPropagation();">
                                <i class="prev" ng-click="skipPrevWord();$event.stopPropagation()";></i>
                                <i class="next" ng-click="skipNextWord();$event.stopPropagation()";></i>
                            </p>
                        </li>
                    </ul>
                    <div style="text-align: center;"><img ng-if="switch.isLoading" src="/images/loading.gif" alt=""><h3 ng-if="!switch.isRuihai">该报表没有统计信息</h3></div>
                </div>
            </div>
        </div>

    </div>
    <div ng-if="!switch.isWordFrequency" class="aside-float-bar">
        <ul>
            <li ng-repeat="item in data.floatDataList track by $index" ng-class="{'on':data.selectbar==$index}" class="{{item.class}}" title="{{item.name}}" ng-click="data.selectbar=$index;searchbar($index);"></li>
        </ul>
    </div>
</div>
<script>
    $(document).on('mouseenter','.word-frequency-list li p.precess',function(){
        $(this).find('span').eq(0).hide();
        $(this).find('span').eq(1).show();
    });
    $(document).on('mouseleave','.word-frequency-list li p.precess',function(){
        $(this).find('span').eq(0).show();
        $(this).find('span').eq(1).hide();
    });
</script>