<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报表中心</title>
</head>
<body>
<div ng-controller="word-ctrl">

<div class="wrap res-content clearfix" >
    <div class="res-list-container word-frequency-tc fl" ng-class="{'word-frequency-s':switch.isShowIframe}">

        <div>
            <div>
                <div class="res-point">
                    <a href="/search" class="res-back" >< &nbsp;&nbsp;返回搜索主页</a>
                    <p class="fr wf-default">默认按时间顺序</p>
                </div>
                <div class="view-result-count msg-red clearfix">
                    <p class="fl">报表列表</p><p class="fl relation-report-btn"><span>|</span><a href="javascript:void(0);" ng-click="switch.isShowReport=true;">关联多个报表</a></p>
                    <div class="fr t_c">
                        <a href="javascript:;" ng-class="{'on':isSecend==x.value}" ng-repeat="x in data.secondBtn" ng-click="getCurrentData(x.value);">{{x.name}}</a>
                    </div>
                    <i></i>
                    <i></i>
                </div>
                <ul>
                    <li ng-repeat="form in formList track by $index">
                        <h2>{{form.statementName}}</h2>
                        <div class="clearfix">
                            <p class="fl">
                                <span>共包含{{form.htmlNum}}个html文件</span>
                                <span>{{form.uploadDate}}</span>
                            </p>
                            <p class="fr">
                                <a href="#/wordFrequency?form={{form.statementName}}&type=dataMining&uuid={{form.uuid}}" ng-click="toDataMining();">数据挖掘</a>
                                <a ng-if="form.statementSource==0" href="#/wordFrequency?form={{form.statementName}}&type=chat&uuid={{form.uuid}}" ng-click="toWordFrequency();setRecord(-1)">聊天词频统计</a>
                                <a href="#/wordFrequency?form={{form.statementName}}&type=all&uuid={{form.uuid}}" ng-click="toWordFrequency();setRecord(-1)">全文词频统计</a>
                                <a ng-if="form.statementSource==0" href="#/relationGraph?uuid={{form.uuid}}" ng-click="getRelation(form.statementName);setRecord(-1)">人物关系图</a>
                                <a href="javascript:void(0);" ng-click="fileExplorer('data/backup/'+form.path,form.statementName);setRecord(0);">查看</a>
                            </p>
                        </div>
                    </li>
                </ul>
                <h2 style="font-size:20px;margin:20px 0 0 20px;" ng-show="data.noData">没有搜索结果</h2>
                <div ng-show="!data.noData" class="word-frequency-page fl"></div>
            </div>

        </div>


    </div>
    <div class="fr">

        <div class="res-history-list word-history-list" >
            <div>
                <h2>历史搜索记录</h2>
                <ul>
                    <li ng-repeat="record in data.historyList track by $index">
                        <a href="javascript:void(0);" style="cursor: default">{{record.operateState|setRecordState}} '{{record.keyword}}'</a>
                    </li>
                </ul>
                <p ng-if="data.historyList.length===0">没有搜索记录</p>
            </div>

        </div>


    </div>
</div>

<div ng-controller="explorer-list">
    <div class="explore-box-shade" ng-show="switch.isShowExplorer" ng-click="hideAll()"></div>
    <div class="explorer-box" ng-show="switch.isShowExplorer" watch-height style="top:{{data.explorerTop}}">
        <div class="container">
            <div>
                <div class="panel-heading clearfix">
                    <b>文件浏览</b><span style="margin:0 12px;color:#c8c8c8;">|</span><span style="color:#a0a0a0;font-size:14px">请选择入口报表文件</span>
                    <!--系统运行状态，反应给用户-->
                    <span ng-if="waitData" class="loading">加载中..</span>
                    <span ng-click="hideAll()" class="hide-btn fr"></span>
                </div>
                <div>
                    <ul class="path-list">
                        <!--父级目录列表-->
                        <li ng-repeat="path in viewData.pathList" ng-click="openFolder(path.path)">
                            <!--选中的目录（实际是最后一个），按钮设置为蓝色-->
                            <button class="btn btn-xs" ng-class="{true:'btn-primary', false:'btn-default'}[!!path.active]">{{ path.name }}</button>
                            <i ng-if="!path.active">></i>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="explorer-view">
                        <dl ng-repeat="folder in viewData.folder">
                            <dt ng-click="openFolder(viewData.path + '/' + folder.name)" class="folder" title="{{folder.name}}">
                            <div>
                                <i ng-if="folder.size">{{ folder.size | fileSize }}</i>
                                <i ng-if="!folder.size">wait...</i>
                            </div>

                            <b>{{ folder.name }}</b>
                            </dt>
                        </dl>
                        <dl ng-repeat="file in viewData.file">
                            <dt ng-click="openFile(file)" ng-class="file.ext" class="file" title="{{file.name}}">
                                <div>
                                    <i>{{ file.size | fileSize }}</i>
                                </div>
                                <b>{{ file.name }}</b>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <div ng-controller="reportMap-ctrl">
        <div class="report-shade" ng-show="switch.isShowReport" ng-click="hideShade()"></div>
        <div ng-show="switch.isShowReport" class="report-box" style="top:{{data.reportBoxTop}}">
            <div class="panel-heading clearfix">
                <b>选择报表</b><span style="margin:0 12px;color:#c8c8c8;">|</span><span style="color:#a0a0a0;font-size:14px">请选择需要关联的报表</span>
                <!--系统运行状态，反应给用户-->
                <span ng-click="hideShade()" class="hide-btn fr"></span>
            </div>
            <div class="clearfix mt30">
                <div class="fl report-search-box">
                    <p class="report-search-title">
                        <input type="text" placeholder="请输入报表名" ng-model="data.reportSearchWord" ng-keyup="getSearchReportDataList($event)"/>
                        <span ng-click="getSearchReportDataList();"></span>
                    </p>
                    <div class="report-search-list">
                        <ul>
                            <li ng-repeat="item in data.searchFormResult track by $index" ng-show="item.statementSource==0" source="{{item.statementName}}" uuid="{{item.uuid}}" ng-dblclick="insertSelectList($index);">
                                {{item.statementName}}
                            </li>
                        </ul>
                        <p ng-if="data.searchFormResult.length==0">请在搜索输入要添加的报表并双击选中</p>
                    </div>
                </div>
                <div class="fl report-choose-box">
                    <h2>选中报表列表</h2>
                    <div class="report-choose-list">
                        <ul>
                            <li ng-repeat="item in data.SelectList track by $index" class="{{item.class}}" source="{{item.statementName}}" uuid="{{item.uuid}}">
                                <span title="{{item.statementName}}">{{item.statementName}}</span>
                                <i ng-click="delSelect($index)"></i>
                            </li>
                        </ul>
                        <div ng-if="data.SelectList.length>0" style="text-align: center;">
                            <input type="button" value="生成图谱" class="report-map-btn" ng-click="createMap()" />
                        </div>

                        <p ng-if="data.SelectList.length==0">暂无报表</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/jquery.page.js"></script>
<script>
    var appElement = document.querySelector('[ng-controller=word-ctrl]');
    var $scope;
    function getScope(){
        $scope = angular.element(appElement).scope();
    }

    function loadCurrent(obj){
        getScope();
        $scope.loadCurrent($(obj).text());
    }
    function firstPage(){
        getScope();
        $scope.firstPage();
    }
    function prevPage(){
        getScope();
        $scope.prevPage();
    }
    function nextPage(){
        getScope();
        $scope.nextPage();
    }
    function lastPage(){
        getScope();
        $scope.lastPage();
    }
    function skipPage(){
        getScope();
        $scope.skipPage()
    }

</script>
</body>
</html>