body{
	background: #fff;
}
table{
	table-layout:fixed;
}
.header{
	width: 100%;
	height: 64px;
	line-height: 64px;
	background: #3c4851;
	color:#fff;
	overflow: hidden;
}
input[type='text']:focus{
	border-color:#4a7ec6 !important;
}
input[type='text']:blur{
	border-color:#4a7ec6 !important;
}
.logo img{
	vertical-align: middle;
	margin:0 14px 0 24px;
}
.logo span{
	font-size:22px;
	margin-right: 16px;
}
.logo  i{
	margin-right: 16px;
	font-size: 18px;
	font-weight:bold; 
}
.logo b{
	font-size: 16px;
	font-weight: normal;
}
.login-info{
	margin-right: 48px;
}
.login-info span{
	margin-right: 32px;
	font-size: 14px;
}
.login-info a{
	color:#fff;
	font-size: 14px;
}
.login-info a i{
	margin-right: 6px;
	display: inline-block;
	width: 17px; 
	height: 14px;
	background: url('../images/icon_quit2.png') no-repeat;
	vertical-align: middle;
}
.menu{
	width: 220px;
	height: 100%;
	background: #ecf3f8;
}

.connent{
	height: 100%;
	margin-left: 220px;
	overflow: hidden;
}
.manage-nav li{
	height: 72px;
	line-height: 72px;
	position: relative;
	padding-left:38px; 
}
.manage-nav li a{
	display: block;
	font-size: 16px;
	color:#4a4a4a;
}
.on a i{
	width: 6px;
	height: 100%;
	background: #4a7fc6;
	position: absolute;
	top: 0;
	left:0;
}
.on{
	background: #ccdcf0;
}
.on:after{
	display: block;
	content: '';
	position: absolute;
	right: -12px;
	top: 24px;
	width: 24px;
	height: 24px;
	background: #fff;
	transform:rotateZ(45deg);
}
.connent-box{
	display: none;
	height: 100%;
}
.uploader-box{
	padding: 20px;
	height:100%;
}
.uploader-box-header{
	height: 40px;
	line-height: 40px;
	padding-left:16px;
	font-size:14px;
	color:#a0a0a0;
	background: #f5f5f5;
}
.uploader-tag{
	margin-top:30px;
	height:18px;
	line-height: 18px;
	font-size: 16px;
	color:#4a4a4a;
}
.uploader-tag span{
	margin-right:8px;
	display: inline-block;
	width: 4px;
	height: 18px;
	background: #4a7ec6;
	vertical-align: middle;
}
.uploader-container{
	margin-top:20px;
	height:80%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}
.uploader-source{
	margin:32px 0 0 30px;
	position: relative;
	z-index: 90;
}
.uploader-source span{
	margin-right:4px;
	font-size:14px;
	color:#4b4b4b;
	line-height: 36px;
	font-weight:700;
}
.search-select-value span{
	display: inline-block;
	max-width:360px;
	white-space: nowrap;
	overflow: hidden;
}
.search-select{
	padding:0 10px;
	width: 400px;
	height: 36px;
	border:1px solid #c8c8c8;
	cursor:pointer;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	position: relative;
	box-sizing: border-box;
}

.search-select-value{
	line-height: 36px;
	height: 36px;
	font-size:14px;
	color:#4a4a4a;
}
.search-select-option, .search-class-option, .search-second-class-option{
	max-height: 182px;
	width:auto;
	font-size:14px;
	color:#4a4a4a;
	line-height: 36px;
	background: #fff;
	overflow-y:auto;
	overflow-x: hidden;
	position: relative;
	left:0;
}
.slipe-box{
	position: relative;
	top:0;
	left:0;
}
.select-blue-p{
	background: #d6e9fa;
}
.slipe-box p{
	width:100%;
	padding:0 10px;
	cursor:pointer;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-select-value i,.search-class-value i,.search-second-class-value i{
	margin-top:16px;
	width: 10px;
	height: 5px;
	background: url("../images/icon_search_select_dropdown.png") no-repeat;
}
.slipe-box p:hover{
	background: #f0f0f0;
}
/*.blue{*/
	/*color:#288bec;*/
/*}*/
.search-source-input{
	height: 56px;
	width: 100%;
	position: relative;
}
.search-select-box{
	width: 398px;
	border: 1px solid #c6ccd2;
	border-top:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	background: #fff;
	position: absolute;
	top: 35px;
	left:-1px;
	display: none;
	z-index: 999;
	overflow: hidden;
}
.search-z-index20{
	z-index:20;
}
.search-source-input input{
	padding:0 10px;
	margin:10px 0 0 10px;
	width: 358px;
	height: 34px;
	border:1px solid #c6ccd2;
	font-size:14px;
}
.search-source-input img{
	position: absolute;
	top:22px;
	right:24px;
}
.uploader-create-source-btn{
	margin-left:20px;
	width: 106px;
	height: 36px;
	font-size:16px;
	line-height: 36px;
	padding-left:42px;
	color: #fff;
	border-radius:4px;
	background:#46a870 url("../images/icon_upload_new.png") 20px 10px  no-repeat;
	cursor: pointer;
}
.uploader-source-hints{
	margin:12px 0 20px 90px;
	padding-left:24px;
	background: url("../images/icon_upload_prompt.png") 0 2px no-repeat;
	color:#a0a0a0;
	font-size:14px;
	height: 20px;
}
.uploader-class-box{
	margin: 32px 0 0 30px;
	position: relative;
	z-index: 100;
}
.uploader-class-box span{
	margin-right: 4px;
	font-size: 14px;
	color: #4b4b4b;
	line-height: 36px;
	font-weight: 700;
}
.uploader-class-box>div{
	width:480px;
}
.uploader-btn{
	margin-left:30px;
	padding-left: 40px;
	width: 80px;
	height: 36px;
	line-height: 36px;
	font-size:16px;
	color:#fff;
	background:#4a7ec6 url("../images/icon_upload_upload.png") 16px 10px no-repeat;
	border-radius:4px;
	cursor:pointer;
	position: relative;
}
.layer-bg{
	width: 100%;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top:0;
	left:0;
	z-index: 120;
	display: none;
}
.layer-layout{
	margin-left:-220px;
	width: 440px;
	background: #fff;
	text-align: center;
	position: absolute;
	top: 244px;
	left: 50%;
	z-index: 999;
	overflow: hidden;
}
.new-creatsource-box{
	display: none;
}
.new-creatsource-box h2{
	margin-top: 72px;
	text-align: center;
	font-size:18px;
	color:#ed6d06;
	font-weight: bold;
}
.layer-layout span{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url("../images/icon_upload_close.png") no-repeat;
	position: absolute;
	top:18px;
	right:18px;
	cursor:pointer;
}
.new-source-txt{
	margin-top:30px;
	width: 284px;
	height: 36px;
	line-height: 36px;
	padding-left: 12px;
	font-size:14px;
	border:1px solid #c8c8c8;
	border-radius:4px;
}
.new-creatsource-box p{
	margin-top:36px;
	margin-bottom: 60px;
	padding: 0 74px;
	overflow: hidden;
}
.new-creatsource-box p input{
	width: 138px;
	height: 38px;
	font-size:14px;
	border-radius: 4px;
	cursor: pointer;
}
.new-creat-confirm{
	background: #ed6d06;
	color:#fff;
}
.new-creat-concel{
	color: #a0a0a0;
	border: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*提示弹窗*/
.hints-layer{
	text-align: center;
	display: none;
}
.hints-layer img{
	margin: 52px 0 36px 0;
}
.hints-layer p,.hints-box p{
	font-size: 18px;
	color:#747474;
}
.hints-layer .hints-txt,.hints-box .hints-text{
	padding:0 20px;
	margin-bottom:60px;
}
.hints-layer-btn{
	margin-bottom:62px;
	padding:0 50px;
}
.hints-layer-btn input{
	width: 138px;
	height: 38px;
	line-height: 38px;
	font-size:14px;
	border-radius: 4px;
	cursor: pointer;
}
.recreat-confirm{
	background: #ed6d06;
	color:#fff;
}
/***弹窗2*/
.hints-box{
	margin-left:-150px;
	width: 300px;
	height: 200px;
	background: #fff;
	text-align: center;
	position: absolute;
	top: 244px;
	left: 50%;
	z-index: 999;
	border:1px solid #c8c8c8;
	display: none;
}
.hints-box img{
	margin: 36px 0 28px 0;
}
/**弹窗3**/
.delHints{
	display: none;
}
.del-Hints-box{
	text-align: center;
	overflow: hidden;
}
.del-Hints-box img{
	margin:52px 0 16px 0;
}
.del-Hints-box .hints-txt{
	margin-bottom:36px;
	line-height: 40px;
	font-size:18px;
	font-weight: 500;
}
.hints-layer-btn input{
	display: inline-block;
	margin:0 10px;
}
.del-hints-yes{
	background:#ed6d06 ;
	color:#fff;
}
.del-hints-no{
	color:#a6a6a6;
	border: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*上传插件样式*/
.uploader-data-view{
	margin:0 30px;
	display: none;
	position: relative;
	z-index:80;
}
.uploader-data-table{
	overflow-x: auto;
    border:1px solid #e6e6e6;
}
.table,table tr th, table tr td {
	border:1px solid #e6e6e6;
	font-size: 14px;
	line-height: 40px;
	min-height:40px;
}
table tr td,table tr th{
	padding:0 16px;
	text-align: left;
	/*max-width:200px;*/
}
table tr th .table-title,table tr td{
	white-space:nowrap;
	overflow-x: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
table tr th{
	background: #f4f9fa;
}
table tr th.editTh{
	background: #E6F4F7;
	-ms-text-overflow:clip;
	text-overflow:clip;
}
.load-view-table select{
	margin-right:4px;
}
.table-title{
	width:120px;
	min-height: 60px;
	line-height: 60px;
	text-align: left;
	float: left;
}
.upload-qrcode-box{
	margin-top: 26px;
	width: 154px;
	height: 182px;
	border:1px solid #c8c8c8;
	position: relative;
}
.upload-qrcode-box .upload-qrcode{
	width:100%;
	height: 28px;
	line-height: 28px;
	background: #6ea8dd;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.upload-qrcode-box .uploader-list{
	height: 154px;
	background: #fff url("../images/icon_qrcode.png") no-repeat center center;
}
.upload-qrcode-box .webuploader-pick{
	width: 154px;
}
.upload-qrcode-box .webuploader-pick{
	height: 28px;
	line-height: 28px;
}
.upload-qrcode-box .upload-edit{
	width: 154px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	bottom:0;
	left:0;
	z-index: 1;
	display: none;
	background: #6ea8dd;
	text-align: center;
	color:#fff;
}
.upload-qrcode-box .upload-edit .edit-btn span{
	margin:0 10px;
	width: 24px;
	color: #fff;
	float: left;
	cursor: pointer;
}
.upload-qrcode-box .edit-btn .webuploader-pick{
	width:24px;
}




.uploader-rights-view{
	margin-top:10px;
	font-size:14px;
	color:#4a4a4a;
	display: none;
}
.uploader-rights-view h2{
	height: 42px;
	line-height: 42px;
}
.uploader-rights-view .uploader-view-container{
	height:36px;
	line-height: 36px;
}
.uploader-view-container input{
	margin-right:8px;
}
.uploader-view-container input , .uploader-view-container label{
	cursor:pointer;
	vertical-align: middle;
}
.uploader-view-btn{
	text-align: center;
	margin-top:10px;
	height: 36px;
}
.mr50{
	margin-right:50px;
}
.pos-r{
	position: relative;
}

.uploader-view-btn>input,.uploader-view-btn button{
    margin:0 10px;
	width: 120px;
	line-height: 36px;
	height: 36px;
	font-size:16px;
    cursor: pointer;
    border-radius:4px;
	vertical-align:top;
}
.special-box {
	width: 458px;
	height: 258px;
	background: #fff;
	position: absolute;
	top:44px;
	left:0;
	border:1px solid #b4b4b4;
	color:#4a4a4a;
	display: none;
}
.special-title{
	padding-left:18px;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #c8c8c8;
	background: #f6f6f6;
	overflow: hidden;
}
.special-title h2{
	font-size:14px;
}
.special-list{
	padding-left:18px;
	height: 216px;
	overflow-y: auto;
}
.special-list ul{
	margin-top:12px;
}
.special-list ul li{
	width: 210px;
	float: left;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.special-title input{
	margin-right:10px;
	width: 46px;
	height: 18px;
	line-height: 18px;
	border:1px solid #5288d0;
	color:#fff;
	background: #8ab4f0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	font-size: 12px;
}
.special-title .special-team-off ,.special-title .special-user-off{
	background: #dcdcdc;
	color:#4a4a4a;
	border-color: #c8c8c8;
}
.uploader-view-confirm{
	background: #4a7fc6;
	color:#fff;
}
.uploader-view-continue{
	background: #e6e6e6;
	color:#4c4c4c;
	border:1px solid #c8c8c8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uploader-view-cancel{
	background: #fff;
	color:#e6403a;
	border:1px solid #e6403a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uploader-data-view .uploader-data-view-title{
    font-size: 14px;
    color: #4b4b4b;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
	position: relative;
}
.noEtidHints{
	padding:0 20px;
	color: #D7272B;
	position: absolute;
	font-size: 14px;
	top:38px;
	left:80px;
	border:1px solid #cdcdcd;
	-webkit-box-shadow: 0 0 10px #cdcdcd;
	-moz-box-shadow: 0 0 10px #cdcdcd;
	box-shadow: 0 0 10px #cdcdcd;
	background: #fff;
	display: none;
}
.noEtidHints span{
	display: block;
	width: 8px;
	height: 8px;
	background: #fff;
	border:1px solid #cdcdcd;
	border-right:none;
	border-bottom:none;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	position: absolute;
	top:-5px;
}
.uploader-data-view-title a{
	font-weight: 400;
    margin:0 20px;
}
.uploader-data-view-title a:last-child{
	color:#8a8a8a;
	font-size: 12px;
}
.uploader-data-view-title a b{
	color:#ff7902;
}
.uploader-data-view-title .uploader-view-change-btn{
    color:#e6403a;
	vertical-align: bottom
}
.uploader-data-view-title .uploader-view-add-btn{
	color:#57aea7;
	vertical-align: bottom
}
.uploader-data-view-title a{
	color:#bdbdbd;
}
.uploader-data-view-title a i{
    margin-right:6px;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.view-change i{
	background: url("../images/icon_upload_modify_2.png") no-repeat;
}
.view-add i{
	background: url("../images/icon_upload_add_2.png") no-repeat;
}
.uploader-data-view-title .uploader-view-change-btn i{
    background: url("../images/icon_upload_modify.png") no-repeat;
}
.uploader-data-view-title .uploader-view-add-btn i{
    background: url("../images/icon_upload_add.png") no-repeat;
}
.uploader-data-view-title em{
    color:#dcdcdc;
    font-weight: 400;
    font-size: 20px;
}

.creat-link-waiting{
	display: block;
	margin-top:130px;
	margin-bottom: 130px;
	font-size:18px;
	color: #747474;
}
.creat-link{
	display: none;
}
.creat-link-hints{
	display: none;
}
.creat-link img{
	margin: 52px 0 36px 0;
}
.creat-link .hints-txt{
	margin-bottom:36px;
	padding:0 20px;
	color:#747474;
	font-size: 18px;
}
.creat-link-know{
	width: 160px;
	color:#fff;
	background: #46a870;
}
/*****管理用户账号*****/
.wp{
	margin:0 20px;
}
.manage-box{
	width:100%;
	height: 100%;
}
.account-manage-iframe{
	width:100%;
	height:100%;
}
.w-account-manage-iframe{
	width:100%;
	height:100%;
}
.manage-white-list{
	width:100%;
	height:100%;
}
.ma-header{
	margin-top:20px;
	padding-left:16px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #a7a7a7;
	background: #f5f5f5;
	font-weight:normal;
}
.ma-header b{
	font-weight: normal;
}
.ma-head-box{
	margin:20px;
	line-height: 34px;
	font-size: 14px;
}
.ma-title-select-container{
	margin-right:12px;
	position: relative;
	color:#4a4a4a;
}
.ma-title-select-container p{
	padding:0 30px 0 14px;
	width: 154px;
	height: 34px;
	border:1px solid #c8c8c8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.ma-title-select-container ul{
	width: 198px;
	border:1px solid #c8c8c8;
	border-top:none;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	display: none;
	position: absolute;
	background: #fff;
	overflow: hidden;
}
.ma-title-select-container ul li{
	padding:0 30px 0 14px;
	cursor: pointer;
}
.ma-title-select-container ul li:hover{
	background: #f5f5f5;
}
.ma-title-select-container span{
	display: inline-block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #3b4954;
	position: absolute;
	top: 18px;
	right: 14px;
}

.ma-search .ma-search-input,.white-add-txt{
	margin-right:12px;
	width: 266px;
	padding:0 16px;
	line-height: 34px;
	height: 34px;
	border:1px solid #c8c8c8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.ma-search .ma-search-btn,.white-add-btn{
	width: 100px;
	height: 36px;
	line-height: 36px;
	color:#fff;
	background: #4a7ec7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.ma-handle-btn a{
	padding:0 14px 0 40px;
	line-height: 36px;
	height: 36px;
	margin-left:12px;
	display: inline-block;
	color:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.ma-handle-btn .ma-user-apply-list-btn{
	display: none;
	background: #fc954a url("../images/icon-userlist.png") no-repeat 14px 10px;
}
.ma-handle-btn .ma-new-user-btn{
	background: #46a970 url("../images/icon-new.png") no-repeat 14px 10px;
}
.ma-handle-btn .ma-refresh-btn{
	background: #e6e6e6 url("../images/icon-refresh.png") no-repeat 14px 10px;
	color:#4a4a4a;
}
.ma-user-apply-news:after{
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background: #f82828;
	float: right;
	margin-top:-2px;
	margin-right:-16px;
}
.ma-userlist-container{
	margin-bottom:40px;
}
.ma-userlist-container table{
	width: 100%;
}
.ma-userlist-container tr {
	height:40px;
	line-height: 40px;
	color:#4a4a4a;
	font-size:14px;
	text-align: left;
}
.ma-userlist-container  th,.ma-applylist-container th{
	background: #f5f5f5;
	font-weight: bold;
}
.ma-userlist-container th,.ma-userlist-container td{
	padding:0 16px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ma-handle-use a{
	color:#4a7ec6;
}
.ma-handle-use span{
	color:#c8c8c8;
	margin:0 18px;
}
.ma-bg-green{
	background: #f4f8fb;
}
.ma-pages {
	height:36px;
	line-height: 36px;
	font-size:14px;
	color:#787878;
	margin-bottom: 20px;
}
.ma-page-box{
	margin-left:24px;
}
/**新建账号页**/

.ma-headtitle{
	margin-top:24px;
	margin-bottom: 18px;
	height: 34px;
	line-height: 34px;
	color:#4a4a4a;
	font-size: 14px;
	font-weight:bold;
}
.ma-headtitle span{
	display: inline-block;
	margin:4px 10px 0 0;
	width: 4px;
	height: 18px;
	background: #4a7ec6;
}
.ma-headtitle b{
	vertical-align: super;
}
.ma-new-container{
	width: 740px;
	padding:24px 30px 0;
	border:1px solid #e6e6e6;
}
.ma-new-title{
	margin-bottom: 24px;
	padding-left:14px;
	line-height: 30px;
	height:30px;
	color:#787878;
}
.ma-new-title span{
	color:#ff6000;
}
.ma-h{
	margin-bottom:24px;
	height: 36px;
	line-height: 36px;
}
.ma-new-form-text{
	width: 90px;
	text-align: right;
	color: #4a4a4a;
	font-weight: bold;
}
.ma-new-form-text span{
	color:#ff6000;
	margin-right:6px;
}
.ma-new-form-input{
	width: 270px;
}
.ma-new-form-input input{
	width: 206px;
	padding:0 16px;
	height:34px;
	line-height: 34px;
	border:1px solid #c8c8c8;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.ma-new-point{
	margin-left:-16px;
	color:#a0a0a0;
}
.ma-remark-box{
	margin-bottom: 40px;
}
.ma-del-box{
	line-height: 36px;
	color: #4a4a4a;
	font-weight: bold;
}
.ma-del-box input{
	vertical-align: middle;
}
.ml10{
	margin-left:10px;
}
.ma-remark-box textarea{
	padding:10px;
	width: 577px;
	height: 138px;
	border:1px solid #c8c8c8;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.ma-remark-box textarea:focus{
	border-color:#4a7ec6;
}
.ma-newcreate-btn{
	width: 160px;
	height: 36px;
	background: #4a7ec6;
	color: #fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	cursor: pointer;
}
.ma-new-btn-box{
	text-align: center;
	margin-bottom:40px;
}
/****用户申请列表页*****/
.ma-applylist-container{
	margin-bottom:40px;
}
.ma-applylist-container table{
	width: 100%;
}
.ma-headtitle div a{
	margin-left:12px;
	display: inline-block;
	padding:0 22px 0 44px;
	height: 34px;
	line-height: 36px;
	font-size: 16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.ma-pass-btn{
	color: #fff;
	background: #46a870 url("../images/icon-pass.png") no-repeat 15px 10px;
	border:1px solid #46a870;
}
.ma-nopass-btn{
	color:#494949;
	background: #e6e6e6 url("../images/icon-nopass.png") no-repeat 15px 10px;
	border:1px solid #c8c8c8;
}
.ma-apply-handle a{
	color: #628fce;
}
.ma-apply-handle span{
	margin:0 20px;
	color:#c8c8c8;
}

/****历史记录***/
.ma-history-refresh-btn{
	color:#4a4a4a;
	background: #e6e6e6 url("../images/icon-refresh.png") no-repeat 15px 10px;
	border:1px solid #c8c8c8;
}
.ma-historylist-container{
	margin-bottom:40px;
}
.ma-historylist-container table{
	width: 100%;
}
.ma-historylist-container th{
	background: #f5f5f5;
}
tr.redMark {
	color:#e23232;
}
.show-box{
	padding:10px 20px 40px;
	width: 340px;
	-webkit-box-shadow: 0 0 10px #c0c0c0;
	-moz-box-shadow:  0 0 10px #c0c0c0;
	box-shadow:  0 0 10px #c0c0c0;
	background: #fff;
	position: absolute;
}
.show-box h2{
	line-height:34px;
	font-size: 14px;
	font-weight:bold;
	color:#4a4a4a;
}
.show-box p{
	line-height: 24px;
	font-size: 14px;
	color:#787878;
}
.show-box span{
	display: block;
	width:8px;
	height: 8px;
	background: #fff;
	border:1px solid #c8c8c8;
	border-left-color: transparent ;
	border-bottom-color: transparent ;
	transform: rotate(-45deg);
	position: absolute;
	top:-5px;
	right: 30px;
}
.ma-small-hints{
	margin-left:-80px;
	width: 160px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color:#fff;
	background: #fc964a;
	position: absolute;
	left:50%;
	top:100px;
	display: none;
}
.popBox{
	padding:0 20px;
	width: 340px;
	height: 232px;
	background: #fff;
	-webkit-box-shadow: 0 0 10px #c0c0c0;
	-moz-box-shadow:  0 0 10px #c0c0c0;
	box-shadow:  0 0 10px #c0c0c0;
	position: absolute;
	top:40px;
	right:0;
}
.popBox h2{
	height:44px;
	line-height:44px;
	color:#4a4a4a;
	font-size:14px;
}
.popBox textarea{
	padding:10px;
	width: 318px;
	height: 108px;
	border:1px solid #c8c8c8;
	overflow: hidden;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.popBox p{
	line-height: 26px;
	height: 26px;
}
.popBox p input{
	margin-right:16px;
	height: 24px;
	width:62px;
	border: 1px solid #4a7ec6;
	cursor:pointer;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.popBox .noPassBtn{
	background: #4a7ec6;
	color: #fff;
}
.popBox .popOff{
	background:#e6e6e6 ;
	color:#4a4a4a;
	border-color: #c8c8c8;
}
.ma-apply-handle .spanTri{
	display: block;
	width:8px;
	height: 8px;
	background: #fff;
	border:1px solid #c8c8c8;
	border-left-color: transparent ;
	border-bottom-color: transparent ;
	transform: rotate(-45deg);
	position: absolute;
	top: 34px;
	left: 76px;
}
p.border-b0,.border-b0{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.length-hide{
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/******服务器概况页*****/
.server-box{
	padding:20px;
}
.server-b{
	overflow-y: auto;
}
.server-container{
	margin-top:20px;
	width:100%;
}
.server-content{
	margin:0 24px 24px 0;
	width:48%;
	height: 290px;
	background: #f0f0f0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	overflow: hidden;
}
.server-content h2{
	padding-left:16px;
	height: 36px;
	line-height: 36px;
	background: #d2d2d2;
	color:#4a4a4a;
}
.server-list-box{
	padding:12px 26px 0;
}
.server-list-box ul{
	width:50%;
}
.server-list-box ul:nth-of-type(2){
	/*width: 40%;*/
}
.server-list-box li{
	line-height: 34px;
	font-size: 14px;
}
.server-list-box li .server-content-title{
	width: 118px;
	font-weight: bold;
	color:#4a4a4a;
}
.server-list-box li .server-content-txt{
	color:#787878;
}
.uploader-press-container{
	display: none;
}
.press-container{
	min-width:1042px;
	margin-top:20px;
	padding:28px 0 28px 30px;
	border:1px solid #e6e6e6;
}
.press-container ul{
	width: 100%;
}
.press-container li{
	width:30%;
}
.press-line{
	width:1px;
	height: 20px;
	background: #d2d2d2;
	margin:0 2%;
}
.press-container ul .press-line:nth-of-type(3n) {
	background: transparent;
	margin:0;
}
.press-container h2{
	width:15%;
	font-size: 16px;
	font-weight: bold;
	color:#000;
}
.press-bar-container{
	width:64%;
}
.press-source-name, .press-rate{
	line-height: 32px;
	font-size:14px;
	color:#494949;
}
.press-source-name{
	max-width:70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.press-rate,.press-del{
	display: none;
}

.press-box{
	width: 100%;
	height: 16px;
	background: #eaeaea;
}
.press-bar{
	width:0;
	display: block;
	height:16px;
	background: #30c08c;
}
.press-del{
	margin-left: 5%;
	padding-left:24px;
	line-height: 18px;
	color:#787878;
	background:url("../images/icon_delete.png") no-repeat 0 2px;
}
/*******新增星级部分*****/
.search-grade{
	width: 68px;
	height:18px;
	color:#6f7070;
	font-size:12px;
	position: relative;
	line-height: 18px;
	cursor: pointer;
	border: 1px solid #e6e6e6;
	text-align: center;
	background: #fff;
	z-index:99;
}
.search-grade i{
	display: inline-block;
	width:0;
	height:0;
	border:4px solid transparent;
	border-top-color: #6f7070;
	position: absolute;
	right:4px;
	top:8px;
}
.search-only-field{
	position: relative;
	z-index:9;
	margin-bottom:10px;
}
.search-grade .search-grade-title{
	display: inline-block;
	height: 18px;
}

.search-grade-list{
	margin-left:-1px;
	width: 68px;
	border:1px solid #e6e6e6;
	background: #fff;
	overflow: hidden;
	display: none;
	position: relative;
}
.cover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.search-grade-list span{
	display: inline-block;
	width:100%;
	padding:4px 0;
	text-align: center;
	line-height: 20px;
	height:20px;
	background: #fff;
	color:#8a8a8a;
	cursor: pointer;
}
.search-grade-list span:hover{
	color:#5687ca;
}
.search-grade-radio{
	line-height: 30px;
	height: 20px;
	color:#6f7070;
	cursor: pointer;
}
.load-view-table th,.uploader-source-table th,.load-view-table td{
	min-width: 190px ;
	max-width:190px;
}
/*.load-view-table th{*/
	/*white-space: nowrap;*/
	/*overflow-x: hidden;*/
/*}*/
.add-mark-container{
	position: relative;
}

.add-mark-btn{
	font-size:12px;
	color:#f46c20;
	position: relative;
	cursor: pointer;
}
.add-mark-btn p:nth-of-type(1){
	margin:16px 8px 0 0;
	width: 8px;
}

.add-mark-btn p span{
	margin-bottom:2px;
	display: block;
	height: 1px;
	background: #f46c20;
}
.add-mark-box{
	width:268px;
	/*height: 124px;*/
	position: absolute;
	top:40px;
	left:0;
	padding:10px 0;
	background: #fff;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	z-index: 100;
	display: none;
}
.add-mark-box b{
	position: absolute;
	width: 8px;
	height: 8px;
	background: #fff;
	border:1px solid transparent;
	border-top-color:#ccc;
	border-left-color:#ccc;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top:-5px;
	left:30px;
}
.add-mark-box dl{
	float: left;
	padding:0 16px;
	line-height: 28px;
	font-size: 12px;
}
.add-mark-box dl:first-of-type{
	width: 44px;
}
.add-mark-box dl:last-of-type{
	width: 68px;
}
.add-mark-box dl.position-box{
	width: 44px;
}
.add-mark-box dl.station-box{
	width: 52px;
}
.add-mark-box span{
	width: 1px;
	height: 64px;
	float: left;
	margin-top:34px;
	background: #eee;
}

.add-mark-box dl dt{
	font-weight:bold;
}
.add-mark-box dl dd{
	line-height: 24px;
	font-weight:normal;
}
.add-mark-box dl dd input{
	margin-right:6px;
	vertical-align: middle;
	cursor: pointer;
}
.add-mark-box dl dd label{
	cursor: pointer;
}
.search-grade-radio input[type=radio]{
	vertical-align: middle;
}
.dataSource input[type=text]{
	padding:0 10px;
	width: 380px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #c8c8c8;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.search-second-change{
	position: relative;
}
.search-cover{
	width: 420px;
	height: 36px;
	background: transparent;
	position: absolute;
	z-index:1000;
	top:0;
	left:50px;
}
.uploader-source-title{
	display: none;
}
.uploader-source-title h2{
	margin:10px;
	font-size:16px;
	font-weight: bold;
}
.read-file-box{
	margin:10px;
	font-size:16px;
	font-weight: bold;
}
.read-file-line{
	padding:0 8px;
	height: 18px;
	width: 20px;
	border:1px solid #e6e6e6;
}
.serverDataCount h2{
    margin-top:20px;
    font-size: 18px;
}
/*上传取证报表*/
.uploader-files-count{
	margin-left:30px;
	margin-bottom:24px;
	padding: 0 24px;
	width:580px;
	height:46px;
	line-height:46px;
	font-size:14px;
	color:#4b4b4b;
	border:1px solid #cde0d4;
	background: #f9fdfc;
}
.uploader-files-count span{
	margin:0 6px;
	font-size: 16px;
	color:#fc964a;
}
.uploader-form-item{
	margin:0 0 0 30px;
}
.uploader-form-item-title{
	width: 110px;
	font-size: 14px;
	line-height: 36px;
	color:#4b4b4b;
	font-weight: bold;
}
.uploader-form-item-txt{
	margin-bottom:24px;
	padding:0 8px;
	height: 34px;
	line-height: 34px;
	border:1px solid #c8c8c8;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.w804{
	width: 790px;
}
.w318{
	width: 304px;
}
.ml54{
	margin-left:54px;
}
.uplader-forms-source{
	font-size:14px;
	margin-left:30px;
}
.forms-source-title{
	margin-top:10px;
	line-height: 42px;

}
.forms-source-title lable{
	margin-right:50px;
}
.uploader-forms-btn{
	margin:120px 0 20px;
	text-align: center;
}
/***白名单样式****/
.white-add-box{
	padding:30px 30px;
}
.white-list-view div{
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	padding:10px 20px;
	margin:10px 10px;
	border:1px solid #e6e6e6;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background: #fff;
	position: relative;
}
.upload-btn-box{
	position: relative;
	top: 0;
	left:0;
}
.uploadWhiteList{
	width:140px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	background: #4a7ec6 url(../images/icon_upload_upload.png) 16px 10px no-repeat;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.upload-white-warn{
	margin-top:10px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color:#e6403a;
}
.uploadWhiteBtn{
	position: absolute !important;
	top:0;
	left:0;
}
.uploadWhiteBtn .webuploader-pick{
	top:0;
	left:0;
	color:#fff;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	padding-left:20px;
}
/*.white-list-type{*/
	/*margin-top: 30px;*/
/*}*/
.white-list-type p{
	margin-right:20px;
	float: left;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}
.white-list-type input,.white-list-type label{
	cursor: pointer;
}
.upload-file-list{
	margin-top:30px;
	width: 500px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}
.upload-file-list .item{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.upload-file-list .item h4{
	width:240px;
	float: left;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.upload-file-list .item div div{
	float: left;
}
.upload-file-list .item .bar{
	margin-top:6px;
	height: 16px;
	width: 200px;
	border:1px solid #e6e6e6;
}
.upload-file-list .item .bar.on{
	box-shadow: 0 0 8px #333;
}
.upload-file-list .item .bar span{
	display: block;
	height: 16px;
	width:50%;
	background: #4a7ec6;
}
.white-list-complete{
    margin-left:8px;
    float: left;
    visibility: hidden;
}