.msg-list-container{
	border-color:#268aee; 
}
.msg-blue p{
	color:#268aee;
}

.msg-list li{
	padding:0;
	border-bottom: 1px solid #ebebeb;
}
.msg-list-icon{
	margin-top: 14px;
	width: 44px;
	height: 20px;
	background: url('../images/icon-msg.png') no-repeat left bottom;
}
.isread .msg-list-icon{
	background-image: url('../images/icon-read-msg.png');
}
.isread .msg-link a{
	color:#a0a0a0;
}

.msg-link{
	margin-top: 10px;
	line-height: 30px;
	font-size: 14px;
	width: 666px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.msg-link a{
	color:#494949;
}
.msg-time{
	font-size:10px;
	line-height: 26px;
	color:#a0a0a0;
	margin-bottom: 14px;
}
.msg-link-open{
	white-space:normal;
	overflow:visible;
}
















