body{
    background: #f5f5f5;
}
.wrap{
    width:1000px;
    margin:0 auto;
}
.header{
    height: 100px;
}
.bg-white{
    width:100%;
    background: #fff;
}
.login-container{
    height: 600px;
    position: relative;
}
.login-container-bg{
    width: 100%;
    height:600px;
    background: #183268;
}
.login-bg-wrap{
    width: 1460px;
    margin-left:-730px;
    position: relative;
    left:50%;
    background:url("../images/login-bg-img.png") no-repeat;
}
.platform-login-container{
    float: right;
    margin-top:100px;
    width: 400px;
    height: 400px;
    background: #fff;
}
.platform-logo{
    margin-top:42px;
    margin-bottom:10px;
    text-align: center;
}
.header img{
    margin:22px 20px 0 0;
    vertical-align: middle;
}
.header div p{
    color: #787878;
}
.platform-title-name{
    margin-top:26px;
    font-size: 16px;
    font-weight: bold;
}
.platform-title{
    margin-top:4px;
    line-height: 30px;
    font-size:22px;
    color:#787878;
    font-weight: 600px;
    text-align: center;
}
.user-change{
    font-size: 20px;
    text-align: center;
    height:90px;
    line-height: 90px;
    color: #c8c8c8;
}
.user-change a{
    margin:0 36px;
    color: #c8c8c8;
}
.user-change .on{
    color:#646464;
}
.user-info{
    width: 340px;
    margin:0 auto;
}
.user-info .user-list{
    height:68px;
    width:100%;
}
.user-list input {
    height:48px;
    width: 340px;
    line-height: 48px;
    font-size:14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #d2d2d2;
    padding:0 20px;
}
.user-list input:focus{
    border: 2px solid #016cbc;
}
.error-box{
    margin-top:7px;
    line-height: 20px;
    color: #f03838;
    font-size:12px;
}
.error-hints{
    display: none;
}
.user-list p i{
    margin-right:6px;
    display: inline-block;
    width:12px;
    height: 12px;
    background: url("../images/icon_prompt.png") no-repeat;
    vertical-align: middle;
}
.user-info .user-list:last-of-type{
    margin-bottom:16px;
}
.submit-btn{
    margin-bottom:12px;
    width: 100%;
    line-height: 48px;
    background: #278aef;
    font-size:16px;
    color:#fff;
    cursor:pointer;
}
.submit-blue{
    background: #4a7ec6;
}
.links-area{
    line-height: 20px;
    color:#787878;
    font-size:12px;
    text-align: center;
}
.links-area a{
    padding:0 14px;
    font-size:12px;
    color: #787878;
}
/*.header{
    line-height:26px;
    background:#f5f5f5;
}
.welcome-visit{
    font-size: 12px;
    color:#747474;
}
.links a{
    color:#787878;
    font-size:10px;
}
.user-info-name{
    margin-right:32px;
}
.set-info{
    vertical-align: middle;
    margin-right:30px;
}
.set-info i{
    margin-right:6px;
    display: inline-block;
    width:10px;
    height: 10px;
    background: url("../images/icon_set.png") no-repeat;
}
.logout-link{
    vertical-align: middle;
}
.logout-link i{
    margin-right: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../images/icon_drop_out.png") no-repeat;
}*/
.login-info-container{
    cursor:pointer;
    position: absolute;
    top:-160px;
    right:0;
    font-size: 14px;
}
.login-info-container img{
    width:30px;
    height: 30px;
    vertical-align: middle;
}
.login-info-container span{
    margin-left:10px;
    line-height: 30px;
    color:#4a4a4a;
}
.login-info-content{
    text-align:right;
}
.login-info-pos{
    position: relative;
}
.login-info-box{
    width: 200px;
    font-size: 14px;
    color:#e6e6e6;
    background: #fff;
    padding:14px 0 8px 0;
    position: relative;
    margin-top: 8px;
    border: 1px solid #d5d5d5;
    -webkit-box-shadow: 0 0 10px #d5d5d5;
    -moz-box-shadow: 0 0 10px #d5d5d5;
    box-shadow: 0 0 10px #d5d5d5;
    display: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.red-point{
    width:8px;
    height: 8px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #e7403a;
    position: absolute;
    top:2px;
    right: -2px;
}
.no-read{
    display: none;
}
.red-message-hint{
    width:6px;
    height: 6px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #e7403a;
    position: absolute;
    top:22px;
    right:16px;
}
.login-info-box a{
    margin:0 22px 16px;
    font-size: 14px;
    line-height: 34px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.login-set{
    color:#268aee;
    padding-left:22px;
    background: url("../images/icon_search_setting.png") no-repeat;
}
.out-user{
    padding-left:22px;
    color:#787878;
    background: url("../images/icon_search_quit.png") no-repeat;
}
.message{
    padding-left:22px;
    color:#57aea7;
    background: url("../images/message-icon.png") no-repeat;
}
.login-info-square{
    width:10px;
    height: 10px;
    border: 1px solid #d5d5d5;
    border-bottom: none;
    border-right:none;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top:-7px;
    right:20px;
}

/**/
.bg-white{
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.search-container{
    margin-top:180px;
    width: 1000px;
    height: 358px;
    position: relative;

}
/*.search-title{*/
    /*margin-top:180px;*/
/*}*/
.search-logo{
    margin:0 24px 0 286px;
}
.flat-title{
    line-height:44px;
    font-size:32px;
    color:#787878;
}
.search-box{
    margin:40px auto 0;
    width:780px;
    position: relative;
}
.search-input-text{
    padding:0 100px 0 20px;
    line-height: 52px;
    height: 52px;
    width:550px;
    font-size: 14px;
    border: 2px solid #268aee;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}
.search-btn{
    line-height: 56px;
    font-size:20px;
    width:106px;
    background: #268aee;
    color:#fff;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    cursor:pointer;
}
.search-high{
    position: absolute;
    right:-94px;
    top:18px;
    display: none;
}
.search-high a{
    font-size:16px;
    color: #4a4a4a;
}
.search-high i{
    width: 10px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon_search_dropdown.png") no-repeat;
}
.search-high-box{
    margin:48px auto 0;
    width: 780px;
    display: none;
}
.search-high-item{
    height: 42px;
    margin-bottom:24px;
    line-height: 42px;
    font-size: 16px;
}
.search-high-item div{
    float: left;
}
.search-only-container{
    margin:20px auto 0;
    width: 780px;
}
/*.word-frequency-btn{*/
    /*right:200px;*/
/*}*/
/*.map-enter-btn{*/
    /*right:134px;*/
/*}*/
.enter-btn-box{
    position: absolute;
    top: -154px;
    right:110px;
    font-size:14px;
    color:#4a4a4a;
}
.enter-btn-box a{
    color: #494949;
}
.enter-btn-box span{
    color: #dcdcdc;
    margin:0 14px 0 8px;
}
.search-only{
    height:30px;
    line-height: 30px;
}
.search-only input{
    margin-right:4px;
    vertical-align: middle;
    cursor: pointer;
}
.search-only label{
    margin-right:8px;
    cursor: pointer;
}
.search-only-btn{
    margin:42px 0 0 20px;
    line-height: 36px;
    height:36px;
    font-size: 14px;
    cursor: pointer;
}
.search-only-btn i{
    margin-left:6px;
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url("../images/icon_search_putaway.png") no-repeat;
    vertical-align: middle;
    transform: rotate(180deg);
}
.search-only-btn i.down{
    transform: rotate(0);
}
.search-only-btn div{
    padding:8px 16px;
    min-width: 84px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #e3e3e3;
    -moz-box-shadow: 0 0 10px #e3e3e3;
    box-shadow: 0 0 10px #e3e3e3;
    position: absolute;
    cursor: default;
    display: none;
}
.search-only-btn ul li{
    line-height: 24px;
    height: 24px;
}
.search-only-btn ul li input[type=radio]{
    margin-right:4px;
    vertical-align: middle;
    cursor: pointer;
}
.search-only-btn ul li label{
    vertical-align: middle;
    cursor: pointer;
}
.search-item-title{
    width:122px;
    text-align: left;
    color:#787878;
}
.search-high-btn{
    position: relative;
    left:50%;
    width:120px;
    line-height: 42px;
    background: #268bee;
    color:#fff;
    font-size:16px;
    border-radius:4px;
    margin-top:200px;
    margin-left:-60px;
    cursor: pointer;
}
.search-change-btn{
    width:176px;
    color: #d2d2d2;
    font-weight:300;
}
.search-change-btn img{
    margin-right:14px;
    vertical-align: middle;
    cursor: pointer;
}
.search-source{
    color:#4a4a4a;
}

.search-select-b{
    padding:0 10px;
    width: 482px;
    height: 42px;
    border:1px solid #c6ccd2;
    cursor:pointer;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    position: relative;
    box-sizing: border-box;
    display: none;
}
.search-select-value{
    line-height: 40px;
    font-size:14px;
    color:#4a4a4a;
}
.search-select-option{
    width: 480px;
    max-height: 182px;
    font-size:14px;
    color:#4a4a4a;
    line-height: 36px;
    background: #fff;
    overflow-y:auto;
    overflow-x: hidden;
    position: relative;
    left:0;
}
.slipe-box{
    position: relative;
    top:0;
    left:0;
}
.select-blue-p{
    background: #d6e9fa;
}
.search-select-option p{
    width: 460px;
    padding:0 10px;
    cursor:pointer;
}
.search-select-value i{
    margin-top:18px;
    width: 10px;
    height: 5px;
    background: url("../images/icon_search_select_dropdown.png") no-repeat;
}
.search-select-option p:hover{
    background: #f0f0f0;
}
.blue{
    color:#288bec;
}
.search-source-input{
    height: 56px;
    width: 100%;
    position: relative;
}
.search-select-box{
    width: 480px;
    border: 1px solid #c6ccd2;
    border-top:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    position: absolute;
    top: 41px;
    left:-1px;
    display: none;
    overflow: hidden;
}
.source-list{
    z-index: 100;
}
.word-list{
    z-index: 80;
}
.mate-list{
    z-index: 60;
}
.search-source-input input{
    padding:0 10px;
    margin:10px 0 0 10px;
    width: 440px;
    height: 34px;
    border:1px solid #c6ccd2;
    font-size:14px;
}
.search-source-input img{
    position: absolute;
    top:22px;
    right:24px;
}

/*搜索结果*/
.res-search-box{
    height: 120px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow:0 0 10px #e2e2e2;
    -moz-box-shadow: 0 0 10px #e2e2e2;
    box-shadow: 0 0 10px #e2e2e2;
}

.res-logo{
    margin-top:42px;
    display: block;
    vertical-align: middle;
}
.res-logo img{
    margin-top:-5px;
    margin-right:12px;
    vertical-align: middle;
}
.res-logo span{
    line-height:36px;
    font-size:18px;
    color:#787878;
    font-weight: bold;
}
.res-search-container{
    width: 500px;
    margin:42px 0 0 16px;
}
.res-search-container .unisonSearchBox{
    top: 7px;
    right: 104px;
}
.res-search-text{
    width: 300px;
    line-height: 32px;
    height:32px;
    padding:0 92px 0 10px;
    font-size:12px;
    border: 2px solid #268aee;
    border-right: none;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    float: left;
    -webkit-box-sizing:	content-box ;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
.res-search-btn{
    width: 96px;
    line-height: 36px;
    background: #268aee;
    color: #fff;
    font-size:16px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    cursor:pointer;
}
.res-content{
    margin-top:44px;
}
.source-list-login{
    position: absolute;
    top:46px;
    right:0;
}
.res-list-container{
    padding-bottom:40px;
    border-top:8px solid #54bb99;
    width: 760px;
    background: #fff;
    -webkit-box-shadow:0 0 10px #f0f0f0;
    -moz-box-shadow: 0 0 10px #f0f0f0;
    box-shadow: 0 0 10px #f0f0f0;
}
.res-list-container.word-frequency-s{
    padding-bottom:0;
    height:738px;
}
.res-list-height{
    height: 100%;
}
.res-point{
    margin-top:-42px;

}
.res-back{
    line-height: 42px;
    font-size:12px;
    color:#268cec;
}
.res-option{
    line-height: 44px;
    position: relative;
    color:#4a4a4a;
}
.res-option a{
    margin-left:6px;
    display: inline-block;
    width: 50px;
    height: 18px;
    line-height:18px;
    font-size: 12px;
    border:1px solid #dcdcdc;
    color: #787878;
    text-align: center;
    background:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.view-result-count{
    line-height: 60px;
    border-bottom:1px dashed #dcdcdc;
    color:#54bb99;
    font-size:14px;
    font-weight: bold;
    position: relative;
}
.view-result-count p{
    padding-left: 45px;
}
.view-result-count i{
    position: absolute;
    top:46px;
    width: 0;
    height: 0;
    border: 14px solid transparent;
}
.view-result-count i:nth-of-type(1){
    border-left-color:#f5f5f5;
    left:0;
}
.view-result-count i:nth-of-type(2){
    border-right-color: #f5f5f5;
    right:0;
}
.report-map-btn{
    padding:0 12px;
    height: 26px;
    line-height: 26px;
    background: #4098f0;
    color:#fff;
    border-radius:4px;
    cursor: pointer;
}
.word-frequency-tc ul{
    padding:0 14px;
}
.wf-default{
    line-height: 42px;
    color:#787878;
}
.word-frequency-tc ul li{
    padding:10px 10px 0;
    height: 80px;
    border-bottom: 1px dashed #dedede;
}
.word-frequency-tc ul li h2{
    line-height: 34px;
    font-size:14px;
    color:#000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.word-frequency-tc ul li p{
    line-height: 26px;
    font-size: 12px;
}
.word-frequency-tc ul li p span{
    color:#bbb;
    margin-right: 22px;
}
.word-frequency-tc ul li p a{
    margin-left:24px;
    color: #268aee;
}
.word-frequency-tc ul li p a:after,.relation-report-btn a:after{
    display: inline-block;
    margin-left:10px;
    content: '';
    width:0;
    height: 0;
    border:4px solid transparent;
    border-right: none;
    border-left-color:#268aee;
}
.res-history-list{
    margin-bottom:10px;
    border-top:8px solid #ffa851;
    width: 232px;
    background: #fff;
    padding:0 18px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.res-history-list h2{
    margin-top:6px;
    font-size:14px;
    color:#4a4a4a;
    line-height: 34px;
}
.res-history-list h3{
    margin-top:6px;
    font-size: 12px;
    color:#4a4a4a;
    line-height: 34px;
}
.res-history-list ul li{
    line-height:26px;
}
.res-history-list ul li a{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.res-history-list ul li a:hover{
    color:#00c;
}
.res-history-list ul li a:hover:before{
    background:#00c;
}

.res-history-list ul li a{
    font-size:12px;
    color:#a0a0a0;
}
.res-history-list ul li a:before{
    content: '';
    margin-right:8px;
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    background-color: #a0a0a0;
    border-radius: 50%;
}
.word-history-list ul li a:hover{
    color:#a0a0a0;
}
.word-history-list ul li a:hover:before{
    background: #a0a0a0;
}
.res-info-list{
    margin:0 24px;
}
.res-info-list-icon{
    margin-top:8px;
    width: 10px;
    height: 8px;
    background: url('../images/icon_data.png') no-repeat;
}
.res-info-content{
    display: block;
    margin-left:21px;
    text-decoration: none;
}
.res-info-list li{
    padding-top:28px;
    border-bottom: 1px solid #dcdcdc;
}

.res-info-summary{
    max-height: 48px;
    line-height:24px;
    font-size:14px;
    color:#4a4a4a;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
}
.res-high-light{
    color:#ee1c2e;
}
.mixr-content-list .res-high-light a{
    color:#ee1c2e;
}
.res-info-label{
    margin:16px 0 20px 0;
    line-height:20px;
    font-size:12px;
    color:#49a3ff;
}
.res-info-label span{
    margin-right:18px;
}
.res-pages, .res-source-pages{
    margin:32px 58px 42px 58px;
    text-align: center;
}
.res-pages a,.res-source-pages a{
    display: inline-block;
    margin-right:6px;
    width: 30px;
    height: 30px;
    line-height:30px;
    border:1px solid #e6e6e6;
    text-align: center;
    font-size:14px;
    color:#2e43f1;
}
.res-pages .res-prev-page, .res-pages .res-next-page,.res-source-pages .res-prev-page,.res-source-pages .res-next-page{
    width: 70px;
}
.res-pages .on,.res-source-pages .on{
    border:1px solid #f5f5f5;
    color:#4a4a4a;
}
.load-btn-box{
    width: 400px;
    height: 400px;
    border:2px solid blue;
    float: left;
}
.load-view-box{
    margin-left:20px;
    float: left;
    width: 570px;
    height: 400px;
    border:2px solid orange;
}
.load-view-btn{
    padding:0 10px;
    line-height: 50px;
    background: #000;
    color: orange;
    font-weight: bold;
    font-size:20px;
    cursor: pointer;
}
.load-view-container{
    width: 500px;
    overflow-x: auto;
}
.load-view-container tr{
    line-height: 24px;
    font-size: 16px;
    border-bottom:1px solid #6cf;
}
.load-view-container tr th, .load-view-container tr td{
    padding:0 10px;
    white-space: nowrap;
}
.load-view-container tr th input{
    padding:0 10px;
    display: block;
}
/***数据源列表页**/
.so-search-process{
    margin:20px 0;
    font-size:14px;
    color:#dc4040;
}
.so-search-process span{
    color:#4a4a4a;
    margin:0 4px;
}
.source-list-title{
    height: 48px;
    line-height: 48px;
    background: #e6e6e6;
}
.source-list-title p{
    float: left;
}
.source-list-order{
    width: 90px;
    padding-left:22px;
}
.source-list-name{
    width: 280px;
}
.source-list-process{
    max-width: 316px;
    overflow: hidden;
}

.source-list-content{
    height: 48px;
    line-height: 48px;
    border:1px solid #c8c8c8;
    background: #fff;
}
.source-list-ul .source-list-complete{
    background: #f2fbf3;
    border:1px solid #7ebb80;
}
.source-list-ul  .source-list-complete a{
    color:#629d62;
}
.source-list-ul .source-list-loading{
    background: #ecf4f9;
    border:1px solid #268bee;
}
.source-list-ul  .source-list-loading a {
    color:#268aee;
}
.source-list-ul li{
    padding: 0;
    margin-top:20px;
}
.source-list-ul a{
    color:#4a4a4a;
}
.source-list-ul li p{
    float: left;
}
.source-list-ul .source-list-content a{
    display: block;
    height: 50px;
}
.source-list-rights{
    position: relative;
}
.source-list-rights input{
    margin-left:20px;
    width: 56px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    display: none;
}
input.source-apply-rights{
    background: #619b60;
    color:#fff;
    cursor: pointer;
}
input.source-checking{
    background: #c8c8c8;
    color:#494949;
}
.source-list-process span{
    margin:0 4px;
    color:#4a4a4a;
}
.header-waiting{
    margin-top:32px;
    line-height: 20px;
}
.header-waiting img{
    margin-right:10px;
    vertical-align: middle;
}
.header-waiting span{
    font-size:14px;
    color:#4a4a4a;
}

/*****详情页******/
.red-container{
    border-top-color: #e6403a;
}
.red-container .view-result-count{
    color: #e6403a;
}
.detail-box{
    margin:24px 0 0 20px;
    width: 624px;
    padding: 30px 48px;
    border: 1px solid #dcdcdc;
}

.detail-box ul li{
    width:306px;
    line-height: 34px;
    font-size: 14px;
    color:#787878;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.detail-box li a{
    color:#787878;
}
.detail-box li a:hover{
    color:#00c;
}
.detail-box ul li{
    margin-left:4px;
}
.detail-box li p{
    float: left;
}
.detail-box ul li p:nth-of-type(1){
    max-width:102px;
}
.detail-box ul li p:nth-of-type(2){
    max-width:206px;
    word-wrap:break-word
}
.detail-box ol li{
    line-height: 34px;
    font-size: 14px;
    color:#787878;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.detail-box ol li p{
    float: left;
}
.detail-box ol li p:nth-of-type(2){
    word-wrap:break-word;
}
.empty-data-hints{
    font-size: 16px;
    color: #dc4040;
    text-align:center;
    line-height: 40px;
    display: none;
}
/****弹窗插件**/
.layer-bg-dim{
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left:0;
    z-index: 9998;
}
.layer-container{
    margin-left: -220px;
    width: 440px;
    height: 260px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    position: absolute;
    top:200px;
    left:50%;
    background: #fff;
    z-index: 9999;
}
.layer-body{
    padding:20px 40px 0;
    text-align: center;
}
.layer-container h2{
    padding-left:16px;
    height: 40px;
    line-height: 40px;
    background: #d74648;
    color:#fff;
    font-size:16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.layer-container .layer-msg{
    margin-top:12px;
    line-height: 40px;
    font-size:18px;
    color:#484848;
}
.layer-container span{
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("../images/icon_upload_error.png") no-repeat;
}
.layer-container input {
    margin-top: 24px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #d74648;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}
.layer-right-container h2{
    background: #46a870;
}
.layer-right-container span{
    background: url("../images/icon_upload_complete.png") no-repeat;
}
.popBox{
    padding:0 20px;
    width: 340px;
    height: 232px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #c0c0c0;
    -moz-box-shadow:  0 0 10px #c0c0c0;
    box-shadow:  0 0 10px #c0c0c0;
    position: absolute;
    top:46px;
    right:-16px;
    z-index: 10;
}
.popBox h2{
    height:44px;
    line-height:44px;
    color:#4a4a4a;
    font-size:14px;
}
.popBox textarea{
    padding:10px;
    width: 318px;
    height: 108px;
    border:1px solid #c8c8c8;
    overflow: hidden;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.popBox p{
    line-height: 26px;
    height: 26px;
    position: absolute;
    left:20px;
    bottom: 12px;
}
.popBox p input{
    margin-left:0;
    margin-right:16px;
    height: 24px;
    width:62px;
    border: 1px solid #4a7ec6;
    cursor:pointer;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    display: inline-block;
}
.popBox .confirm-btn{
    background: #4a7ec6;
    color: #fff;
}
.popBox .pop-off{
    background:#e6e6e6 ;
    color:#4a4a4a;
    border-color: #c8c8c8;
}
.popBox .pop-point{
    position:absolute;
    right:40px;
    top:-5px;
    width: 8px;
    height: 8px;
    border:1px solid transparent;
    border-left-color: #c8c8c8;
    border-top-color: #c8c8c8;
    transform: rotate(45deg);
    background: #fff;
}
.border-b0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/****混合搜索*****/
.mixr-nav{
    width: 120px;
}
.mixr-nav-list {
    width: 120px;
    height:77px;
    position: relative;
    cursor: pointer;
}
.mixr-nohave{
    width: 120px;
    height:77px;
    position: relative;
}
.mixr-nohave .mixr-nav-title p:nth-child(1){
    height:20px;
    line-height: 20px;
    padding:0 18px;
    text-align: center;
    font-size: 16px;
    color:#a0a0a0 !important;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 20px 0;
}
.mixr-nohave .mixr-nav-title p:nth-child(2){
    text-align: center;
    line-height: 28px;
    font-size:12px;
    color:#444;
}
.mixr-nohave.mixr-person .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_personnel_3.png");
}
.mixr-nohave.mixr-property .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_assets_3.png");
}
.mixr-nohave.mixr-message .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_communication_3.png");
}
.mixr-nohave.mixr-trail .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_track_3.png");
}
.mixr-nohave.mixr-address .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_address_3.png");
}
.mixr-nohave.mixr-evidence .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_evidence_3.png");
}
.mixr-nohave .mixr-nav-title p:nth-child(2) span{
    color:#a0a0a0 !important;
}
.mixr-nav-title{
    padding:18px 0 10px 0;
    width: 120px;
    height:48px;
    background: #fff;
    border-bottom:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
    position:absolute;
    top:0;
    left:0;
}
.mixr-nav-list .mixr-nav-title p:nth-child(1){
    height:20px;
    line-height: 20px;
    padding:0 18px;
    text-align: center;
    font-size: 16px;
    color:#48a1ff;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 20px 0;
}
.mixr-nav-list .mixr-nav-title p:nth-child(2){
    width:100%;
    text-align: center;
    line-height: 28px;
    font-size:12px;
    color:#444;
    white-space:nowrap;
    overflow: hidden;
}
.mixr-nav-list .mixr-nav-title p:nth-child(2) span{
    color:#48a1ff;
}
.mixr-person .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_personnel_1.png");
}
.mixr-property .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_assets_1.png");
}
.mixr-message .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_communication_1.png");
}
.mixr-trail .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_track_1.png");
}
.mixr-address .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_address_1.png");
}
.mixr-evidence .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_evidence_2.png");
}
.mixr-nav-list.active .mixr-nav-title{
    border-right:none;
}
.mixr-nav-list.active .mixr-nav-title:before{
    content: '';
    display: block;
    width: 4px;
    height: 36px;
    background: #55ba9a;
    position: absolute;
    top:18px;
}
.mixr-nav-list.active .mixr-nav-title p:nth-child(1),.mixr-nav-list.active .mixr-nav-title p:nth-child(2) span{
    color: #55ba9a;
}
.mixr-nav .mixr-person.active .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_personnel_2.png");
}
.mixr-nav .mixr-property.active .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_assets_2.png");
}
.mixr-nav .mixr-message.active .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_communication_2.png");
}
.mixr-nav .mixr-trail.active .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_track_2.png");
}
.mixr-nav .mixr-address.active .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_address_2.png");
}
.mixr-nav .mixr-evidence.active .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_evidence_1.png");
}
.move-active .mixr-nav-title{
    border-right:none;
}
.move-active .mixr-nav-title:before{
    content: '';
    display: block;
    width: 4px;
    height: 36px;
    background: #55ba9a;
    position: absolute;
    top:18px;
}
.move-active .mixr-nav-title p:nth-child(1),.move-active .mixr-nav-title p:nth-child(2) span{
    color: #55ba9a;
}
.move-active.mixr-property .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_assets_2.png");
}
.move-active.mixr-person .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_personnel_2.png");
}
.move-active.mixr-message .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_communication_2.png");
}
.move-active.mixr-trail .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_track_2.png");
}
.move-active.mixr-address .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_address_2.png");
}
.move-active.mixr-evidence .mixr-nav-title p:nth-child(1){
    background-image: url("../images/nav-icon/icon_search_evidence_1.png");
}
.visit-active .mixr-nav-title{
    width: 130px;
    border:1px solid #55ba9a;
    border-right: none;
    z-index: 99;
}
.visit-active .mixr-less-list{
    display: block;
    cursor: auto;
}
.mixr-less-list{
    padding-left:14px;
    width: 352px;
    min-height: 76px;
    background: #fff;
    border:1px solid #55ba9a;
    position: absolute;
    top:0;
    left:130px;
    z-index: 9;
    display: none;
}
.mixr-less-list h2{
    line-height: 50px;
    height: 50px;
    font-weight: bold;
    color:#444;
}
.mixr-less-list ul li{
    padding:0 12px;
    float: left;
    margin:0 16px 16px 0;
    width:136px;
    height: 28px;
    line-height: 28px;
    background: #f2f2f2;
    color:#6f6f6f;
}
.mixr-less-list ul li.ishave{
    background: #e0f4ee;
    cursor: pointer;
}
.mixr-less-list ul li.on{
    background:#e0f4ee url("../images/icon_search_selected.png") no-repeat right bottom;
}
.mixr-list, .mixr-source-list{
    width: 600px;
    margin-left:20px;
}
.mixr-list{
    display: none;
}
.mixr-source-list-title{
    line-height: 76px;
    height: 76px;
    font-weight:bold;
    font-size: 16px;
    color: #4a4a4a;
    border-bottom:1px dashed #dcdcdc;
}
.mixr-source-list-title>span{
    max-width:500px;
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.mixr-source-list-title a{
    font-size: 12px;
    color:#4a4a4a;
}
.mixr-source-list-title a span{
    margin-top:34px;
    border-left-color: #4a4a4a;
}
.mixr-list-ul>li,.mixr-source-list-ul>li{
    padding:14px 0 8px 0;
    height: 54px;
    border-bottom:1px dashed #dcdcdc;
    position: relative;
}
.mixr-list-ul>li:hover,.mixr-source-list-ul>li:hover{
    background: #f7fbfd;
}
.mixr-list-ul>li p,.mixr-source-list-ul>li p{
    width: 36px;
    line-height: 52px;
    color:#444;
}
.mixr-content-list{
    width: 562px;
    position: relative;
}
.mixr-content-list li{
    float: left;
    width:180px;
    line-height: 26px;
    margin-right:8px;
    color: #707070;
    white-space:nowrap;
    overflow-x: hidden;
    overflow-y: visible;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.mixr-content-list li span{
    color:#ee1c2e;
}
.mixr-content-list li:nth-child(3n){
    margin-right:0;
}
.mixr-link{
    color: #48a1ff;
    float: right;
}
.mixr-link span{
    margin-top:10px;
    margin-left:4px;
    float: right;
    width: 0;
    height: 0;
    border:4px solid transparent;
    border-left-color:#48a1ff;
}
.mixr-content-list .mixr-list-last{
    width: 124px;
}
.mixr-content-list .mixr-list-link{
    width:60px;
    margin-right:0;
    float: right;
}
.mixr-content-forms-single li:nth-of-type(2){
    max-width: 214px;
}
.mixr-content-forms-single {
    margin-top:12px;
}
.mixr-content-files-single{
    margin-top:12px;
}
.mixr-content-files-single li:nth-of-type(3){
    max-width: 124px;
}
.mixr-detail{
    margin:0 0 0 20px;
    display: none;
}
.mixr-detail h2,.mixr-list h2{
    height: 76px;
    line-height: 76px;
    font-size: 16px;
    font-weight: bold;
    color:#444;
}
.mixr-list h2{
    border-bottom:1px dashed #dcdcdc;
}
.mixr-detail-table{
    padding:10px 20px;
    width: 560px;
    border:1px solid #e2e2e2;
}
.mixr-detail-table li{
    line-height: 34px;
    font-size: 14px;
    color: #787878;
}
.mixr-detail-table li p{
    float: left;
}
.mixr-detail-table li img{
    margin-left:10px;
    vertical-align: middle;
    max-width:560px;
    cursor: pointer;
}
.mixr-detail-table li a{
    color: #787878;
}
.mixr-detail-table li a:hover{
    color:#00c;
}
.mixr-detail-ul li{
    width: 280px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mixr-detail-ul li p:nth-of-type(2){
    max-width:200px;
    word-wrap: break-word;
}
.false-hints{
    line-height: 40px;
    font-size: 20px;
    color:#a0a0a0;
}
.mixr-back-btn{
    margin-top:26px;
    width: 80px;
    height: 24px;
    line-height: 24px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    color:#fff;
    cursor: pointer;
    font-size:12px;
    background: #4098f0;
}
.unisonSearchBox{
    padding:2px 4px;
    position: absolute;
    top: 18px;
    right:124px;
    border:1px solid #cdcdcd;
    display: none;
    background: #fff;
}
.unisonSearchBox input,.unisonSearchBox label{
    vertical-align: middle;
}
.delSource{
    display: none;
}
.hints-layer-btn .w-del-source{
    background: #d74648;
    color:#fff;
}
.res-option .on{
    color: #fff;
    background: #268aee;
}
.mixr-detail-ol li p:nth-child(2){
    max-width: 488px;
}
.checkInfo{
    line-height: 34px;
    color:#787878;
    font-size: 14px;
}
.checkInfo:hover{
    color:#00c;
}
.relation-container{
    font-size: 14px;
    overflow: hidden;
}
.relation-container .pop-list{
    max-height: 480px;
    overflow-y: hidden;
}
.relation-container .fixed-pop .ellipsis{
    display: none !important;
}
.relation-container .ellipsis{
    line-height: 18px;
}
.relation-container div li,.relation-container h2,.relation-container div p,.relation-container .pop-list h3{
    line-height: 32px;
    height: 32px;
}
.relation-container .pop-list p{
    height: 28px;
    line-height: 28px;
}
.tin20{
    text-indent:20px;
}
.relation-container h2{
    font-weight:bold;
}
.relation-container h2 span{
    width: 16px;
    height: 16px;
    background:url("../images/explorer/icon_close.png") no-repeat;
    display: none;
    margin-top:6px;
    cursor: pointer;
}
.mr40{
    margin-right:40px;
}
.relation-container hr{
    margin-bottom: 10px;
    color: #c8c8c8;
    display: none;
}
.relation-container .fixed-pop hr{
    display: block;
}
.relation-container li a,.relation-container p a{
    color:#fff;
    font-size: 14px;
    float: left;
}
.relation-container .fixed-pop a{
    color:#303030;
    white-space:nowrap;
}
/*.relation-container p a span{*/
    /*margin-top:10px;*/
/*}*/
.relation-container .fixed-pop .pop-list{
    max-height:630px;
    overflow-y: auto;
}
.relation-container li a:nth-of-type(1){
    display: inline-block;
    /*max-width:128px;*/
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.relation-container .fixed-pop li a:hover,.relation-container .fixed-pop p a:hover{
    color:#5296EE;
}
.relation-container .fixed-pop a.nohover{
    cursor: default;
}
.relation-container .fixed-pop a.nohover:hover{
    color:#303030;
}
.relation-container .star{
    margin-left:16px;
    margin-top:8px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../images/icon_star_2.png") no-repeat;
}
.relation-container .fixed-pop{
    padding:14px 20px;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px #c8c8c8;
    z-index: 99;
}
.relation-container .fixed-pop h2,.relation-container .fixed-pop h2 p{
    line-height: 28px;
    height: 28px;
    margin-bottom: 12px;
}
.relation-container .fixed-pop h2 span{
    display: inline-block;
}
.relation-container .fixed-pop-hints{
    margin-top:6px;
    line-height: 32px;
    height:32px;
    font-size: 12px;
    text-align: right;
    color:#fff;
}
.relation-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:162px;
    width:100%;
    z-index: 9;
    background: #f5f5f5;
}

.relation-loading div span {
    margin:2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background:#c23531;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.relation-loading div span:nth-child(1){
    animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.relation-loading div span:nth-child(2){
    animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.relation-loading div span:nth-child(3){
    animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.fixed-pop .fixed-pop-hints{
    display: none;
}
.legend-hits{
    position: absolute;
    top:46px;
    left:412px;
    background: #f5f5f5;
    z-index: 9;
}
@keyframes scale {
    30%{
        transform:scale(0.3);
    }
    100%{
        transform:scale(1);
    }
}
.mr8{
    margin-right:8px;
}
.pr{
    position: relative;
}
/**取证样式***/
.account-num,.account-num-dowm,.other-status-btn{
    color: #268aee;
    cursor: pointer;
}
.mixr-content-list li>em:after{
    display: inline-block;
    content: '';
    width: 0;
    height:0;
    border:4px solid transparent;
    vertical-align: middle;
}
.mixr-content-list .account-num:after,.mixr-content-list .other-status-btn:after{
    margin:4px 0 0 4px;
    border-top-color: #268aee;
}
.mixr-content-list .account-num-down:after{
    margin:-6px 0 0 4px;
    border-bottom-color: #268aee;
    border-top-color: transparent;
}
.mixr-content-list .down-select{
    width: 80%;
    margin:0 auto 6px;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666;
    background: #fff;
    padding: 6px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 99;
}
.mixr-content-list .down-select em{
    display: block;
    line-height: 22px;
    cursor: pointer;
}
.mixr-content-list .down-select em:hover{
    background: #f0f0f0;
}
.mixr-content-list .other-status-container{
    padding:14px 14px;
    position: absolute;
    top:50px;
    right:0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow:  0 0 10px #666;
    box-shadow: 0 0 10px #666;
    max-height:360px;
    overflow-y: auto;
    display: none;
    z-index: 9;
}
.mixr-content-list hr{
    border-color: #dcdcdc;
}
.mixr-content-list li p{
    line-height: 24px;
}
.mixr-content-list li .down-select em{
    width:100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.mixr-content-list li em a{
    color:#707070;
}
.mixr-content-list li em a:hover{
    color:#00c;
}
.mixr-content-list .other-status-container>div{
    width:162px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.other-status-container>div div:first-child b{
    display: inline-block;
    max-width:80px;
    word-break:break-all;
    word-wrap:break-word;
    white-space: normal;
    line-height: 24px;
    vertical-align: top;
}
.mixr-list-ul .ruihai-logo,.mixr-source-list .ruihai-logo{
    display: block;
    width: 16px;
    height: 20px;
    position: absolute;
    top:0;
    left:0;
    background: url("../images/icon_label_rh.png") no-repeat;
}
.mixr-white-num{
    margin-top: 10px;
    margin-left: 136px;
    color: red;
    display: none;
}
/****词频统计页面*****/
.word-frequency-tc{
    border-color:#dd4240;
}
.word-frequency-tc .msg-red{
    color:#dd4240;
}
.word-frequency-tc .view-result-count div{
    margin-right:24px;
    height: 60px;
    line-height: 60px;
}
.word-frequency-tc .view-result-count div a{
    display: inline-block;
    margin-left:10px;
    width: 52px;
    height: 24px;
    line-height: 24px;
    border:1px solid #b2b2b2;
    color: #b2b2b2;
    background: #fff;
    vertical-align: middle;
}
.word-frequency-tc .view-result-count div a.on{
    background: #408bed;
    border: none;
    color:#fff;
    width: 54px;
    height: 26px;
}
.word-frequency-tc iframe{
    width: 100%;
    height:100%;
}
.word-frequency-page{
    margin-top:30px;
}
.explore-box-shade,.more-relation-shade,.report-shade{
    position: fixed;
    _position:absolute;
    pointer-events:auto;
    z-index: 998;
    background-color:#000;
    opacity:0.3;
    filter: Alpha(opacity:30);
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.report-box{
    width: 1002px;
    background: #fff;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    /*top: 100px;*/
    left: 50%;
    margin-left: -501px;
    z-index: 999;
}
.fastSearchForm{
    margin-left:-6px;
    margin-top:10px;
    padding-left: 28px;
    width: 210px;
    height: 34px;
    line-height: 32px;
    font-size: 14px;
    color:#a0a0a0;
    border:1px solid #a0a0a0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("/images/explorer/icon_search_1.png") no-repeat 8px 10px;
    position: relative;
}
.fastSearchForm .change-btn{
    padding-left:4px;
    position: absolute;
    top:0;
    right:4px;
    background: #fff;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.fastSearchForm .change-btn i.prev{
    margin-right:2px;
}

.word-frequency-box{
    border-top-color:#31a5ee;
    background: #fff;
    padding: 0;
}
.fast-search-word{
    border-top-color:#54bb99;
}
.word-frequency-box .search-word-box{
    padding:12px 10px;
    border-bottom: 1px solid #c8c8c8;
}
.word-frequency-box .search-word-box p{
    width: 210px;
    height:28px;
    line-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left:26px;
    border:1px solid #c8c8c8;
    color:#c8c8c8;
    font-size:12px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: url("/images/explorer/icon_search_2.png") no-repeat 8px 8px;
}
.word-frequency-box .search-word-title{
    padding: 14px 12px;
    font-size: 12px;
    color:#3e3e3e;
    border-bottom: 1px solid #c8c8c8;
}
.word-frequency-box .search-word-title p{
    line-height: 28px;
    height: 28px;
    min-width: 45px;
}
.word-frequency-box .search-word-title p span{
    font-size: 14px;
    color:#31a5ee;
}
.word-frequency-box .search-word-title p b{
    color:#31a5ee;
}
.word-frequency-box .search-word-title img{
    vertical-align: middle;
}
.word-frequency-list{
    max-height: 600px;
    padding: 6px 0;
    line-height: 28px;
    font-size:12px;
    color:#787878;
    overflow-y: auto;
}
.word-frequency-list ol li .fl,.word-frequency-list .datamining-list li .fl{
    width: 100px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.word-frequency-list ol li,.word-frequency-list ul li{
    height: 28px;
    cursor: pointer;
    padding:0 12px;
}
.word-frequency-list ul li{
    white-space:nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.word-frequency-list ul li:hover{
    background: #d6edfc;
}
.word-frequency-list ul li span{
    color:#e6403a;
}
.word-frequency-list ol li:hover{
    background: #f2f2f2;
}
.word-frequency-list ol li .fr,.word-frequency-list .datamining-list li .fr{
    margin-right:4px;
    width: 76px;
    height: 28px;
    text-align: center;
}
.word-frequency-list ol li .fr span,.word-frequency-list .datamining-list li .fr span{
    margin-top: 10px;
    display:block;
    height:8px;
    background: #31a5ee;
    vertical-align: middle;
}
.word-frequency-list ol li .fr span.count,.word-frequency-list .datamining-list li .fr span.count{
    margin-top:0;
    height: 28px;
    background: transparent;
    display: none;
    color:#787878;
}
.word-frequency-list ol li.active{
    color: #31a5ee;
}
.word-frequency-list .change-btn{
    display: none;
}
.aside-float-bar{
    position: fixed;
    left: 50%;
    top: 300px;
    margin-left: 510px;
    z-index: 1005;
}
.aside-float-bar ul li{
    margin-bottom:7px;
    width:52px;
    height: 52px;
    background-color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.aside-float-bar ul li:hover{
    background-color: #31a5ee;
}
.aside-float-bar li.idcard{
    background-image: url("/images/data-icon/hover/icon_idcard_unselected.png");
}
.aside-float-bar li.idcard:hover{
    background-image: url("/images/data-icon/hover/icon_idcard_selected.png");
}
.aside-float-bar .idcard.on{
    background-image: url("/images/data-icon/icon_idcard_1.png");
}
.aside-float-bar li.phone{
    background-image: url("/images/data-icon/hover/icon_phone_unselected.png");
}
.aside-float-bar li.phone:hover{
    background-image: url("/images/data-icon/hover/icon_phone_selected.png");
}
.aside-float-bar .phone.on{
    background-image: url("/images/data-icon/icon_phone_1.png");
}
.aside-float-bar li.address{
    background-image: url("/images/data-icon/hover/icon_address_unselected.png");
}
.aside-float-bar li.address:hover{
    background-image: url("/images/data-icon/hover/icon_address_selected.png");
}
.aside-float-bar .address.on{
    background-image: url("/images/data-icon/icon_address_1.png");
}
.aside-float-bar li.ip{
    background-image: url("/images/data-icon/hover/icon_ip_unselected.png");
}
.aside-float-bar li.ip:hover{
    background-image: url("/images/data-icon/hover/icon_ip_selected.png");
}
.aside-float-bar .ip.on{
    background-image: url("/images/data-icon/icon_ip_1.png");
}
.aside-float-bar li.website{
    background-image: url("/images/data-icon/hover/icon_website_unselected.png");
}
.aside-float-bar li.website:hover{
    background-image: url("/images/data-icon/hover/icon_website_selected.png");
}
.aside-float-bar .website.on{
    background-image: url("/images/data-icon/icon_website_1.png");
}
.aside-float-bar li.bankcard{
    background-image: url("/images/data-icon/hover/icon_bankcard_unselected.png");
}
.aside-float-bar li.bankcard:hover{
    background-image: url("/images/data-icon/hover/icon_bankcard_selected.png");
}
.aside-float-bar .bankcard.on{
    background-image: url("/images/data-icon/icon_bankcard_1.png");
}
.change-btn i{
    display: inline-block;
    width: 24px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
.change-btn i.prev{
    margin-right: 14px;
    background: url("/images/explorer/icon_previous.png") no-repeat;
}
.change-btn i.next{
    background: url("/images/explorer/icon_next.png") no-repeat;
}
.word-frequency-list li.active .precess{
    display: none;
}
.word-frequency-list li.active .change-btn{
    display: block;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.word-frequency-msg{
    padding:20px 42px;
}
.word-frequency-msg p{
    height: 40px;
    line-height: 40px;
    font-size:14px;
    color:#3e3e3e;
    vertical-align: middle;
}
.word-frequency-msg div{
    margin-left:24px;
}
.word-frequency-msg div i{
    margin:0 12px;
    display: inline-block;
    width: 24px;
    height: 16px;
    vertical-align: middle;
}
.word-frequency-msg div i.prev-icon{
    background: url("/images/explorer/icon_previous.png") no-repeat;
}
.word-frequency-msg div i.next-icon{
    background: url("/images/explorer/icon_next.png") no-repeat;
}
.word-frequency-msg div b{
    vertical-align: middle;
    margin-right:10px;
    display: inline-block;
    width: 12px;
    height: 12px;
}
.word-frequency-msg div p span{
    margin-right:40px;
}
.bg-red{
    background: #ea4844;
}
.bg-yel{
    background:#ffea00 ;
}
.ml10{
    margin-left:10px;
}
/*搜索结果页显示整理人二维码*/

.viewer-container{
    width:100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0,0,0,.5);
    direction: ltr!important;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    z-index: 999;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    display: none;
}


.viewer-button::before{
    font-size: 0;
    line-height: 0;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    color: transparent;
    background-image: url('../images/icon_upload_close.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.viewer-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000;
    background-color: rgba(0,0,0,.5);
}
.viewer-canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.viewer-canvas>img {
    width: auto;
    height: auto;
    margin: 15px auto;
    display: block;
    min-width: 50px!important;
    max-width: none!important;
    max-height: none!important;
}

/******搜索加载动画*******/
.loading-animation {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.loading-animation .bar{
    background: #54bb99;
    border: 1px solid #54bb99;
    float: left;
    margin: 6px 4px 0 0;
    width: 6px;
    height: 18px;
    -webkit-animation: facebook-pulse 1s linear infinite normal;
    -moz-animation: facebook-pulse 1s linear infinite normal;
    -ms-animation: facebook-pulse 1s linear infinite normal;
    animation: facebook-pulse 1s linear infinite normal;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
}
.loading-animation .bar:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.loading-animation .bar:last-child {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    margin-right: 0;
}
@keyFrames facebook-pulse {
    10% {
        margin-top: 5px;
        height: 22px;
        border-color: #d1d8e6;
        background-color: #bac5db;
    }

    20% {
        margin-top: 0;
        height: 32px;
        border-color: #d1d7e2;
        background-color: #bac5db;
    }
    30% {
        margin-top: 1px;
        height: 30px;
        border-color: #d1d8e6;
        background-color: #bac5db;
    }
    40% {
        margin-top: 3px;
        height: 26px;
    }
    50% {
        margin-top: 5px;
        height: 22px;
    }
    60% {
        margin-top: 6px;
        height: 18px;
    }
}

.load-animation {
    width: 150px;
    height: 15px;
    margin: 0 auto;
    margin-top: 100px;
}
.load-animation span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background: #54bb99;
    -webkit-animation: load 1.04s ease infinite;
}
.load-animation span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}
.load-animation span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}
.load-animation span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}
.load-animation span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}
.load-animation span:nth-child(5) {
    -webkit-animation-delay: 0.65s;
}
.load-animation span:last-child {
    margin-right: 0px;
}
.load-box{
    display: none;
    width: 600px;
}
@keyFrames load{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/******关联报表模块*******/

.mt30{
    margin:30px 0 50px 0;
}
.report-search-title{
    margin-bottom: 24px;
    width: 680px;
    height: 36px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 46px 0 22px;
    border:1px solid #53a6f7;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position: relative;
    font-size: 14px;
}
.report-search-title input{
    height: 34px;
    width:600px;
    overflow: hidden;
    white-space:nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.report-search-title span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/images/icon_search.png") no-repeat;
    position: absolute;
    right:20px;
    top:7px;
    cursor:pointer;
}
.report-search-list{
    width: 680px;
    min-height: 148px;
    max-height:460px;
    overflow-y: auto;
    border: 1px solid #c8c8c8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.report-search-list p{
    margin-top:60px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color:#228df5;
}
.report-search-list ul{
    padding:0 14px;
}
.report-search-list ul li{
    height: 40px;
    line-height: 40px;
    font-size:12px;
    border-bottom: 1px dashed #dcdcdc;
    color:#303030;
    cursor: pointer;
}
/*.report-search-list ul li:last-child{*/
    /*border:none;*/
/*}*/
.report-search-list ul li:hover{
    background: #f2f2f2;
}
.report-choose-box{
    width: 212px;
    margin-left: 68px;
    border:1px solid #7bb8f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.report-choose-box h2{
    height: 36px;
    line-height: 36px;
    background: #cee3f6;
    padding:0 14px;
    color:#268aee;
    font-size: 14px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.report-choose-box ul{
    padding:0 10px;
}
.report-choose-box ul li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #dcdcdc;
    color:#303030;
}
.report-choose-box ul li::before{
    display: inline-block;
    margin-left:2px;
    content: '';
    width:6px;
    height: 6px;
    line-height: 6px;
    vertical-align: middle;
}
.report-choose-box .color1::before{
    background: #c23531;
}
.report-choose-box .color2::before{
    background: #2f4554;
}
.report-choose-box .color3::before{
     background: #61a0a8;
 }
.report-choose-box .color4::before{
    background: #d48265;
}
.report-choose-box .color5::before{
    background: #91c7ae;
}
.report-choose-box .color6::before{
    background: #749f83;
}
.report-choose-box .color7::before{
    background: #ca8622;
}
.report-choose-box .color8::before{
    background: #bda29a;
}
.report-choose-box .color9::before{
    background: #6e7074;
}
.report-choose-box .color10::before{
    background: #2c77be;
}
.report-choose-box ul li span{
    margin-left: 13px;
    display: inline-block;
    width:148px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    vertical-align: middle;
    /*cursor: pointer;*/
}
.report-choose-box ul li i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("/images/del-item.png") no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.report-choose-list p{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color:#ccc;
    padding-top:64px;
    text-align: center;
}
.report-choose-list{
    min-height:172px;
    max-height: 482px;
}
.report-choose-list input.report-map-btn{
    margin:24px 0 20px 0;
}
.view-result-count p.relation-report-btn{
    padding-left:0;
    font-weight: normal;
    font-size:12px;
}
.relation-report-btn a{
    color: #268aee;
}
.relation-report-btn span{
    margin:0 10px;
    color:#dcdcdc;
}
