.w-connent-box{
    display: none;
    height: 100%;
}
.w-uploader-box{
    padding: 20px;
}
.w-uploader-box-header{
    height: 40px;
    line-height: 40px;
    padding-left:16px;
    font-size:14px;
    color:#a0a0a0;
    background: #f5f5f5;
}
.w-account-manage-iframe{
    width:100%;
    height:100%;
}
.w-uploader-container{
    margin-top:20px;
    height:600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #e6e6e6;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
.w-uploader-class-box{
    margin: 32px 0 0 30px;
    position: relative;
    z-index: 100;
}
.w-uploader-class-box span{
    margin-right: 4px;
    font-size: 14px;
    color: #4b4b4b;
    line-height: 36px;
    font-weight: 700;
}
.w-uploader-class-box>div{
    width:480px;
}
.w-search-select{
    padding:0 10px;
    width: 400px;
    height: 36px;
    border:1px solid #c8c8c8;
    cursor:pointer;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    position: relative;
    box-sizing: border-box;
}
.w-search-select-box{
    width: 398px;
    border: 1px solid #c6ccd2;
    border-top:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #fff;
    position: absolute;
    top: 35px;
    left:-1px;
    display: none;
    z-index: 8;
    overflow: hidden;
}
.w-search-select-option, .w-search-class-option, .w-search-second-class-option{
    max-height: 182px;
    width:auto;
    font-size:14px;
    color:#4a4a4a;
    line-height: 36px;
    background: #fff;
    overflow-y:auto;
    overflow-x: hidden;
    position: relative;
    left:0;
}
.w-slipe-box{
    position: relative;
    top:0;
    left:0;
}
.w-slipe-box p{
    padding:0 10px;
    cursor:pointer;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.w-slipe-box p:hover {
    background: #f0f0f0;
}
.w-search-select-value i,.w-search-class-value i,.w-search-second-class-value i{
    margin-top:16px;
    width: 10px;
    height: 5px;
    background: url("../images/icon_search_select_dropdown.png") no-repeat;
}
.w-uploader-source{
    margin:32px 0 0 30px;
    position: relative;
    z-index:90;
}
.w-uploader-source span{
    margin-right:4px;
    font-size:14px;
    color:#4b4b4b;
    line-height: 36px;
    font-weight:700;
}
p.border-b0,.border-b0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.w-search-source-input input{
    padding:0 10px;
    margin:10px 0 0 10px;
    width: 358px;
    height: 34px;
    border:1px solid #c6ccd2;
    font-size:14px;
}
.w-search-source-input img{
    position: absolute;
    top:22px;
    right:24px;
}
.w-uploader-data-table{
    width:100%;
    height:170px;
    overflow-x: auto;
    border:1px solid #e6e6e6;
    position: relative;
}
.w-uploader-view-btn{
    margin-top:40px;
    display: none;
}
.w-search-select-value span{
    display: inline-block;
    max-width:360px;
    white-space: nowrap;
    overflow: hidden;
}
.w-uploader-view-confirm{
    background: #4a7fc6;
    color:#fff;
}
.w-uploader-view-continue {
    background: #e6e6e6;
    color: #4c4c4c;
    border: 1px solid #c8c8c8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.w-uploader-view-cancel{
    background: #fff;
    color:#e6403a;
    border:1px solid #e6403a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.w-uploader-view-del-btn i{
    background: url("../images/icon_delete_2.png") no-repeat;
}
.w-uploader-data-view{
    margin-top:20px;
}
a.w-uploader-view-del-btn{
    color:#57aea7;
    vertical-align: bottom
}
.w-tab-change-delete{
    display: none;
}
.w-search-grade{
    margin-top:22px;
}
.w-uploader-view-confirm-delete{
    background: #4a7fc6;
    color:#fff;
}
.w-search-second-change{
    position: relative;
}
.w-search-cover{
     width: 420px;
     height: 36px;
     background: transparent;
     position: absolute;
     z-index:1000;
     top:0;
     left:50px;
 }
.bg-cover{
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
}