.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	width: 120px;
	height: 36px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
.picker {
	width: 120px;
	height: 36px;
	position: absolute;
	top: 188px;
	left: 30px;
	border-radius: 4px;
	z-index: 10;
}
