<div ng-controller="reportMap-ctrl">
    <div class="report-shade" ng-show="switch.isShowReport" ng-click="hideShade()"></div>
    <div ng-show="switch.isShowReport" class="report-box">
        <div class="panel-heading">
            <b>选择报表</b><span style="margin:0 12px;color:#c8c8c8;">|</span><span style="color:#a0a0a0;font-size:14px">请选择需要关联的报表</span>
            <!--系统运行状态，反应给用户-->
            <span ng-click="hideShade()" class="hide-btn fr"></span>
        </div>
        <div class="clearfix mt30">
            <div class="fl report-search-box">
                <p class="report-search-title">
                    <input type="text" placeholder="请输入报表名" />
                    <span></span>
                </p>
                <div class="report-search-list">
                    <ul>
                        <li>文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名</li>
                        <li>文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名</li>
                        <li>文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名</li>
                        <li>文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名</li>
                        <li>文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名</li>
                        <li>文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名</li>
                    </ul>
                    <!--<p>请在搜索输入要添加的报表并双击选中</p>-->
                </div>
            </div>
            <div class="fl report-choose-box">
                <h2>选中报表列表</h2>
                <div class="report-choose-list">
                    <ul>
                        <li class="color1"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color2"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color3"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color4"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color5"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color6"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color7"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color8"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color9"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                        <li class="color10"><span>文件名文件名文件名文件名文件名</span><i></i></li>
                    </ul>
                    <div style="text-align: center">
                        <input type="button" value="生成图谱" class="report-map-btn" />
                    </div>
                    <!--<p>暂无报表</p>-->
                </div>

            </div>
        </div>
    </div>
</div>