/*!
 * web-explorer.css
 * Author: miaoqiyuan.cn
 */


.navbar-brand{font-family:'Microsoft Yahei';}
.clearfix{clear:both;float:none;}
.loading{padding:2px 5px;font-family:'Impact';font-weight:200;background:#FF0;color:#F00;}
.explorer-box{
    width: 1002px;
    min-height: 258px;
    background: #fff;
    padding:0 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    /*top:100px;*/
    left:50%;
    margin-left:-501px;
    z-index: 10000;
}
.explorer-box .container{
    padding-bottom: 20px;
}
.panel-heading{
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #c8c8c8;
}
.hide-btn{
    margin-top:20px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url("/images/explorer/icon_close.png") no-repeat;
    cursor: pointer;
}
ul.path-list{line-height:24px;margin-top:12px;float:left;list-style:none;padding:0;}
ul.path-list li{float:left;margin-left:5px;cursor:pointer;color:#303030;font-size:12px}
ul.path-list li button{background: #fff;border: none;cursor: pointer;
}
ul.path-list li button.btn-primary{ color: #016adc;}
ul.path-list li i{color:#016adc;padding:0 10px 0 12px;}
.panel-body{max-height: 600px;overflow-y: auto;width:100%;}
.explorer-view dl{list-style:none;margin:0;padding:12px 13px 3px;float:left;position: relative;}
.explorer-view dl dt{cursor:pointer;border:solid 1px transparent;width:90px;height:148px;overflow:hidden;}
.explorer-view dl dt div{
    border:1px solid #c8c8c8;
    width: 88px;
    height: 106px;
    background: url("/images/explorer/pic_unknown.png") no-repeat center 14px;
    position: relative;
}

.explorer-view dl dt i{position:absolute;left:0;bottom:0;width:88px;text-align:center;color:#FFF;background:#c8c8c8;font-weight:200;font-size:12px;line-height:20px;}
.explorer-view dl dt b{text-align:center;vertical-align:bottom;text-decoration:none;display:block;line-height:40px;font-size:12px;font-weight:400;height:30px;color:#303030;}
.explorer-view dl dt:hover{background-color:#FAFAFA;border-color:#EEE;}
.explorer-view dl dt:hover b{border-bottom-left-radius:5px;color:#666;border-bottom-right-radius:5px;}
 
/*图标，在easyicon.net上下载后，合并的，每个图标尺寸100px*/
.explorer-view .folder div{background-image:url("/images/explorer/pic_folder.png") }
.explorer-view .file.sql div{background-image:url("/images/explorer/pic_unknown.png")}
.explorer-view .file.asp div{background-image:url("/images/explorer/pic_css.png")}
.explorer-view .file.css div{background-image:url("/images/explorer/pic_css.png")}
.explorer-view .file.html div{background-image:url("/images/explorer/pic_html.png")}
.explorer-view .file.js div{background-image:url("/images/explorer/pic_css.png")}
.explorer-view .file.xml div{background-image:url("/images/explorer/pic_html.png")}
.explorer-view .file.PHP div,
.explorer-view .file.php div{background-image:url("/images/explorer/pic_css.png")}
.explorer-view .file.jpg div,
.explorer-view .file.JPG div,
.explorer-view .file.jpeg div,
.explorer-view .file.JPEG div,
.explorer-view .file.gif div,
.explorer-view .file.GIF div,
.explorer-view .file.PNG div,
.explorer-view .file.png div{background-image:url("/images/explorer/pic_image.png")}
.explorer-ciew .file.mp4 div,
.explorer-ciew .file.avi div,
.explorer-ciew .file.MP4 div,
.explorer-ciew .file.AVI div,
.explorer-ciew .file.wmv div,
.explorer-ciew .file.WMV div,
.explorer-ciew .file.flv div,
.explorer-ciew .file.FLV div,
.explorer-ciew .file.mov div,
.explorer-ciew .file.MOV div{background-image:url("/images/explorer/pic_video.png")}
.explorer-view .file.mdb div{background-image:url("/images/explorer/pic_unknown.png")}
.explorer-view .file.txt div{background-image:url("/images/explorer/pic_html.png")}
.explorer-view .file.zip div,
.explorer-view .file.rar div,
.explorer-view .file.tar div,
.explorer-view .file.gz div{background-image:url("/images/explorer/pic_zip.png")}
@media screen and (max-width: 1368px){
    .explorer-box .panel-body{
        max-height:500px;
    }
}
